@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model wa_1235_jk_ecm_v4.Models.DrillMaster
@{
	ViewData["Title"] = "DrillAddStamp";
	Layout = "~/Views/Shared/_ECMMaster.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- InstanceBeginEditable name="EditRegion1" -->


    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <h5>Add</h5>
                </div>
                <div class="col-lg-9">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" onclick="UserDetailChange('Index')">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">ECM</a></li>
                        <li class="breadcrumb-item active">Masters</li>
                        <li class="breadcrumb-item active">Cutting Tools</li>

                        <li class="breadcrumb-item"><a href="@Url.Action("DrillStamp", "DrillMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })">Stamps</a></li>
                        <li class="breadcrumb-item active">Add </li>               
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="btnwidth50 float-right ">
                        <button type="button" class="btn btn-block bg-gradient-danger btn-xs float-left"
                                onclick="history.back()" id="btnback" title="Go back to the previous page">
                            Back
                        </button>
                    </div>

                </div>

            </div><!-- /.container-fluid -->
            </div><!-- /.container-fluid -->

    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary card-outline p-a-2" style="height: 100%;">

                        <!-- /.card-header -->
                        <div class="card-body">

                            <div class="col-md-12 mr-1">

                                <div class="row">

                                    <div class="form-group col-md-2">
                                        <label>Product Line</label>
                                        @Html.DropDownListFor(m => m.ProdId, new SelectList(Model.ProdLine_List, "Id", "ProductLine"), "Select", new { @class = "form-control select2", @id = "ddlproductline", @onchange = "loadTypeByProductLine();" })



                                    </div>


                                    <div class="form-group col-md-2">
                                        <label>Brand</label>
                                        @Html.DropDownListFor(m => m.BrandCode, new SelectList(Model.Brand_List, "BrandCode", "BrandName"), "Select", new { @class = "form-control select2", @id = "ddlBrand" })


                                    </div>


                                    <div class="form-group col-md-4">
                                        <label>Type </label>
                                       @*  <select id="TxtFileType" class="form-control select2">
                                            <option value="">Select</option>

                                            @foreach (var item in Model.TypeDropdown)
                                            {
                                                <option value="@item.Id" data-code="@item.CTTypeCode">
                                                    @item.CTTypeName
                                                </option>
                                            }
                                        </select> *@
                                        <select id="TxtFileType" class="form-control select2" onchange="loadCTSizeDropdown();">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Size </label>
@*                                         @Html.DropDownListFor(m => m.SizeID, new SelectList(Model.GetSizeList, "SizeID", "Size"), "Select", new { @class = "form-control select2", @id = "ddlSize", onchange = "clearError('spddlproductline')" })
 *@
                                        <select id="ddlSize" class="form-control select2" onchange="loadCTSubTypeDropdown();">
                                            <option value="">Select</option>
                                        </select>
                                    </div>


                               

                                    <div class="form-group col-md-2">
                                        <label>Sub Type </label>
@*                                         @Html.DropDownListFor(m => m.SubTypeId, new SelectList(Model.SubtypeDD, "SubTypeId", "SubTypeName"), "Select", new { @class = "form-control select2", @id = "dllCTFileSubType", onchange = "clearError('spCTddlSize');" })
 *@                                     <select id="dllCTFileSubType" class="form-control select2" >
                                            <option value="">Select</option>
                                        </select>
                                    </div>



                                    <div class="form-group col-md-2">
                                        <label>Sales </label>
                                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllFileSubType">
                                            <option value="0">Select</option>

                                            <option value="1">Export</option>

                                            <option value="2">Domestic</option>
                                        </select>
                                    </div>



                                    @* <div class="col-md-2">
                                        <label class="control-label padd0">Image Upload</label> &nbsp;
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="exampleInputFile">
                                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                            </div>
                                        </div>
                                    </div> *@
                                    <div class="form-group col-md-2">
                                        <label class="control-label padd0">Image Upload</label> &nbsp;
                                        <div class="input-group">
                                            <div class="custom-file">

                                                <input name="" type="file" class="custom-file-input" id="FileUploadIMG">
                                                <label class="custom-file-label" for="FileUploadIMG">Choose file</label>

                                            </div>
                                            <input type="hidden" id="hdnExistingImage">
                                        </div>
                                        <span id="spTxtFileUploadIMG" class="text-danger"></span>
                                    </div>

                                    <div class="btnwidth50 float-right mr-1 " style="margin-top:35px;">
                                        <button id="btn_DrillAddStamp" type="button" class="btn btn-block bg-gradient-primary   btn-xs float-left"
                                                onclick="SaveStampDetails()" title="Go to the next page">
                                            Submit
                                        </button>
                                    </div>

                                </div>








                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </section>




    <!-- InstanceEndEditable -->
</div>
<script>
            function loadCTSubTypeDropdown() {
        var productLineId = $('#ddlproductline').val();
        var typeId = $('#TxtFileType').val();
        var sizeId = $('#ddlSize').val();

        $('#dllCTFileSubType').empty();
        $('#dllCTFileSubType').append('<option value="0">Select</option>');

        if (typeId === "0" || sizeId === "0") {
            return;
        }

        var jsonData = {
            CTTypeRowId: typeId,
            SizeDetailsRowId: sizeId,
            ProductLineRowId:productLineId
        };

        $.ajax({
            url: '@Url.Action("CTSubTypeDropdown", "DrillMaster")',
            type: 'POST',
            data: {
                JsonData: JSON.stringify(jsonData)
            },

            success: function (response) {

               if (response && response.response) {

                $.each(response.response, function (index, item) {

                    $('#dllCTFileSubType').append(
                        $('<option>', {
                            value: item.subTypeId,
                            text: item.subTypeName
                        })
                    );

                });


                    // ⭐ Set selected subtype in EDIT mode
                    if (selectedSubTypeId && selectedSubTypeId !== "0") {

                        $('#dllCTFileSubType')
                            .val(selectedSubTypeId)
                            .trigger('change');
                    }

                    $('#dllCTFileSubType').trigger('change.select2');

                }
            },

            error: function (xhr) {
                console.log("Error loading SubType:", xhr.responseText);
            }
        });
    }
    function loadTypeByProductLine(selectedTypeId = null, selectedSizeId = null) {

                var productLineId = $('#ddlproductline').val();

                // Reset Type dropdown
                $('#TxtFileType').empty();
                $('#TxtFileType').append('<option value="">Select</option>');

                if (!productLineId || productLineId === "0") {
                    return;
                }

                var jsonData = {
                    ProductLineRowId: productLineId
                };

                $.ajax({
                    url: '@Url.Action("GetCTTypeData", "DrillMaster")',
                    type: 'POST',
                    data: {
                        JsonData: JSON.stringify(jsonData)
                    },

                    success: function (data) {

                        if (data && data.response) {

                            $.each(data.response, function (index, item) {

                                $('#TxtFileType').append(
                                    $('<option>', {
                                        value: item.id,
                                        text: item.ctTypeName,
                                        'data-code': item.ctTypeCode
                                    })
                                );

                            });
                                  if (selectedTypeId) {

                            $('#TxtFileType')
                                .val(selectedTypeId)
                                .trigger('change');

                        }
                             // Now load Size
                            loadCTSizeDropdown(selectedTypeId, selectedSizeId);
                            $('#TxtFileType').trigger('change.select2');
                        }
                    },

                    error: function (xhr) {
                        console.log("Error loading Type:", xhr.responseText);
                    }
                });
            }
                        function loadCTSizeDropdown(typeId = null, selectedSizeId = null) {

                var typeId = $('#TxtFileType').val();

            $('#ddlSize').empty();
            $('#ddlSize').append('<option value="0">Select</option>');

            if (typeId === "0" || typeId === null) {
                return;
            }

            var jsonData = {
                CTTypeRowId: typeId
            };

            $.ajax({
                url: '@Url.Action("Get_CTSizeDropdown", "ItemMaster")',
                type: 'POST',
                data: {
                    JsonData: JSON.stringify(jsonData)
                },

                success: function (response) {

                    if (response && response.ctSizeList) {

                        $.each(response.ctSizeList, function (index, item) {

                            $('#ddlSize').append(
                                $('<option>', {
                                    value: item.sizeID,
                                    text: item.size
                                })
                            );

                        });

                                   if (selectedSizeId) {

                            $('#ddlSize')
                                .val(selectedSizeId)
                                .trigger('change');
                        }

                        $('#ddlSize').trigger('change.select2');

                    }
                },

                error: function (xhr) {
                    console.log("Error loading Size dropdown:", xhr.responseText);
                }
            });
        }
       async function  SaveStampDetails() {

        var ProductLineRowId = $("#ddlproductline").val();
        var BrandCode = $("#ddlBrand").val();
        var SizeRowId = $("#ddlSize").val();
        var CTTypeRowId = $("#TxtFileType").val();
        var SubTypeRowId = $("#dllCTFileSubType").val();
        var Sales = $("#dllFileSubType").val();

        var fileInput = document.getElementById("FileUploadIMG");
        var imageName = "";

        if (fileInput.files.length > 0) {
            imageName = fileInput.files[0].name;
        }

        var CreatedBy = parseInt('@Context.Session.GetInt32("CreatedBy")');
        var CreatedDate = moment.utc().format();
          let filenameIMG =
            ($('#FileUploadIMG')[0].files[0])
                ? $('#FileUploadIMG')[0].files[0].name
                : '';
        var JsonData = {
            ProductLineRowId: ProductLineRowId,
            CTTypeRowId: CTTypeRowId,
            SizeRowId: SizeRowId,
            SubTypeRowId: SubTypeRowId,
            BrandRowId: BrandCode,
            Sales: Sales,
            ImageName: imageName,
            CreatedBy: CreatedBy,
            CreatedDate: CreatedDate
        };

        var JSONInsert = JSON.stringify(JsonData);

        $.ajax({
            type: "POST",
            url: '@Url.Action("CT_AddStampDetail", "DrillMaster")',
            data: { JsonData: JSONInsert },
            dataType: "json",
            beforeSend: function () {
                $("#loader").show();
            },
            success:  async function (data)  {

           
                 if (data && data.response  === "Stamp details inserted successfully") {

                    let selectedImageNameSample =
                        cleanFileName(filenameIMG);

                            let targetPathSample =
            'others\\ct\\stamps\\' + BrandCode.toLowerCase();
           

                    let uploadedFileSample =
                        document.getElementById('FileUploadIMG').files[0];

                    await copyFile(
                        uploadedFileSample,
                        targetPathSample,
                        selectedImageNameSample
                    );

                    alert("Type added successfully.");

                   var pageID = encodeURIComponent('@Context.Request.Query["PageID"]');
    var parentID = encodeURIComponent('@Context.Request.Query["ParentID"]');
    var moduleID = encodeURIComponent('@Context.Request.Query["ModuleID"]');
    var modulePageID = encodeURIComponent('@Context.Request.Query["ModulePageID"]');

    // Construct the full URL
    url = "@Url.Action("DrillStamp", "DrillMaster")" +
        "?PageID=" + pageID +
        "&ParentID=" + parentID +
        "&ModuleID=" + moduleID +
        "&ModulePageID=" + modulePageID;

    // Redirect
    window.location.href = url;
                }
                
               
                
            },
            error: function () {
                alert("Error while saving stamp details");
            },
            complete: function () {
                $("#loader").hide();
            }
        });

    }
         async function copyFile(fileInput, path, imageName) {
        var JwToken = '@ViewBag.JWTToken';
      var blobStorageUrl = '@ViewBag.ApiUrl';
      let blobPathPrefix = '@ViewBag.BaseBlobPath';
        var formdata = new FormData();
        // ✅ Append file correctly
        formdata.append("files", fileInput, imageName); // << change 'files' → 'file'

       // let blobPathPrefix = '@ViewBag.BaseBlobPath';
        blobPathPrefix = (blobPathPrefix || "").replace(/\\/g, "/").trim();
        if (blobPathPrefix.length > 0 && !blobPathPrefix.endsWith("/")) {
            blobPathPrefix += "/";
        }
        //    normalizePathPrefix(path)
        var Patths = blobPathPrefix + normalizePathPrefix(path.toLowerCase());
        formdata.append("blobPathPrefix", Patths);
        formdata.append("Policy", 0);


        $.ajax({
            url: blobStorageUrl + 'Files/upload',
            headers: {
                Authorization: 'Bearer ' + JwToken
            },
            method: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            mimeType: "multipart/form-data",
            data: formdata,
            //async: false,
            success: function (result) {
                let jsonResult = JSON.parse(result); // serialize into JSON string
                if (jsonResult && jsonResult.length > 0) {
                    let json = {
                      //  UserId: parseInt(CreatedBy),
                        ImageName: imageName,
                        BlobJson: result,
                    };

                    var Jsons = JSON.stringify(json);
                    console.log(`uploading: ${Jsons}`);



                }

            },
            error: function (err) {
                alert(err.message);
            }
        });


    }
</script>