@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model wa_1235_jk_ecm_v4.Models.DrillMaster
@{
	ViewData["Title"] = "DrillAddStamp";
	Layout = "~/Views/Shared/_ECMMaster.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- InstanceBeginEditable name="EditRegion1" -->


    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <h5>Add</h5>
                </div>
                <div class="col-lg-9">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" onclick="UserDetailChange('Index')">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">ECM</a></li>
                        <li class="breadcrumb-item active">Masters</li>
                        <li class="breadcrumb-item active">Cutting Tools</li>

                        <li class="breadcrumb-item"><a href="@Url.Action("DrillStamp", "DrillMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })">Stamps</a></li>
                        <li class="breadcrumb-item active">Add </li>               
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="btnwidth50 float-right ">
                        <button type="button" class="btn btn-block bg-gradient-danger btn-xs float-left"
                                onclick="history.back()" id="btnback" title="Go back to the previous page">
                            Back
                        </button>
                    </div>

                </div>

            </div><!-- /.container-fluid -->
            </div><!-- /.container-fluid -->

    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary card-outline p-a-2" style="height: 100%;">

                        <!-- /.card-header -->
                        <div class="card-body">

                            <div class="col-md-12 mr-1">

                                <div class="row">

                                    <div class="form-group col-md-2">
                                        <label>Product Line</label>
                                        @Html.DropDownListFor(m => m.ProdId, new SelectList(Model.ProdLine_List, "Id", "ProductLine"), "Select", new { @class = "form-control select2", @id = "ddlproductline", @onchange = "loadTypeByProductLine();clearError('errProductLine');" })

                                        <span id="errProductLine" class="text-danger"></span>

                                    </div>


                                    <div class="form-group col-md-2">
                                        <label>Brand</label>
                                        @Html.DropDownListFor(m => m.BrandCode, new SelectList(Model.Brand_List, "BrandCode", "BrandName"), "Select", new { @class = "form-control select2", @id = "ddlBrand" ,@onchange = "clearError('errBrand');" })
                                        <span id="errBrand" class="text-danger"></span>

                                    </div>


                                    <div class="form-group col-md-4">
                                        <label>Type </label>
                                      
                                        <select id="TxtFileType" class="form-control select2" onchange="loadCTSizeDropdown();clearError('errType');">
                                            <option value="">Select</option>
                                        </select>
                                        <span id="errType" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Size </label>

                                        <select id="ddlSize" class="form-control select2" onchange="loadCTSubTypeDropdown();clearError('errSize');">
                                            <option value="">Select</option>
                                        </select>
                                        <span id="errSize" class="text-danger"></span>
                                    </div>


                               

                                    <div class="form-group col-md-2">
                                        <label>Sub Type </label>
                                        <select id="dllCTFileSubType" class="form-control select2" onchange="clearError('errSubType');">
                                            <option value="">Select</option>
                                        </select>
                                        <span id="errSubType" class="text-danger"></span>
                                    </div>



                                    <div class="form-group col-md-2">
                                        <label>Sales </label>
                                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllFileSubType" onchange="clearError('errSales');">
                                            <option value="0">Select</option>

                                            <option value="1">Export</option>

                                            <option value="2">Domestic</option>
                                        </select>
                                        <span id="errSales" class="text-danger"></span>
                                    </div>



                                    @* <div class="col-md-2">
                                        <label class="control-label padd0">Image Upload</label> &nbsp;
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="exampleInputFile">
                                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                            </div>
                                        </div>
                                    </div> *@
                                    <div class="form-group col-md-2">
                                        <label class="control-label padd0">Image Upload</label> &nbsp;
                                        <div class="input-group">
                                            <div class="custom-file">

                                                <input name="" type="file" class="custom-file-input" id="FileUploadIMG" onchange="clearError('spTxtFileUploadIMG');GetImgName();">
                                                <label class="custom-file-label" for="FileUploadIMG">Choose file</label>

                                            </div>
                                            <input type="hidden" id="hdnExistingImage">
                                        </div>
                                        <span id="spTxtFileUploadIMG" class="text-danger"></span>
                                        <span id="spimgName" href="#"></span>
                                    </div>

                                    <div class="btnwidth50 float-right mr-1 " style="margin-top:35px;">
                                        <button id="btn_DrillAddStamp" type="button" class="btn btn-block bg-gradient-primary   btn-xs float-left"
                                                onclick="SaveStampDetails()" title="Go to the next page">
                                            Submit
                                        </button>
                                    </div>

                                </div>








                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </section>




    <!-- InstanceEndEditable -->
</div>
<script>
    function loadCTSubTypeDropdown() {
        var productLineId = $('#ddlproductline').val();
        var typeId = $('#TxtFileType').val();
        var sizeId = $('#ddlSize').val();

        $('#dllCTFileSubType').empty();
        $('#dllCTFileSubType').append('<option value="0">Select</option>');

        if (typeId === "0" || sizeId === "0") {
            return;
        }

        var jsonData = {
            CTTypeRowId: typeId,
            SizeDetailsRowId: sizeId,
            ProductLineRowId:productLineId
        };

        $.ajax({
            url: '@Url.Action("CTSubTypeDropdown", "DrillMaster")',
            type: 'POST',
            data: {
                JsonData: JSON.stringify(jsonData)
            },

            success: function (response) {

               if (response && response.response) {

                $.each(response.response, function (index, item) {

                    $('#dllCTFileSubType').append(
                        $('<option>', {
                            value: item.subTypeId,
                            text: item.subTypeName
                        })
                    );

                });


                    // ⭐ Set selected subtype in EDIT mode
                   
                        $('#dllCTFileSubType')
                               .val(@ViewBag.SubTypeRowId)
                            .trigger('change');
                    

                    $('#dllCTFileSubType').trigger('change.select2');

                }
            },

            error: function (xhr) {
                console.log("Error loading SubType:", xhr.responseText);
            }
        });
    }
    function loadTypeByProductLine(selectedTypeId = null, selectedSizeId = null) {

                var productLineId = $('#ddlproductline').val();

                // Reset Type dropdown
                $('#TxtFileType').empty();
                $('#TxtFileType').append('<option value="">Select</option>');

                if (!productLineId || productLineId === "0") {
                    return;
                }

                var jsonData = {
                    ProductLineRowId: productLineId
                };

                $.ajax({
                    url: '@Url.Action("GetCTTypeData", "DrillMaster")',
                    type: 'POST',
                    data: {
                        JsonData: JSON.stringify(jsonData)
                    },

                    success: function (data) {

                        if (data && data.response) {

                            $.each(data.response, function (index, item) {

                                $('#TxtFileType').append(
                                    $('<option>', {
                                        value: item.id,
                                        text: item.ctTypeName,
                                        'data-code': item.ctTypeCode
                                    })
                                );

                            });
                                 
                            $('#TxtFileType')
                                   .val(@ViewBag.TypeID)
                                .trigger('change');

                        
                             // Now load Size
                            loadCTSizeDropdown(selectedTypeId, selectedSizeId);
                            $('#TxtFileType').trigger('change.select2');
                        }
                    },

                    error: function (xhr) {
                        console.log("Error loading Type:", xhr.responseText);
                    }
                });
            }
    function loadCTSizeDropdown(typeId = null, selectedSizeId = null) {

                var typeId = $('#TxtFileType').val();

            $('#ddlSize').empty();
            $('#ddlSize').append('<option value="0">Select</option>');

            if (typeId === "0" || typeId === null) {
                return;
            }

            var jsonData = {
                CTTypeRowId: typeId
            };

            $.ajax({
                url: '@Url.Action("Get_CTSizeDropdown", "ItemMaster")',
                type: 'POST',
                data: {
                    JsonData: JSON.stringify(jsonData)
                },

                success: function (response) {

                    if (response && response.ctSizeList) {

                        $.each(response.ctSizeList, function (index, item) {

                            $('#ddlSize').append(
                                $('<option>', {
                                    value: item.sizeID,
                                    text: item.size
                                })
                            );

                        });

                      

                            $('#ddlSize')
                                      .val(@ViewBag.SizeRowId)
                                .trigger('change');
                        

                        $('#ddlSize').trigger('change.select2');

                    }
                },

                error: function (xhr) {
                    console.log("Error loading Size dropdown:", xhr.responseText);
                }
            });
        }

       async function SaveStampDetails() {

        // ✅ Get values
        var RequestNo = '@ViewBag.RequestNo' || 0;

        var ProductLineRowId = $("#ddlproductline").val();
        var BrandCode = $("#ddlBrand").val();
        var SizeRowId = $("#ddlSize").val();
        var CTTypeRowId = $("#TxtFileType").val();
        var SubTypeRowId = $("#dllCTFileSubType").val();
        var Sales = $("#dllFileSubType").val();
        var fileInput = document.getElementById("FileUploadIMG");

        var existingImage = $("#hdnExistingImage").val();

        // ✅ Reset errors
        $("#errProductLine, #errBrand, #errType, #errSize, #errSubType, #errSales, #spTxtFileUploadIMG").text("");

        let isValid = true;

        // ✅ Dropdown validations
        if (!ProductLineRowId) {
            $("#errProductLine").text("Please select Product Line");
            isValid = false;
        }

        if (!BrandCode) {
            $("#errBrand").text("Please select Brand");
            isValid = false;
        }

        if (!CTTypeRowId) {
            $("#errType").text("Please select Type");
            isValid = false;
        }

        if (!SizeRowId) {
            $("#errSize").text("Please select Size");
            isValid = false;
        }

        if (!SubTypeRowId) {
            $("#errSubType").text("Please select Sub Type");
            isValid = false;
        }

        if (!Sales || Sales === "0") {
            $("#errSales").text("Please select Sales");
            isValid = false;
        }

        // ✅ Image validation
        if (RequestNo == 0) {
            if (fileInput.files.length === 0) {
                $("#spTxtFileUploadIMG").text("Please upload image");
                isValid = false;
            }
        } else {
            if (fileInput.files.length === 0 && !existingImage) {
                $("#spTxtFileUploadIMG").text("Please upload image");
                isValid = false;
            }
        }

        if (!isValid) return;

        // ✅ Handle image (new or old)
        var imageName = "";

        if (fileInput.files.length > 0) {
            imageName = fileInput.files[0].name;
        } else {
            imageName = existingImage;
        }

        var CreatedBy = parseInt('@Context.Session.GetInt32("CreatedBy")');
        var CreatedDate = moment.utc().format();

        var JsonData = {
            RequestNo: RequestNo,
            ProductLineRowId: ProductLineRowId,
            CTTypeRowId: CTTypeRowId,
            SizeRowId: SizeRowId,
            SubTypeRowId: SubTypeRowId,
            BrandRowId: BrandCode,
            Sales: Sales,
            ImageName: imageName,
            CreatedBy: CreatedBy,
            CreatedDate: CreatedDate
        };

        var JSONInsert = JSON.stringify(JsonData);

        $.ajax({
            type: "POST",
            url: '@Url.Action("CT_AddStampDetail", "DrillMaster")',
            data: { JsonData: JSONInsert },
            dataType: "json",

            beforeSend: function () {
                $("#loader").show();
            },

            success: async function (data) {
                  
                if (data && (data.response === "Stamp details inserted successfully"
                    || data.response === "Stamp details updated successfully")) {

                    // ✅ Upload only if new file selected
                    if ($('#FileUploadIMG')[0].files.length > 0) {

                        let uploadedFile = $('#FileUploadIMG')[0].files[0];
                        let selectedImageName = cleanFileName(uploadedFile.name);

                        let targetPath = 'others\\ct\\stamps\\' + BrandCode.toLowerCase();

                        await copyFile(uploadedFile, targetPath, selectedImageName);
                              await new Promise(resolve => setTimeout(resolve, 2000));
                    }
                         alert(data.response);

                    var pageID = encodeURIComponent('@Context.Request.Query["PageID"]');
                    var parentID = encodeURIComponent('@Context.Request.Query["ParentID"]');
                    var moduleID = encodeURIComponent('@Context.Request.Query["ModuleID"]');
                    var modulePageID = encodeURIComponent('@Context.Request.Query["ModulePageID"]');

                    var url = "@Url.Action("DrillStamp", "DrillMaster")" +
                        "?PageID=" + pageID +
                        "&ParentID=" + parentID +
                        "&ModuleID=" + moduleID +
                        "&ModulePageID=" + modulePageID;

                    window.location.href = url;
                }
            },

            error: function () {
                alert("Error while saving stamp details");
            },

            complete: function () {
                $("#loader").hide();
            }
        });
    }
 async function copyFile(fileInput, path, imageName) {
        var JwToken = '@ViewBag.JWTToken';
      var blobStorageUrl = '@ViewBag.ApiUrl';
      let blobPathPrefix = '@ViewBag.BaseBlobPath';
        var formdata = new FormData();
        // ✅ Append file correctly
        formdata.append("files", fileInput, imageName); // << change 'files' → 'file'

       // let blobPathPrefix = '@ViewBag.BaseBlobPath';
        blobPathPrefix = (blobPathPrefix || "").replace(/\\/g, "/").trim();
        if (blobPathPrefix.length > 0 && !blobPathPrefix.endsWith("/")) {
            blobPathPrefix += "/";
        }
        //    normalizePathPrefix(path)
        var Patths = blobPathPrefix + normalizePathPrefix(path.toLowerCase());
        formdata.append("blobPathPrefix", Patths);
        formdata.append("Policy", 0);


        $.ajax({
            url: blobStorageUrl + 'Files/upload',
            headers: {
                Authorization: 'Bearer ' + JwToken
            },
            method: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            mimeType: "multipart/form-data",
            data: formdata,
            //async: false,
            success: function (result) {
                let jsonResult = JSON.parse(result); // serialize into JSON string
                if (jsonResult && jsonResult.length > 0) {
                    let json = {
                      //  UserId: parseInt(CreatedBy),
                        ImageName: imageName,
                        BlobJson: result,
                    };

                    var Jsons = JSON.stringify(json);
                    console.log(`uploading: ${Jsons}`);



                }

            },
            error: function (err) {
                alert(err.message);
            }
        });


    }
</script>
<script>
    $(document).ready(function () {
        if(@ViewBag.RequestNo != 0){

    $('#ddlproductline').val(@ViewBag.ProductLineId).trigger('change');
       $("#ddlBrand").val('@ViewBag.BrandId');
       $('#ddlproductline').prop('disabled', true);
    $('#ddlBrand').prop('disabled', true);
       $("#TxtFileType").val(@ViewBag.TypeID).trigger('change');
          let salesText = '@ViewBag.Sales';

       let salesValue = salesText === "Export" ? "1" :
                        salesText === "Domestic" ? "2" : "0";

       $("#dllFileSubType").val(salesValue).trigger('change');
        var imageName = '@ViewBag.ImageName';

       if (imageName) {
           $('.custom-file-label').text(imageName); // show in input label
           $("#hdnExistingImage").val(imageName);   // store hidden
           $("#spimgName").text(imageName);         // optional span
       }

        }
   
    
    });

    function GetImgName(){
       var fileInput = document.getElementById("FileUploadIMG");

    if (fileInput.files.length > 0) {
        var imgName = fileInput.files[0].name;
        $("#spimgName").text(imgName);
    } else {
        $("#spimgName").text("");
    }

    }
</script>