@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model wa_1235_jk_ecm_v4.Models.DrillMaster
@{
	ViewData["Title"] = "DrillStamp";
	Layout = "~/Views/Shared/_ECMMaster.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- InstanceBeginEditable name="EditRegion1" -->
  @*   <div class="modal fade" id="nonstandard">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body text-center">
                    <input type="hidden" id="txtID" value="68">
              
                    <span>
                        <b>Request No.:</b> <span id="txtRequest"></span>, &nbsp;&nbsp;
                        <b>Brand:</b> <span id="txtBrandName"></span>, &nbsp;&nbsp;

                        <b>Image Name:</b> <span id="txtImagename"></span>, &nbsp;&nbsp;
                    </span>

                    <div class="mt-1">
                        <div>
                            <img id="displayImage1" class="img-fluid" src="" alt="File Image" />
                        </div>
                    </div>
                </div>













            </div>

        </div>
    </div> *@
    <div class="modal fade" id="nonstandard">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body text-center">
                    <input type="hidden" id="txtID" value="68">
                  
                    <span>
                        <b>Request No.:</b> <span id="txtRequest"></span>, &nbsp;&nbsp;
                        <b>Brand:</b> <span id="txtBrandName"></span>, &nbsp;&nbsp;

                        <b>Image Name:</b> <span id="txtImagename"></span>, &nbsp;&nbsp;
                    </span>

                    <div class="mt-1">
                        <div>
                            <img id="displayImage1" class="img-fluid" src="" alt="File Image" />
                        </div>
                    </div>
                </div>













            </div>

        </div>
    </div>
    <div class="modal fade" id="approve">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <input type="hidden" id="txtID" value="68">
                    <b>Request No.:</b> <span id="txtRequest1"></span>, &nbsp;&nbsp;
                    <b>Product Line:</b><span id="txtProductLine"></span>,&nbsp;&nbsp;
                    <b>Brand:</b> <span id="txtBrandName1"></span>, &nbsp;&nbsp;
                    <b>Size:</b><span id="txtSize1"></span>,&nbsp;&nbsp;
                   
                    
                    

                    
                    <br>
                    <b>Image Name:</b> <span id="txtImagename1"></span>, &nbsp;&nbsp;<span>
                        
                    </span>
                    <p style="display:none">ID: <span id="approveItemId"></span></p>
                    <div class="mt-1">
                        <div>
                            <img id="displayImage2" class="img-fluid" src="" alt="File Image" />
                        </div>
                    </div>

                    <label>Remark</label>
                    <input type="text" class="form-control">

                </div>


                <div class="modal-footer">
                    <div class="float-left text-right">
                        <button type="button" id="btn_stampReject"
                                class="btn btn-danger btn-xs btnwidth50"
                                onclick="ApprovalStamp(document.getElementById('approveItemId').textContent, 7)"
                                data-dismiss="modal"
                                title="Reject the selected item">
                            Reject
                        </button>

                        <button type="button" id="btn_stampApprove"
                                class="btn btn-success btn-xs btnwidth60"
                                onclick="ApprovalStamp(document.getElementById('approveItemId').textContent, 6)"
                                data-dismiss="modal"
                                title="Approve the selected item">
                            Approve
                        </button>
                    </div>
                </div>











            </div>

        </div>
    </div>

  

    <div class="modal fade" id="nonstandard2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <input type="hidden" id="txtID" value="68">
                    <b>Request No.:</b><span>10</span> ,&nbsp;&nbsp;
                    <b>Brand:</b><span>DICK LOGO</span>,&nbsp;&nbsp;
                    <b>Chart No:</b><span>h_11a</span>

                    <div>
                        <img id="displayImage" class="img-fluid" src="https://decintellai.com/ui/all-Modules/UI_Repository/dist/img/Stamp.jpg">

                    </div>
                </div>













            </div>

        </div>
    </div>


    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <h5>Stamps</h5>
                </div>
                <div class="col-lg-9">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" onclick="UserDetailChange('Index')">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">ECM</a></li>
                        <li class="breadcrumb-item active">Masters</li>
                        <li class="breadcrumb-item active">Cutting Tools</li>
                        <li class="breadcrumb-item active">Stamps</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="btnwidth50 float-right ">
                        <button type="button"
                                class="btn btn-block bg-gradient-danger btn-xs"
                                onclick="history.back()" id="btnback"
                                title="Go back to the previous page">
                            Back
                        </button>

                    </div>
                    <div class="btnwidth50 float-right mr-1">
                        <a  id="btnadd" class="btn btn-block bg-gradient-primary   btn-xs float-left"
                           href="@Url.Action("DrillAddStamp", "DrillMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })" title="Add new record">
                            Add
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->

    </section>

    <section class="content">

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-primary">
                        <div class="card-header">
                            <h3 class="card-title">New Requests</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered example1" style="width:100%;">
                                    <thead>

                                        <tr>
                                            <th width="10%"><div align="center">Request No.	</div></th>
                                            <th width="8%"><div align="left">Product Line</div></th>
                                            <th width="8%"><div align="Left">Brand</div></th>
                                            <th width="16%"><div align="center">Size&nbsp;</div></th>
                                            <th width="15%"><div align="left">Type</div></th>
                                            <th width="20%"><div align="left">Sub Type</div></th>
                                            <th width="10%"><div align="left">Sales</div></th>
                                            <th width="17%"><div align="center"></div></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (Model.CTStampDetails != null)
                                        {
                                            foreach (var item in Model.CTStampDetails)
                                            {
                                                if (item.GridNo == 1)
                                                {
                                                    <tr>

                                                        <td class="text-center">
                                                            <a href="#" onclick="EditStamp('@item.Id','@item.RequestNo');">
                                                                @item.RequestNo
                                                            </a>
                                                        </td>

                                                        <td>@item.ProductLine</td>

                                                        <td>
                                                            <a href="#" data-toggle="modal"
                                                               onclick="ModelFileType('@item.Id','@item.RequestNo','@item.BrandName','@item.ImageName','@item.BrandCode');">
                                                                @item.BrandName
                                                            </a>
                                                        </td>

                                                        <td class="text-center">@item.Size</td>

                                                        <td>@item.Type</td>

                                                        <td>@item.SubType</td>

                                                        <td>@item.Sales</td>

                                                    
                                                        <td class="text-center">
                                                            <button class="btn btn-primary btn-xs btnwidth95"
                                                                    onclick="ApprovalStamp(@item.Id,5)">
                                                                Submit for Approval
                                                            </button>
                                                        </td>

                                                    </tr>
                                                }
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-warning collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title">Requests for Approval</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered example1 nowrap" style="width:100%;">
                                <thead>

                                    <tr>
                                        <th width="10%"><div align="center">Request No.	</div></th>
                                        <th width="15%"><div align="left">Product Line</div></th>
                                        <th width="10%"><div align="Left">Brand</div></th>
                                        <th width="15%"><div align="center">Size&nbsp;</div></th>
                                        <th width="25%"><div align="left">Type</div></th>
                                        <th width="15%"><div align="left">Sub Type</div></th>
                                        <th width="10%"><div align="left">Sales</div></th>
                                     </tr>
                                </thead>
                                <tbody>

                                    @if (Model.CTStampDetails != null)
                                    {
                                        foreach (var item in Model.CTStampDetails)
                                        {
                                            if (item.GridNo == 2)
                                            {
                                                <tr>

                                                    <td class="text-center">@item.RequestNo</td>
                                                    <td>@item.ProductLine</td>
                                                    <td>
                                                        <a href="#" data-toggle="modal" data-target="#approve"
                                                           onclick="setApproveItems('@item.Id','@item.RequestNo','@item.ProductLine','@item.BrandName','@item.Size','@item.ImageName')"
                                                           title="View">
                                                            @item.BrandName
                                                        </a>
                                                    </td>
                                                    <td class="text-center">@item.Size</td>
                                                    <td>@item.Type</td>
                                                    <td>@item.SubType</td>
                                                    <td>@item.Sales</td>
                                              
                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-success collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title">Stamp Master</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered example1 nowrap" style="width:100%;">
                                <thead>

                                    <tr>
                                        <th width="10%"><div align="center">Request No.	</div></th>
                                        <th width="15%"><div align="left">Product Line</div></th>
                                        <th width="10%"><div align="Left">Brand</div></th>
                                        <th width="15%"><div align="center">Size&nbsp;</div></th>
                                        <th width="25%"><div align="left">Type</div></th>
                                        <th width="15%"><div align="left">Sub Type</div></th>
                                        <th width="10%"><div align="left">Sales</div></th>
                                      </tr>
                                </thead>
                                <tbody>

                                    @if (Model.CTStampDetails != null)
                                    {
                                        foreach (var item in Model.CTStampDetails)
                                        {
                                            if (item.GridNo == 3)
                                            {
                                                <tr>

                                                    <td class="text-center">@item.RequestNo</td>
                                                    <td>@item.ProductLine</td>
                                                    <td>
                                                        <a href="#" data-toggle="modal" 
                                                           onclick="ModelFileType('@item.Id','@item.RequestNo','@item.BrandName','@item.ImageName','@item.BrandCode');"
                                                           title="View">
                                                            @item.BrandName
                                                        </a>
                                                    </td>
                                                    <td class="text-center">@item.Size</td>
                                                    <td>@item.Type</td>
                                                    <td>@item.SubType</td>
                                                    <td>@item.Sales</td>
                                                  
                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>


    </section>

    <!-- InstanceEndEditable -->
</div>
<script>
        function ModelFileType(ID, RequestNo, BrandName,Imagename,BrandCode) {

        document.getElementById('txtRequest').textContent = RequestNo;
        document.getElementById('txtBrandName').textContent = BrandName;
        document.getElementById('txtImagename').textContent = Imagename;
        // document.getElementById('txtProdLine1').textContent = ProdLine;
        // document.getElementById('txtremarklbl').textContent = Remark;

        var JsonData = JSON.stringify({
            ID: ID
        });

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetStampModalList", "DrillMaster")',
            data: { JsonData: JsonData },
            dataType: 'json',
            beforeSend: function () { $('#loader').show(); },
            complete: function () { $('#loader').hide(); },

            success: function (data) {

                // 🔥 ONLY IMAGE BINDING LEFT
                var imageName = "";
            var brandCode = "";

            if (data.response && data.response.length > 0) {

                imageName = data.response[0].imageName;
                brandCode = data.response[0].brandCode.toLowerCase();
            }

            OpenDocument(
                imageName,
                'displayImage1',
                brandCode
            );


                $('#nonstandard').modal('show');
            },

            error: function () {
                alert('Error occurred while fetching data.');
            }
        });
    }
     function ViewApprovedDetails(RequestNo, BrandName, StampChartNo, BrandCode, ImageFile) {
        document.getElementById('ApprovedRequestNo').textContent = RequestNo;
        document.getElementById('ApprovedBrandName').textContent = BrandName;
        document.getElementById('ApprovedStampChartNo').textContent = StampChartNo;
      
    }
      function setApproveItems(itemId, RequestNo,ProdLine, BrandName, Size, BrandCode, ImageFile) {
        document.getElementById('approveItemId').textContent = itemId;
        document.getElementById('txtRequest1').textContent = RequestNo;
        document.getElementById('txtProductLine').textContent = ProdLine;
            document.getElementById('txtBrandName1').textContent = BrandName;
             document.getElementById('txtSize1').textContent = Size;
    
           document.getElementById('txtImagename1').textContent = ImageFile;
        
        ModelFileSize(itemId, RequestNo,ProdLine, BrandName, Size, BrandCode, ImageFile);
          

    }
    function ModelFileSize(ID, RequestNo, ProdLine, BrandName, Size, BrandCode, ImageFile) {

        $('#txtID').val(ID);
        $('#txtRequest1').text(RequestNo);
        $('#txtSize1').text(Size);
        $('#txtBrandName1').text(BrandName);
        $('#txtProductLine').text(ProdLine);
          $('#txtImagename1').text(ImageFile);
        var JsonData = JSON.stringify({
            ID: ID
        });

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetStampModalList", "DrillMaster")',
            data: { JsonData: JsonData },
            dataType: 'json',
            beforeSend: function () { $('#loader').show(); },
            complete: function () { $('#loader').hide(); },

            success: function (data) {

                   var imageName = "";
            var brandCode = "";

            if (data.response && data.response.length > 0) {

                imageName = data.response[0].imageName;
                brandCode = data.response[0].brandCode.toLowerCase();
            }

            OpenDocument(
                imageName,
                'displayImage2',
                brandCode
            );


                
                $('#approve').modal('show');
            },

            error: function () {
                alert('Error occurred while fetching data.');
            }
        });
    }
     function ApprovalStamp(Id, StatusId) {
        var iLoggedInUserID = parseInt('@Context.Session.GetInt32("CreatedBy")');

        var json = {
            Id: Id,
            StatusId: StatusId,
            CreatedDate: moment.utc(new Date()).format(),
            CreatedBy: iLoggedInUserID
        };
        var JsonData = JSON.stringify(json);

        // First Ajax request
        $.ajax({
            type: "POST",
            url: '@Url.Action("CT_ApproveStamp", "DrillMaster")',
            data: { JsonData: JsonData },
            datatype: 'json',
            beforeSend: function () { $('#loader').show(); }, complete: function () { $('#loader').hide(); },
            success: function (data) {
                alert(data.response);
                location.reload();
            }
        });




    }
        async function OpenDocument(FileName, ImageId, BrandCode) {

        var JwToken = '@ViewBag.JWTToken';
        var blobStorageUrl = '@ViewBag.ApiUrl';
        let blobPathPrefix = '@ViewBag.BaseBlobPath';

        var path = 'others\\ct\\stamps\\' + BrandCode + '\\';

        const blobpath =
            (normalizePathPrefix(blobPathPrefix) +
                normalizePathPrefix(path)).toLowerCase() + FileName;

        const JSONData = {
            blobPath: blobpath,
            asSas: false,
            downloadFileName: FileName
        };

        try {

            $('#loader').show();

            const response = await $.ajax({
                url: blobStorageUrl + 'Files/get',
                headers: { Authorization: 'Bearer ' + JwToken },
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(JSONData),
                xhrFields: { responseType: 'blob' }
            });

            if (response && response.size > 0) {

                const objectURL = URL.createObjectURL(response);
                document.getElementById(ImageId).src = objectURL;

            }

        } catch (error) {

            console.error(error);
            document.getElementById(ImageId).src = '';

        } finally {

            $('#loader').hide();

        }
    }

</script>