@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model wa_1235_jk_ecm_v4.Models.DrillMaster
@{
	ViewData["Title"] = "DrillAddSize";
	Layout = "~/Views/Shared/_ECMMaster.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">   
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <h5>Add</h5>
                </div>
                <div class="col-lg-9">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" onclick="UserDetailChange('Index')">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">ECM</a></li>
                        <li class="breadcrumb-item active">Masters</li>
                        <li class="breadcrumb-item"><a href="@Url.Action("DrillSize", "DrillMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })">Size</a></li>
                        <li class="breadcrumb-item active">Add </li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="btnwidth50 float-right ">
                        <button type="button" class="btn btn-block bg-gradient-danger btn-xs float-left"
                                onclick="history.back()" id="btnback" title="Go back to the previous page">
                            Back
                        </button>
                    </div>

                </div>

            </div>
            </div>

    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary card-outline p-a-2" style="height: 100%;">

                        <!-- /.card-header -->
                        <div class="card-body">

                            <div class="col-md-12 mr-1">

                                <div class="row">

                                    <div class="form-group col-md-2">
                                        <label>Product Line</label>
                                     
                                        @Html.DropDownListFor(m => m.ProdId, new SelectList(Model.ProdLine_List, "Id", "ProductLine"), "Select", new { @class = "form-control select2", @id = "ddlproductline", onchange = "clearError('spddlproductline')" })
                                        <span id="spddlproductline" class="text-danger"></span>
                                    </div>


                                    <div class="form-group col-md-2">
                                        <label>
                                            Dimension
                                            Code
                                        </label>
                                        <input id="txtDimensionCode" maxlength="50" name="" oninput="validateInputCode();clearError('sptxtDimensionCode');" type="text" class="form-control" />
                                        <span id="sptxtDimensionCode" class="text-danger"></span>
                                    </div>


                                    <div class="form-group col-md-2">
                                        <label>
                                            Dimension
                                            Value
                                        </label>
                                        <input id="txtDimensionValue" maxlength="50" name="" type="text" onchange="clearError('sptxtDimensionValue')" class="form-control" />
                                        <input id="hdnSizeId" type="hidden"/>
                                        <span id="sptxtDimensionValue" class="text-danger"></span>
                                    </div>




                                    <div class="form-group col-md-2">
                                        <label>Dimension Type</label>
                                        @Html.DropDownListFor(m => m.ProdId, new SelectList(Model.LookupValues_List, "ID", "LookupValue"), "Select", new { @class = "form-control select2", @id = "ddlDimensionType", onchange = "clearError('spddlDimensionType')" })
                                        <span id="spddlDimensionType" class="text-danger"></span>
                                    </div>



                                    <div class="form-group col-md-2">
                                        <label>Standard</label>
                                       
                                        @Html.DropDownListFor(m => m.ProdId, new SelectList(Model.LookupStandard_List, "ID", "LookupValue"), "Select", new { @class = "form-control select2", @id = "ddlStandard", onchange = "clearError('spddlStandard')" })
                                        <span id="spddlStandard" class="text-danger"></span>
                                    </div>


                                    <div class="btnwidth50 float-right mr-1 " style="margin-top:35px;">
                                        <button type="button" class="btn btn-block bg-gradient-primary   btn-xs float-left"
                                                onclick="AddFileSizeData()" id="btnsubmit" title="Go to the next page">
                                            Submit
                                        </button>
                                    </div>

                                </div>








                            </div>
                        </div>
                    </div>
                </div>
                Note: Dimension Code should be unique

                <!-- /.card -->
            </div>
        </div>
    </section>
</div>

<script>
    var pageID = encodeURIComponent('@Context.Request.Query["PageID"]');
    var parentID = encodeURIComponent('@Context.Request.Query["ParentID"]');
    var moduleID = encodeURIComponent('@Context.Request.Query["ModuleID"]');
  

       function EditFileSizeData() {
          let isValid = true;

        // Read values from UI
        let ProductLineId = $("#ddlproductline").val();
        let DimensionCode = $("#txtDimensionCode").val().trim();
        let DimensionValue = $("#txtDimensionValue").val().trim();
        let DimensionTypeId = $("#ddlDimensionType").val();
        let StandardId = $("#ddlStandard").val();
          let SizeId = $("#hdnSizeId").val();
        let OperationFlag = 2;
        let iLoggedInUserID = parseInt('@Context.Session.GetInt32("CreatedBy")');

        // Clear previous errors
        $("#spddlproductline").text('');
        $("#sptxtDimensionCode").text('');
        $("#sptxtDimensionValue").text('');
        $("#spddlDimensionType").text('');
        $("#spddlStandard").text('');

        // Validation
        if (!ProductLineId || ProductLineId === "Select") {
            $("#spddlproductline").text("Product Line is required.");
            isValid = false;
        }

        if (DimensionCode === "") {
            $("#sptxtDimensionCode").text("Dimension Code is required.");
            isValid = false;
        }

        if (DimensionValue === "") {
            $("#sptxtDimensionValue").text("Dimension Value is required.");
            isValid = false;
        }

        if (!DimensionTypeId || DimensionTypeId === "Select") {
            $("#spddlDimensionType").text("Dimension Type is required.");
            isValid = false;
        }

        if (!StandardId || StandardId === "Select") {
            $("#spddlStandard").text("Standard is required.");
            isValid = false;
        }

        if (!isValid) return;

        // Construct JSON
        let json = {
            SizeId: SizeId,
            ProdLineId: ProductLineId,
            DimensionCode: DimensionCode,
            DimensionValue: DimensionValue,
            DimensionTypeId: DimensionTypeId,
            StandardId: StandardId,
            CreatedBy: iLoggedInUserID,
            OperationFlag: OperationFlag,
            CreatedDate: moment.utc(new Date()).format()
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("DroAddFileSize", "DrillMaster")',
            data: { JsonData: JSON.stringify(json) },
            dataType: 'json',
            beforeSend: function () { $('#loader').show(); },
            complete: function () { $('#loader').hide(); },
            success: function (res) {
                alert(res.response);
                   var url = '@Url.Action("DrillSize", "DrillMaster")' +
                    '?PageID=' + pageID +
                    '&ParentID=' + parentID +
                    '&ModuleID=' + moduleID ;
                window.location.href = url;
            },
            error: function () {
                alert("An error occurred while saving.");
            }
        });
    }
        function AddFileSizeData() {

        let isValid = true;

        // Read values from UI
        let ProductLineId = $("#ddlproductline").val();
        let DimensionCode = $("#txtDimensionCode").val().trim();
        let DimensionValue = $("#txtDimensionValue").val().trim();
        let DimensionTypeId = $("#ddlDimensionType").val();
        let StandardId = $("#ddlStandard").val();

        let OperationFlag = 1;
        let iLoggedInUserID = parseInt('@Context.Session.GetInt32("CreatedBy")');

        // Clear previous errors
        $("#spddlproductline").text('');
        $("#sptxtDimensionCode").text('');
        $("#sptxtDimensionValue").text('');
        $("#spddlDimensionType").text('');
        $("#spddlStandard").text('');

        // Validation
        if (!ProductLineId || ProductLineId === "Select") {
            $("#spddlproductline").text("Product Line is required.");
            isValid = false;
        }

        if (DimensionCode === "") {
            $("#sptxtDimensionCode").text("Dimension Code is required.");
            isValid = false;
        }

        if (DimensionValue === "") {
            $("#sptxtDimensionValue").text("Dimension Value is required.");
            isValid = false;
        }

        if (!DimensionTypeId || DimensionTypeId === "Select") {
            $("#spddlDimensionType").text("Dimension Type is required.");
            isValid = false;
        }

        if (!StandardId || StandardId === "Select") {
            $("#spddlStandard").text("Standard is required.");
            isValid = false;
        }

        if (!isValid) return;

        // Construct JSON
        let json = {
            ProdLineId: ProductLineId,
            DimensionCode: DimensionCode,
            DimensionValue: DimensionValue,
            DimensionTypeId: DimensionTypeId,
            StandardId: StandardId,
            CreatedBy: iLoggedInUserID,
            OperationFlag: OperationFlag,
            CreatedDate: moment.utc(new Date()).format()
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("DroAddFileSize", "DrillMaster")',
            data: { JsonData: JSON.stringify(json) },
            dataType: 'json',
            beforeSend: function () { $('#loader').show(); },
            complete: function () { $('#loader').hide(); },
            success: function (res) {
                alert(res.response);
                   var url = '@Url.Action("DrillSize", "DrillMaster")' +
                    '?PageID=' + pageID +
                    '&ParentID=' + parentID +
                    '&ModuleID=' + moduleID; 
                window.location.href = url;
            },
            error: function () {
                alert("An error occurred while saving.");
            }
        });
    }

</script>


<script>

       function validateInputCode() {

        let input = document.getElementById('txtDimensionCode');
        let value = input.value.replace(/\D/g, ''); // digits only

        // Limit to 4 digits
        if (value.length > 4) {
            value = value.substring(0, 4);
            document.getElementById('sptxtDimensionCode').innerText =
                'Only 4 digits are allowed.';
        } else {
            document.getElementById('sptxtDimensionCode').innerText = '';
        }

        input.value = value;
    }

        function LoadEditFileSize(SizeId) {

        let json = {
            TxnId: SizeId
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDroFileSizeListById", "DrillMaster")',
            data: { JsonData: JSON.stringify(json) },
            dataType: "json",
            beforeSend: function () { $('#loader').show(); },
            complete: function () { $('#loader').hide(); },
            success: function (res) {

                if (!res || !res.response || res.response.length === 0) {
                    alert("No data found");
                    return;
                }

                let data = res.response[0];

                // Store Id
                $("#hdnSizeId").val(data.id);

                // Bind controls
                $("#ddlproductline").val(data.productLineId).trigger("change");
                $("#txtDimensionCode").val(data.dimensionCode);
                $("#txtDimensionValue").val(data.dimensionValue);
                $("#ddlDimensionType").val(data.dimensionType).trigger("change");
                $("#ddlStandard").val(data.standard).trigger("change");
                    // 🔒 Disable controls
    $("#ddlproductline").prop("disabled", true);
    
    $("#txtDimensionValue").prop("disabled", true);
    $("#ddlDimensionType").prop("disabled", true);
    $("#ddlStandard").prop("disabled", true);
                // UI change
                $("#btnsubmit")
                    .text("Submit")
                    .attr("onclick", "EditFileSizeData()");
            },
            error: function () {
                alert("Error loading data");
            }
        });
    }
        $(document).ready(function () {
        let editId = '@Context.Request.Query["SizeId"]';
        if (editId) {
            LoadEditFileSize(editId);
        }
    });
     

</script>