@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model wa_1235_jk_ecm_v4.Models.DrillMaster
@{
	ViewData["Title"] = "DrillAddSize";
	Layout = "~/Views/Shared/_ECMMaster.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">   
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <h5>Add</h5>
                </div>
                <div class="col-lg-9">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" onclick="UserDetailChange('Index')">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">ECM</a></li>
                        <li class="breadcrumb-item active">Masters</li>
                        <li class="breadcrumb-item"><a href="@Url.Action("DrillSize", "DrillMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })">Size</a></li>
                        <li class="breadcrumb-item active">Add </li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="btnwidth50 float-right ">
                        <button type="button" class="btn btn-block bg-gradient-danger btn-xs float-left"
                                onclick="history.back()" id="btnback" title="Go back to the previous page">
                            Back
                        </button>
                    </div>

                </div>

            </div>
            </div>

    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary card-outline p-a-2" style="height: 100%;">

                        <!-- /.card-header -->
                        <div class="card-body">

                            <div class="col-md-12 mr-1">

                                <div class="row">

                                    <div class="form-group col-md-2">
                                        <label>Product Line</label>
                                     
                                        @Html.DropDownListFor(m => m.ProdId, new SelectList(Model.ProdLine_List, "Id", "ProductLine"), "Select", new { @class = "form-control select2", @id = "ddlproductline" })
                                        <span id="spddlproductline" class="text-danger"></span>
                                    </div>


                                    <div class="form-group col-md-2">
                                        <label>
                                            Dimension
                                            Code
                                        </label>
                                        <input id="txtDimensionCode" maxlength="50" name="" type="text" class="form-control" />
                                        <span id="sptxtDimensionCode" class="text-danger"></span>
                                    </div>


                                    <div class="form-group col-md-2">
                                        <label>
                                            Dimension
                                            Value
                                        </label>
                                        <input id="txtDimensionValue" maxlength="50" name="" type="text" class="form-control" />
                                        <span id="sptxtDimensionValue" class="text-danger"></span>
                                    </div>




                                    <div class="form-group col-md-2">
                                        <label>Dimension Type</label>
                                       @Html.DropDownListFor(m => m.ProdId, new SelectList(Model.LookupValues_List, "ID", "LookupValue"), "Select", new { @class = "form-control select2", @id = "ddlDimensionType" })
                                        <span id="spddlDimensionType" class="text-danger"></span>
                                    </div>



                                    <div class="form-group col-md-1">
                                        <label>Standard</label>
                                       
                                        @Html.DropDownListFor(m => m.ProdId, new SelectList(Model.LookupStandard_List, "ID", "LookupValue"), "Select", new { @class = "form-control select2", @id = "ddlStandard" })
                                        <span id="spddlStandard" class="text-danger"></span>
                                    </div>


                                    <div class="btnwidth50 float-right mr-1 " style="margin-top:35px;">
                                        <button type="button" class="btn btn-block bg-gradient-primary   btn-xs float-left"
                                                onclick="AddFileSizeData()" id="btnsubmit" title="Go to the next page">
                                            Submit
                                        </button>
                                    </div>

                                </div>








                            </div>
                        </div>
                    </div>
                </div>
                Note: Dimension Code should be unique

                <!-- /.card -->
            </div>
        </div>
    </section>
</div>

<script>
    var pageID = encodeURIComponent('@Context.Request.Query["PageID"]');
    var parentID = encodeURIComponent('@Context.Request.Query["ParentID"]');
    var moduleID = encodeURIComponent('@Context.Request.Query["ModuleID"]');
    var modulePageID = encodeURIComponent('@Context.Request.Query["ModulePageID"]');

       function AddFileSizeData() {
        var isValid = true;

        var FileSizeInch = $("#txtFileSizeInch").val().trim();
        var FileSizeCode = $("#txtFileSizeCode").val().trim();
        var Remarks = $("#txtRemark").val().trim();
        var OperationFlag = 1;
        var iLoggedInUserID = parseInt('@Context.Session.GetInt32("CreatedBy")');

        // Clear all previous errors
        $("#spFileSizeInch").text('');
        $("#spFileSizeCode").text('');


        // Validation
        if (FileSizeInch === "") {
            $("#spFileSizeInch").text("File Size (Inch) is required.");
            isValid = false;
        }

        if (FileSizeCode === "") {
            $("#spFileSizeCode").text("File Size Code is required.");
            isValid = false;
        }



        if (!isValid) return; // Stop if validation fails

        // Construct object
        let FileSizeDetailsJobj = {
            TxnId: 0,
            Remarks: Remarks,
            CreatedBy: iLoggedInUserID,
            CreatedDate: moment.utc(new Date()).format()
        };

        let json = {
            FileType: 'M',
            FileSizeInch: FileSizeInch,
            FileSizeCode: FileSizeCode,
            FileSizeDetailsJobj: FileSizeDetailsJobj,
            OperationFlag: OperationFlag
        };

        var JsonData = JSON.stringify(json);

        $.ajax({
            type: "POST",
            url: '@Url.Action("DroAddFileType", "DrillMaster")',
            data: { JsonData: JsonData },
            datatype: 'json',
            beforeSend: function () { $('#loader').show(); },
            complete: function () { $('#loader').hide(); },
            success: function (data) {
                alert(data.response);
                var url = '@Url.Action("DrillSize", "DrillMaster")' +
                    '?PageID=' + pageID +
                    '&ParentID=' + parentID +
                    '&ModuleID=' + moduleID +
                    '&ModulePageID=' + modulePageID;
                window.location.href = url;
            },
            error: function () {
                alert("An error occurred while saving.");
            }
        });
    }

</script>


<script>
    function validateInput() {
        var inputElement = document.getElementById('txtFileSizeInch');
        var inputValue = inputElement.value.trim();

        // Regular expression to match integer or decimal values
        var regex = /^-?\d*\.?\d*$/;

        if (regex.test(inputValue) || inputValue === '') {
            // Clear previous error message
            document.getElementById('spFileSizeInch').innerText = '';
        } else {
            // Display error message for invalid input
            document.getElementById('spFileSizeInch').innerText = 'Only integer or decimal values are allowed.';
            // Remove invalid characters from the input
            inputElement.value = inputValue.replace(/[^0-9.-]/g, '');
        }
    }
    function validateInputCode() {
        var inputElement = document.getElementById('txtFileSizeCode');
        var inputValue = inputElement.value.trim();

        if (inputValue.length === 2 || inputValue === '') {
            // Clear previous error message
            document.getElementById('spFileSizeCode').innerText = '';
        } else {
            // Display error message for invalid input
            document.getElementById('spFileSizeCode').innerText = 'Only two characters are allowed.';
            // Trim input value to ensure only two characters are retained
            inputElement.value = inputValue.substring(0, 2);
        }
    }

</script>