@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model wa_1235_jk_ecm_v4.Models.DrillMaster
@{
	ViewData["Title"] = "DrillSize";
	Layout = "~/Views/Shared/_ECMMaster.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- InstanceBeginEditable name="EditRegion1" -->

    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <h5>Size</h5>
                </div>
                <div class="col-lg-9">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" onclick="UserDetailChange('Index')">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">ECM</a></li>
                        <li class="breadcrumb-item active">Masters</li>
                        <li class="breadcrumb-item active">Size</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="btnwidth50 float-right ">
                        <button type="button"
                                class="btn btn-block bg-gradient-danger btn-xs"
                                onclick="history.back()" id="btnback"
                                title="Go back to the previous page">
                            Back
                        </button>
                    </div>
                    <div class="btnwidth50 float-right mr-1">
                        <a id="btnadd"  class="btn btn-block bg-gradient-primary   btn-xs float-left"
                           href="@Url.Action("DrillAddSize", "DrillMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })" title="Add new record">
                            Add
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->

    </section>

    <section class="content">

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-primary">
                        <div class="card-header">
                            <h3 class="card-title">New Requests</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered example1" style="width:100%;">
                                    <thead>

                                        <tr>
                                            <th width="10%"><div align="center">Request No.</div></th>
                                            <th width="13%"><div align="left">Product Line</div></th>

                                            <th width="13%"><div align="center">Dimension Code</div></th>
                                            <th width="15%"><div align="center">Dimension Value</div></th>
                                            <th width="15%"><div align="left">Dimension Type</div></th>
                                            <th width="13%"><div align="left"> Standard</div></th>
                                            <th width="25%"><div align="center">Action</div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                            @foreach (var item in Model.FileSize_List.Where(x => x.GridNo == 1))
                            {
                                <tr>
          
                                    <td><div align="center"><a href='@Url.Action("DrillAddSize", "DrillMaster", new {
                                                    SizeId = item.Id,
                                                    PageID = Context.Request.Query["PageID"].ToString(),
                                                    ParentID = Context.Request.Query["ParentID"].ToString(),
                                                    ModuleID = Context.Request.Query["ModuleID"].ToString(),
                                                    ModulePageID = Context.Request.Query["ModulePageID"].ToString()
                                                })' title="Edit">
                                                @item.Id
                                            </a> </div></td>
                                    <td><div align="left">@item.ProductLine</div></td>
                                    <td><div align="center">@item.DimensionCode</div></td>
                                    <td><div align="center">@item.DimensionValue</div></td>
                                    <td><div align="left">@item.Dimensionname</div></td>
                                    <td><div align="left">@item.Standardname</div></td>
                                  
                                    <td>
                                        <div align="center">
                                            <a href="#"   class="btn btn-primary btn-xs btnwidth95"   onclick="ApprovesFileSize(@item.Id); return false;">
                                              Submit for Approval
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                                </table>
                            </div>

                            (M: Metrics, I: British)
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-warning collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title">Requests for Approval</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered example1" style="width:100%;">
                                <thead>

                                    <tr>
                                        <th width="12%"><div align="center">Request No.</div></th>
                                        <th width="18%"><div align="left">Product Line</div></th>

                                        <th width="16.6%"><div align="center">Dimension Code</div></th>
                                        <th width="16.6%"><div align="center">Dimension Value</div></th>
                                        <th width="16.6%"><div align="left">Dimension Type</div></th>
                                        <th width="16.6%"> <div align="left">Standard</div></th>
                                    </tr>
                                </thead>
                                  <tbody>
                            @foreach (var item in Model.FileSize_List.Where(x => x.GridNo == 2))
                            {
                                <tr>
                                   
                                    <td>
                                        <div align="center">
                                            <a href="#" title="View" onclick="ModelFileSize(@item.Id,@item.RequestId,'@item.DimensionValue','@item.DimensionCode');">
                                                @item.Id
                                            </a>
                                        </div>
                                    </td>
                                     <td><div align="left">@item.ProductLine</div></td>
                                    <td><div align="center">@item.DimensionCode</div></td>
                                    <td><div align="center">@item.DimensionValue</div></td>
                                    <td><div align="left">@item.Dimensionname</div></td>
                                    <td><div align="left">@item.Standardname</div></td>
                                
                                </tr>
                            }
                        </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>




            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-success collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title">Size Master</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered example1 nowrap" style="width:100%;">
                                <thead>

                                    <tr>
                                        <th width="12%"><div align="center">Request No.</div></th>
                                        <th width="18%"><div align="left">Product Line</div></th>

                                        <th width="16.6%"><div align="center">Dimension Code</div></th>
                                        <th width="16.6%"><div align="center">Dimension Value</div></th>
                                        <th width="16.6%"><div align="left">Dimension Type</div></th>
                                        <th width="16.6%"> <div align="left">Standard</div></th>
                                    </tr>
                                </thead>
                                <tbody>
                            @foreach (var item in Model.FileSize_List.Where(x => x.GridNo == 3))
                            {
                                <tr>
                                    <td><div align="center">@item.Id</div></td>
                                    <td><div align="left">@item.ProductLine</div></td>
                                    <td><div align="center">@item.DimensionCode</div></td>
                                    <td><div align="center">@item.DimensionValue</div></td>
                                    <td><div align="left">@item.Dimensionname</div></td>
                                    <td><div align="left">@item.Standardname</div></td>
                                </tr>
                            }
                        </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

        </div>
    </section>

    <!-- InstanceEndEditable -->
</div>

<div class="modal fade" id="approve">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Optional header with logos from first modal -->
          
            <!-- Modal Header (from second modal for cleaner UI) -->
            <div class="modal-header">
                <h5 class="modal-title">Remark</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                <input type="hidden" id="txtID">
                <b>Request No.:</b><span id="txtRequest"></span>,&nbsp;&nbsp;
                <b>Dimension Value :</b><span id="txtDimensionValue"></span>,&nbsp;&nbsp;
                <b>Dimension Code:</b><span id="txtDimensionCode"></span>

                <textarea rows="5" class="form-control" id="textRemark"></textarea>
            </div>

            <!-- Modal Footer: Buttons styled like second modal, functions from first -->
            <div class="modal-footer">
                <div class="text-right w-100">
                    <button type="button"
                            class="btn btn-danger btn-xs btnwidth50"
                            onclick="RejectFileSize(); $('#approve').modal('hide');"
                            title="Reject the selected item">
                        Reject
                    </button>

                    <button type="button"
                            class="btn btn-success btn-xs btnwidth60"
                            onclick="ApproveFileSize(); $('#approve').modal('hide');"
                            title="Approve the selected item">
                        Approve
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<Script>

    function ApprovesFileSize(ID) {
        var Remark = $('#textRemark').val();
        var iLoggedInUserID = parseInt('@Context.Session.GetInt32("CreatedBy")');
        
        let jsonData = { ID: ID, StatusID: 2, CreatedBy: iLoggedInUserID, Remark: Remark };
        var JSONInformation = JSON.stringify(jsonData);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DroApproveFileSize", "DrillMaster")',
            data: { JSONData: JSONInformation },
            dataType: 'json',
            success: function (data) {
                alert(data.response);
                window.location.reload();
            },
            error: function (err) {
                alert(err.statusText);
            }
        });
    }


    function ApproveFileSize() {
        var Remark = $('#textRemark').val();
        var FileStatus = $('#txtID').val();
        var iLoggedInUserID = parseInt('@Context.Session.GetInt32("CreatedBy")');
         

        var jsonData = { ID: FileStatus, StatusID: 3, CreatedBy: iLoggedInUserID, Remark: Remark };
        var JSONInformation = JSON.stringify(jsonData);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("DroApproveFileSize", "DrillMaster")', // Assuming this URL is correctly configured in your application
            data: { JSONData: JSONInformation },
            dataType: 'json',
            success: function (data) {
                alert(data.response);
                window.location.reload();
            },
            error: function (err) {
                alert(err.statusText);
            }
        });
    }
    //RejectFileSize
    function RejectFileSize() {
        //textRemark
        var Remark = $('#textRemark').val();

        var FileStatus = $('#txtID').val();
        var iLoggedInUserID = parseInt('@Context.Session.GetInt32("CreatedBy")');
         

        var jsonData = { ID: FileStatus, StatusID: 4, CreatedBy: iLoggedInUserID, Remark: Remark };
        var JSONInformation = JSON.stringify(jsonData);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("DroApproveFileSize", "DrillMaster")', // Assuming this URL is correctly configured in your application
            data: { JSONData: JSONInformation },
            dataType: 'json',
            success: function (data) {
                alert(data.response);
                window.location.reload();
            },
            error: function (err) {
                alert(err.statusText);
            }
        });
    }

    function ModelFileSize(ID, RequestId, DimensionValue, DimensionCode) {
        $('#txtID').val(ID);
        $('#txtRequest').text(RequestId);
        $('#txtDimensionValue').text(DimensionValue);
        $('#txtDimensionCode').text(DimensionCode);
        $('#approve').modal('show');
    }
</Script>