@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model wa_1235_jk_ecm_v4.Models.DrillMaster
@{
	ViewData["Title"] = "DrillSubType";
	Layout = "~/Views/Shared/_ECMMaster.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- InstanceBeginEditable name="EditRegion1" -->
	<div class="modal fade" id="nonstandard">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">View Sub Type</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<input type="hidden" id="txtID" />


					<b>Request No.: </b><span id="txtRequest1"></span>,&nbsp;&nbsp;
					<b>Product Line: </b><span id="txtProdLine1"></span>,&nbsp;&nbsp;
					<b>Type: </b><span id="txtFileName1"></span>,&nbsp;&nbsp;<br>
					<b>Size: </b><span id="txtFileSizeCode"></span>,&nbsp;&nbsp;
					<b>Sub Type: </b><span id="txtSubtypeCode1"></span>



					<b>Code: </b><span id="txtSkuCode"></span>
					<div style="clear: both;"></div>
					<br>
					<img id="displayImage" class="img-fluid">
					<table width="100%" class="table table-bordered example1" id="tblSubTypeData">
						<thead>
							<tr>
								<th style="width:10%; text-align: center;">Sq. No.</th>
								<th style="width:20%; text-align: Left;">Process Name</th>
								<th style="width:20%;  text-align: Left;">Parameter Name</th>
								<th style="width:15%;  text-align: Left;"><div align="center">Value</div></th>
								<th style="width:15%;  text-align: Left;"><div align="center">UOM</div></th>
								<th style="width:15%;  text-align: Left;"><div align="center">Tolerance</div></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<label class="mt-3">Remark:</label><br>

					<span id="txtremarklbl"></span>


				</div>


				<div class="modal-footer">
					<div class="float-right text-right" style="width: 100%;">
						<button type="button"
								class="btn btn-primary btn-xs btnwidth60" id="btn_DrillTypeApprove"
								title="Approve the selected item"
								onclick="ApproveSubType(document.getElementById('txtID').value); $('#nonstandard').modal('hide');">
							Submit For Approval
						</button>

						@*   <button type="button" class="btn btn-primary btn-xs btnwidth60" onclick="location.href=''" data-dismiss="modal" title="Submit for Approval">
                            Submit for Approval
                        </button> *@
					</div>
					<div>
					</div>
				</div>









			</div>

		</div>
	</div>



	<div class="modal fade" id="approve">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">View Sub Type</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<input type="hidden" id="txtSubTypeId">
					<b>Request No.: </b><span id="txtRequest2"></span>,&nbsp;&nbsp;
					<b>Product Line: </b><span id="txtProdLine2"></span>,&nbsp;&nbsp;
					<b>Type: </b><span id="txtFileName2"></span>,&nbsp;&nbsp;<br>
					<b>Size: </b><span id="txtFileSizeCode1"></span>,&nbsp;&nbsp;
					<b>Sub Type: </b><span id="txtSubtypeCode2"></span>



					<b>Code: </b><span id="txtSkuCode1"></span>
					<div style="clear: both;"></div>
					<br>
					<img id="displayImage1" class="img-fluid">

					<table width="100%" class="table table-bordered example1" id="tblSubTypePopup">
						<thead>
							<tr>

								<th style="width:10%; text-align: center;">Sq. No.</th>
								<th style="width:40%; text-align: Left;">Process Name</th>
								<th style="width:40%;  text-align: Left;">Parameter Name</th>
								<th style="width:10%;  text-align: Left;"><div align="center">Value</div></th>
								<th style="width:10%;  text-align: Left;"><div align="center">UOM</div></th>
								<th style="width:10%;  text-align: Left;"><div align="center">Tolerance</div></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>


					<label for="">Remark</label><br>
					<input type="text" class="form-control" id="txtremark">


				</div>


				<div class="modal-footer">
					<div class="float-right text-right" style="width: 100%;">
						@*  <button type="button" class="btn btn-danger btn-xs btnwidth50" title="Reject the selected item">
                            Reject
                        </button>

                        <button type="button" class="btn btn-success btn-xs btnwidth60" onclick="location.href=''" title="Approve the selected item">
                            Approve
                        </button> *@
						<button type="button"
								class="btn btn-danger btn-xs btnwidth50" id="btn_DrillTypeReject"
								title="Reject the selected item"
								onclick="ApproveFileType(document.getElementById('txtSubTypeId').value, 4); $('#approve').modal('hide');">
							Reject
						</button>
						<button type="button"
								class="btn btn-success btn-xs btnwidth60" id="btn_DrillTypeApprove"
								title="Approve the selected item"
								onclick="ApproveFileType(document.getElementById('txtSubTypeId').value, 3); $('#approve').modal('hide');">
							Approve
						</button>
					</div>
					<div>
						<div style="clear: both;"></div>
						<small><i>Note: After approval, the request will be sent to Subtype Master and Drawing Grid 1.</i></small>
					</div>
				</div>











			</div>

		</div>
	</div>
	<div class="modal fade" id="nonstandard1">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">View Sub Type</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<input type="hidden" id="txtID1" />


					<b>Request No.: </b><span id="txtRequest3"></span>,&nbsp;&nbsp;
					<b>Product Line: </b><span id="txtProdLine3"></span>,&nbsp;&nbsp;
					<b>Type: </b><span id="txtFileName3"></span>,&nbsp;&nbsp;<br>
					<b>Size: </b><span id="txtFileSizeCode2"></span>,&nbsp;&nbsp;
					<b>Sub Type: </b><span id="txtSubtypeCode3"></span>



					<b>Code: </b><span id="txtSkuCode2"></span>
					<div style="clear: both;"></div>
					<br>
					<img id="displayImage2" class="img-fluid">
					<table width="100%" class="table table-bordered example1" id="tblSubTypeDataview">
						<thead>
							<tr>
								<th style="width:10%; text-align: center;">Sq. No.</th>
								<th style="width:20%; text-align: Left;">Process Name</th>
								<th style="width:20%;  text-align: Left;">Parameter Name</th>
								<th style="width:15%;  text-align: Left;"><div align="center">Value</div></th>
								<th style="width:15%;  text-align: Left;"><div align="center">UOM</div></th>
								<th style="width:15%;  text-align: Left;"><div align="center">Tolerance</div></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<label class="mt-3">Remark:</label><br>

					<span id="txtremarklbl1"></span>


				</div>








			</div>

		</div>
	</div>


	<section class="content-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3">
					<h5>Sub Type</h5>
				</div>
				<div class="col-lg-9">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#" onclick="UserDetailChange('Index')">Home</a></li>
						<li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">ECM</a></li>
						<li class="breadcrumb-item active                              ">Masters</li>
						 <li class="breadcrumb-item active">Cutting Tools</li>
						<li class="breadcrumb-item active">Sub Type</li>
					</ol>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="btnwidth50 float-right ">
						<button type="button"
								class="btn btn-block bg-gradient-danger btn-xs"
								onclick="history.back()" id="btnback"
								title="Go back to the previous page">
							Back
						</button>
					</div>
					<div class="btnwidth50 float-right mr-1">
						<a id="btnDrillSubTypeadd" class="btn btn-block bg-gradient-primary   btn-xs float-left"
						   href="@Url.Action("DrillAddSubType", "DrillMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })" title="Add new record">
							Add
						</a>
					</div>
				</div>
			</div>
		</div><!-- /.container-fluid -->

	</section>

	<section class="content">

		<div class="container-fluid">

			<div class="row">
				<div class="col-md-12">
					<div class="card card-outline card-primary">
						<div class="card-header">
							<h3 class="card-title">New Requests</h3>

							<div class="card-tools">
								<button type="button" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
							</div>
							<!-- /.card-tools -->
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered example1 nowrap" style="width:100%;">
									<thead>

										<tr>

											<th width="10%"><div align="center">Request No.	</div></th>
											<th width="14%"><div align="Left">Product Line</div></th>

											<th width="19%"><div align="Left"> Type</div></th>
											<th width="12%"><div align="center">Size</div></th>
											<th width="10%"><div align="Left">Sub Type</div></th>
											<th width="13%"><div align="left">UOM</div></th>
											<th width="12%"><div align="center">Code</div></th>
											<th width="15%"><div align="center"></div></th>
										</tr>
									</thead>
									<tbody>
										@foreach (var item in Model.SubTypeList.Where(x => x.GridNo == 1))
										{
											<tr>
												<td align="center">
													<a href="#" onclick="ModelSubType(@item.Id);">
														@item.RequestNo
													</a>
												</td>

												<td>@item.ProductLine</td>
												<td>@item.TypeName</td>
												<td align="center">@item.SizeType</td>
												<td>
													<a href="#"
													   onclick="ModelFileType(
	            @item.Id,
	            '@item.RequestNo',
	            '@item.TypeName',
	            '@item.CTSubTypeCode',
	                    '@item.ProductLine','@item.SizeType','@item.SubTypeName','@item.SKUCode','@item.ImageFileName'


	       ); return false;">
														@item.SubType
													</a>
												</td>
												<td>mm</td>
												<td align="center">@item.SubTypeCode</td>

												<td align="center">
													<span class="badge badge-info">Saved</span>
												</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="card card-outline card-warning collapsed-card">
						<div class="card-header">
							<h3 class="card-title">Requests for Approval</h3>

							<div class="card-tools">
								<button type="button" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-plus"></i>
								</button>
							</div>
							<!-- /.card-tools -->
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<table class="table table-bordered example1 nowrap" style="width:100%;">
								<thead>

									<tr>

										<th width="10%"><div align="center">Request No.	</div></th>
										<th width="14%"><div align="Left">Product Line</div></th>
										<th width="19%"><div align="Left"> Type</div></th>
										<th width="12%"><div align="center">Size</div></th>

										<th width="10%"><div align="Left">Sub Type</div></th>
										<th width="13%"><div align="left">UOM</div></th>
										<th width="12%"><div align="center">Code</div></th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.SubTypeList.Where(x => x.GridNo == 2))
									{
										<tr>
											<td align="center">
											
													@item.RequestNo
											
											</td>

											<td>@item.ProductLine</td>
											<td>@item.TypeName</td>
											<td align="center">@item.SizeType</td>
											<td>
												<a href="#"
												   onclick="ModelSubTypeApprove(
	                    @item.Id,
	                '@item.RequestNo',
	                '@item.TypeName',

	                        '@item.ProductLine','@item.SizeType','@item.SubTypeName','@item.SKUCode','@item.ImageFileName'


	           ); return false;">
													@item.SubType
												</a>
											</td>
											<td>mm</td>
											<td align="center">@item.SubTypeCode</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
			</div>

			<div class="row" style="display:none;">
				<div class="col-md-12">
					<div class="card card-outline card-primary collapsed-card">

						<div class="card-header">
							<h3 class="card-title">Requests for Approval (ECN)</h3>


							<div class="card-tools">
								<button type="button" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-plus"></i>
								</button>
							</div>
							<!-- /.card-tools -->
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered example1 nowrap" style="width:100%;">
									<thead>

										<tr>

											<th width="10%"><div align="center">Request No.	</div></th>
											<th width="14%"><div align="Left">Product Line</div></th>
											<th width="19%"><div align="Left"> Type</div></th>
											<th width="12%"><div align="center">Size</div></th>

											<th width="10%"><div align="Left">Sub Type</div></th>
											<th width="13%"><div align="left">UOM</div></th>
											<th width="12%"><div align="center">Code</div></th>
										</tr>
									</thead>

								</table>
							</div>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
			</div>


			<div class="row">
				<div class="col-md-12">
					<div class="card card-outline card-success collapsed-card">
						<div class="card-header">
							<h3 class="card-title">Sub Type Master</h3>

							<div class="card-tools">
								<button type="button" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-plus"></i>
								</button>
							</div>
							<!-- /.card-tools -->
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<table class="table table-bordered example1 nowrap" style="width:100%;">
								<thead>

									<tr>

										<th width="10%"><div align="center">Request No.	</div></th>
										<th width="14%"><div align="Left">Product Line</div></th>
										<th width="19%"><div align="Left"> Type</div></th>
										<th width="12%"><div align="center">Size</div></th>

										<th width="10%"><div align="Left">Sub Type</div></th>
										<th width="13%"><div align="left">UOM</div></th>
										<th width="12%"><div align="center">Code</div></th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.SubTypeList.Where(x => x.GridNo == 3))
									{
										<tr>
											<td align="center">@item.RequestNo</td>
											<td>@item.ProductLine</td>
											<td>@item.TypeName</td>
											<td align="center">@item.SizeType</td>
											<td>
												<a href="#"
												   onclick="ModelSubTypeview(
														@item.Id,
													'@item.RequestNo',
													'@item.TypeName',

															'@item.ProductLine','@item.SizeType','@item.SubTypeName','@item.SKUCode','@item.ImageFileName'


											   ); return false;">@item.SubType</a>
											</td>
											<td>mm</td>
											<td align="center">@item.CTSubTypeCode</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
			</div>


	</section>

	<!-- InstanceEndEditable -->
</div>

<script>
			function ModelSubType(RequestNo) {

				// Constructing the URL using JavaScript
				 var pageID = encodeURIComponent('@Context.Request.Query["PageID"]');
			var parentID = encodeURIComponent('@Context.Request.Query["ParentID"]');
			var moduleID = encodeURIComponent('@Context.Request.Query["ModuleID"]');
			var modulePageID = encodeURIComponent('@Context.Request.Query["ModulePageID"]');

			// Construct the full URL
			var url = '@Url.Action("DrillAddSubType", "DrillMaster")' +
				'?SubTypeId=' + RequestNo +
				'&PageID=' + pageID +
				'&ParentID=' + parentID +
				'&ModuleID=' + moduleID ;

			// Redirect
			window.location.href = url;
			}


				 function ModelSubTypeview(ID, RequestNo, FileTypeName, ProdLine, SizeType, SubTypeName, SKUCode, ImageFileName, Remark) {

		$('#txtID1').val(ID);
		$('#txtRequest3').text(RequestNo);
		$('#txtFileName3').text(FileTypeName);
		$('#txtSubtypeCode3').text(SubTypeName);
		$('#txtProdLine3').text(ProdLine);
		$('#txtremarklbl1').text(Remark ?? '');
		$('#txtFileSizeCode2').text(SizeType);
		$('#txtSkuCode2').text(SKUCode);

		var JsonData = JSON.stringify({
			Id: ID,
			ProductLineRowId: '',
			CTTypeRowId: ''
		});

		$.ajax({
			type: "POST",
			url: '@Url.Action("GetSubTypeTableData", "DrillMaster")',
			data: { JsonData: JsonData },
			dataType: "json",

			beforeSend: function () {
				$('#loader').show();
			},
			complete: function () {
				$('#loader').hide();
			},

			success: function (res) {

				let table = $('#tblSubTypeDataview');

				// ✅ Destroy old DataTable
				if ($.fn.DataTable.isDataTable('#tblSubTypeDataview')) {
					table.DataTable().clear().destroy();
				}

				let tbody = $("#tblSubTypeDataview tbody");
				tbody.empty();

				// ✅ IMAGE FIX
				if (ImageFileName) {
					OpenDocument(ImageFileName, 'displayImage2', ProdLine);
				}

				if (!res || !res.response || res.response.length === 0) {

					tbody.append(`
						<tr>
							<td colspan="6" class="text-center">
								No Data Found
							</td>
						</tr>
					`);

				} else {

					$.each(res.response, function (index, item) {

						tbody.append(`
							<tr>
								<td class="text-center">${item.sqNo}</td>
								<td class="text-wrap">${item.processName}</td>
								<td class="text-wrap">${item.parameterName}</td>
								<td class="text-center">${item.value ?? ''}</td>
								<td class="text-center">${item.uom ?? ''}</td>
								<td class="text-center">${item.tolerance ?? ''}</td>
							</tr>
						`);
					});
				}

				// ✅ Initialize DataTable
			let dt = table.DataTable({
		responsive: true,
		paging: true,
		pageLength: 10,
		lengthChange: true,
		searching: true,
		ordering: true,
		info: true,
		autoWidth: false,

		// ✅ ADD THIS (for layout)
		dom: "<'row'<'col-sm-2'l><'col-sm-4 text-center'B><'col-sm-6'f>>" +
			 "<'row'<'col-sm-12'tr>>" +
			 "<'row'<'col-sm-5'i><'col-sm-7'p>>",

		// ✅ ADD THIS (CSV button)
		buttons: [
			{
				extend: 'csv',
				text: 'CSV',
				className: 'btn btn-secondary btn-sm'
			}
		],

		columnDefs: [
			{ className: "dt-center", targets: [0, 3, 4, 5] }
		]
	});

				// ✅ Fix width issue inside modal
				$('#nonstandard1').off('shown.bs.modal').on('shown.bs.modal', function () {
					dt.columns.adjust();
				});

				// ✅ Show modal
				$('#nonstandard1').modal('show');
			},

			error: function () {
				alert('Error occurred while fetching data.');
			}
		});
	}

			function ModelFileType(ID, RequestNo, FileTypeName, FileTypeCode, ProdLine, SizeType, SubTypeName, SKUCode, ImageFileName, Remark) {

		$('#txtID').val(ID);
		$('#txtRequest1').text(RequestNo);
		$('#txtFileName1').text(FileTypeName);
		$('#txtSubtypeCode1').text(SubTypeName);
		$('#txtProdLine1').text(ProdLine);
		$('#txtremarklbl').text(Remark ?? '');
		$('#txtFileSizeCode').text(SizeType);
		$('#txtSkuCode').text(SKUCode);

		var JsonData = JSON.stringify({
			Id: ID,
			ProductLineRowId: '',
			CTTypeRowId: ''
		});

		$.ajax({
			type: "POST",
			url: '@Url.Action("GetSubTypeTableData", "DrillMaster")',
			data: { JsonData: JsonData },
			dataType: "json",

			beforeSend: function () {
				$('#loader').show();
			},
			complete: function () {
				$('#loader').hide();
			},

			success: function (res) {

				let table = $('#tblSubTypeData');

				// ✅ Destroy existing DataTable
				if ($.fn.DataTable.isDataTable('#tblSubTypeData')) {
					table.DataTable().clear().destroy();
				}

				let tbody = $("#tblSubTypeData tbody");
				tbody.empty();

				// ✅ IMAGE FIX
				if (ImageFileName) {
					OpenDocument(ImageFileName, 'displayImage', ProdLine);
				}

				if (!res || !res.response || res.response.length === 0) {

					tbody.append(`
						<tr>
							<td colspan="6" class="text-center">
								No Data Found
							</td>
						</tr>
					`);

				} else {

					$.each(res.response, function (index, item) {

						tbody.append(`
							<tr>
								<td class="text-center">${item.sqNo}</td>
								<td class="text-wrap">${item.processName}</td>
								<td class="text-wrap">${item.parameterName}</td>
								<td class="text-center">${item.value ?? ''}</td>
								<td class="text-center">${item.uom ?? ''}</td>
								<td class="text-center">${item.tolerance ?? ''}</td>
							</tr>
						`);
					});
				}

				// ✅ Initialize DataTable
					let dt = table.DataTable({
		responsive: true,
		paging: true,
		pageLength: 10,
		lengthChange: true,
		searching: true,
		ordering: true,
		info: true,
		autoWidth: false,

		// ✅ ADD THIS (for layout)
		dom: "<'row'<'col-sm-2'l><'col-sm-4 text-center'B><'col-sm-6'f>>" +
			 "<'row'<'col-sm-12'tr>>" +
			 "<'row'<'col-sm-5'i><'col-sm-7'p>>",

		// ✅ ADD THIS (CSV button)
		buttons: [
			{
				extend: 'csv',
				text: 'CSV',
				className: 'btn btn-secondary btn-sm'
			}
		],

		columnDefs: [
			{ className: "dt-center", targets: [0, 3, 4, 5] }
		]
	});

				// ✅ Fix width issue in modal
				$('#nonstandard').off('shown.bs.modal').on('shown.bs.modal', function () {
					dt.columns.adjust();
				});

				// ✅ Show modal
				$('#nonstandard').modal('show');
			},

			error: function () {
				alert('Error occurred while fetching data.');
			}
		});
	}
	
	
	function ApproveSubType(ID) {
				var Remark = $('#textRemark').val();
				var iLoggedInUserID = parseInt('@Context.Session.GetInt32("CreatedBy")');

				let jsonData = { ID: ID, StatusID: 2, CreatedBy: iLoggedInUserID, Remark: Remark };
				var JSONInformation = JSON.stringify(jsonData);
				$.ajax({
					type: 'POST',
						url: '@Url.Action("CT_ApproveSubType", "DrillMaster")',
					data: { JSONData: JSONInformation },
					dataType: 'json',
					success: function (data) {
						alert(data.response);
						window.location.reload();
					},
					error: function (err) {
						alert(err.statusText);
					}
				});
			}

				function ModelSubTypeApprove(ID, RequestNo, FileTypeName, ProdLine, SizeType, SubTypeName, SKUCode, ImageFileName, Remark) {

		// ✅ Bind header
		$('#txtSubTypeId').val(ID);
		$('#txtRequest2').text(RequestNo);
		$('#txtProdLine2').text(ProdLine);
		$('#txtFileName2').text(FileTypeName);
		$('#txtSubtypeCode2').text(SubTypeName);
		$('#txtSkuCode1').text(SKUCode);
		$('#txtFileSizeCode1').text(SizeType);

		var JsonData = JSON.stringify({
			Id: parseInt(ID)
		});

		$.ajax({
			type: "POST",
			url: '@Url.Action("GetSubTypeTableData", "DrillMaster")',
			data: { JsonData: JsonData },
			dataType: "json",

			beforeSend: function () { $('#loader').show(); },
			complete: function () { $('#loader').hide(); },

			success: function (response) {

				let table = $('#tblSubTypePopup');

				// ✅ Destroy old DataTable
				if ($.fn.DataTable.isDataTable('#tblSubTypePopup')) {
					table.DataTable().clear().destroy();
				}

				// ✅ IMAGE
				if (ImageFileName) {
					OpenDocument(ImageFileName, 'displayImage1', ProdLine);
				}

				let data = response.response;

				let tbody = $("#tblSubTypePopup tbody");
				tbody.empty();

				if (!data || data.length === 0) {

					tbody.append(`
						<tr>
							<td colspan="6" class="text-center">
								No Data Found
							</td>
						</tr>
					`);

				} else {

					$.each(data, function (index, item) {

						tbody.append(`
							<tr>
								<td class="text-center">${item.sqNo}</td>
								<td class="text-wrap">${item.processName ?? ''}</td>
								<td class="text-wrap">${item.parameterName ?? ''}</td>
								<td class="text-center">${item.value ?? ''}</td>
								<td class="text-center">${item.uom ?? ''}</td>
								<td class="text-center">${item.tolerance ?? ''}</td>
							</tr>
						`);
					});
				}

					var dt = $('#tblSubTypePopup').DataTable({
    responsive: true,
    paging: true,
    pageLength: 10,
    searching: true,
    ordering: true,
    info: true,
    autoWidth: false,

    // ✅ Layout fix
    dom: "<'row'<'col-sm-2'l><'col-sm-4 text-center'B><'col-sm-6'f>>" +
         "<'row'<'col-sm-12'tr>>" +
         "<'row'<'col-sm-5'i><'col-sm-7'p>>",

    // ✅ CSV button
    buttons: [
        {
            extend: 'csv',
            text: 'CSV',
            className: 'btn btn-secondary btn-sm'
        }
    ],

    columnDefs: [
        { className: "dt-center", targets: "_all" }
    ]
});
				// ✅ Fix width issue in modal
				$('#approve').off('shown.bs.modal').on('shown.bs.modal', function () {
					dt.columns.adjust();
				});

				// ✅ Show modal AFTER init
				$('#approve').modal('show');
			},

			error: function () {
				alert("Error loading SubType details");
			}
		});
	}
			   function ApproveFileType(Id, StatusId) {
				var iLoggedInUserID = parseInt('@Context.Session.GetInt32("CreatedBy")');
				var Remark=$('#txtRemark').val();
				var json = {
						ID: Id,
						StatusID: StatusId,
					Remark:Remark,
					CreatedDate: moment.utc(new Date()).format(),
					CreatedBy: iLoggedInUserID
				};
				var JsonData = JSON.stringify(json);


				$.ajax({
					type: "POST",
						url: '@Url.Action("CT_ApproveSubType", "DrillMaster")',
					data: { JsonData: JsonData },
					datatype: 'json',
					beforeSend: function () { $('#loader').show(); }, complete: function () { $('#loader').hide(); },
					success: function (data) {
						alert(data.response);
						location.reload();
					}
				});
			}

				async function OpenDocument(FileName, ImageId,ProdLine) {
			   var JwToken = '@ViewBag.JWTToken';
			   var blobStorageUrl = '@ViewBag.ApiUrl';
			   let blobPathPrefix = '@ViewBag.BaseBlobPath';
				//var path = 'others\\filetypes' + '\\';
			var path = 'others\\ct\\types\\';
				const blobpath = (normalizePathPrefix(blobPathPrefix) + normalizePathPrefix(path) ).toLowerCase()+ FileName;

					const JSONData = {
						blobPath: blobpath,
						asSas: false,
						downloadFileName: FileName
					};

					try {
						$('#loader').show();

						const response = await $.ajax({
							url: blobStorageUrl + 'Files/get',
							headers: { Authorization: 'Bearer ' + JwToken },
							type: "POST",
							contentType: "application/json",
							data: JSON.stringify(JSONData),
							xhrFields: { responseType: 'blob' }
						});

						if (response && response.size > 0) {
							const objectURL = URL.createObjectURL(response);
							// Display the image in the img tag
							const imgElement = document.getElementById(ImageId);
						imgElement.src = objectURL;
						}
					}
					catch (error) {
						console.error("Error:", error);
						const imgElement = document.getElementById(ImageId);
						imgElement.src = '';

					}
					finally {
					 $('#loader').hide();
					}
			}

</script>