@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model wa_1235_jk_ecm_v4.Models.Master

@{
    ViewData["Title"] = "ValueStream";
    Layout = "~/Views/Shared/_ECMMaster.cshtml";
}
<div class="content-wrapper">
    <!-- InstanceBeginEditable name="EditRegion1" -->


    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <h5>Add</h5>
                </div>
                <div class="col-lg-9">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" onclick="UserDetailChange('Index')">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">ECM</a></li>
                        <li class="breadcrumb-item active">Master</li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Lookup", "Master", new { PageID = Context.Request.Query["PageID"], ParentID = Context.Request.Query["ParentID"], ModuleID = Context.Request.Query["ModuleID"] })">Lookup</a></li>

                        <li class="breadcrumb-item active">Add</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="btnwidth50 float-right ">
                        <button type="button"
                                class="btn btn-block bg-gradient-danger btn-xs"
                                onclick="window.history.back()"
                                title="Go back to the previous page">
                            Back
                        </button>
                    </div>

                </div>
            </div>
        </div><!-- /.container-fluid -->

    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="card card-outline card-primary">
                        <!-- /.card-header -->
                        <div class="card-body">


                            <div class="row">


                                <div class="form-group col-md-2">
                                    <label>Product Line</label>

                                    @Html.DropDownListFor(m => m.ProdId, new SelectList(Model.ProdLine_List, "ProductLineCode", "ProductLine"), "Select", new { @class = "form-control select2", @id = "ddlproductline", onchange = "clearError('spddlproductline')" })
                                    <span id="spddlproductline" class="text-danger"></span>


                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Lookup Type </label>
                                    @Html.DropDownListFor(
                                        m => m.LookupTypeId,
                                        new SelectList(Model.LookupTypes_List, "LookupTypeId", "LookupType"),
                                        "Select",
                                        new {
                                            @class = "form-control select2",
                                            @id = "ddlLookuptype",
                                            onchange = "toggleAddNewType(); clearError('spddlLookuptype')"
                                        })                                    <span id="spddlLookuptype" class="text-danger"></span>

                                </div>

                                <div class="col-md-2 form-group">
                                    <label>Add New Type</label>
                                    <input id="txtAddNewType" type="text" class="form-control"  disabled />
                                      <span id="sptxtAddNewType" class="text-danger"></span>
                                </div>

                                <div class="col-md-2 form-group">
                                    <label>Lookup Value</label>
                                    <input  type="text" class="form-control" id="txtLookupValue">
                                       <span id="sptxtLookupValue" class="text-danger"></span>
                                </div>


                   @*              <div class="col-md-3 form-group">
                                    <label>Image File Upload</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="exampleInputFile">
                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                       
                                        </div>

                                    </div>
                                </div> *@
                                <div class="form-group col-md-3">
                                        <label class="control-label padd0">Image File Upload</label> &nbsp;
                                        <div class="input-group">
                                            <div class="custom-file">

                                                <input name="" type="file" class="custom-file-input" id="exampleInputFile">
                                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>

                                            </div>
                                        </div>
                                       @*  <span id="spTxtFileUploadIMG" class="text-danger"></span> *@
                                    </div>
                                <div style="margin-top:35px;">
                                    <a type="button" onclick="SubmitLookupData()" id="btnSubmitLookup" class="btn btn-primary btn-xs btnwidth50" href="#">
                                        Submit
                                    </a>

                                </div>

                            </div>

                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>


        </div>


        <!-- /.content -->

    </section>

    <!-- InstanceEndEditable -->
</div>
<script>
    $(document).ready(function () {

    // Add Add New option
   $("#ddlLookuptype").prepend(
    $('<option>', {
        value: "ADD_NEW",
        text: "Add New"
    })
);

    // Disable textbox initially
    $("#txtAddNewType").prop("disabled", true);
});
function toggleAddNewType() {

    var selectedValue = $("#ddlLookuptype").val();

    if (selectedValue === "ADD_NEW") {
        $("#txtAddNewType").prop("disabled", false);
        $("#txtAddNewType").focus();
    } else {
        $("#txtAddNewType").prop("disabled", true);
        $("#txtAddNewType").val("");
    }
}
async function SubmitLookupData() {

    var productLine = $("#ddlproductline").val();
    var lookupTypeId = $("#ddlLookuptype").val();
    var addNewType = $("#txtAddNewType").val().trim();
    var lookupValue = $("#txtLookupValue").val().trim();
       var filenameIMG = ($('#exampleInputFile')[0].files[0]) ? $('#exampleInputFile')[0].files[0].name : '';
    // ⭐ File name
    var fileInput = document.getElementById("exampleInputFile");
    var imageName = "";

    if (fileInput.files.length > 0) {
        imageName = fileInput.files[0].name;
    }

    var createdBy = parseInt('@Context.Session.GetInt32("CreatedBy")');

    var validation = false;

    // ---------- Validation ----------
    if (!productLine) {
        $("#spddlproductline").text("Select Product Line");
        validation = true;
    } else {
        $("#spddlproductline").text("");
    }

    // ⭐ Either LookupType OR AddNewType required
    if (!lookupTypeId && addNewType === "") {
        $("#spddlLookuptype").text("Select Lookup Type OR Add New Type");
        validation = true;
    } else {
        $("#spddlLookuptype").text("");
    }

    if (lookupValue === "") {
        $("#sptxtLookupValue").text("Enter Lookup Value");
        validation = true;
    } else {
        $("#sptxtLookupValue").text("");
    }

    if (validation) return;

    // -------------------------------------------------
    // ⭐ MAIN LOGIC
    // -------------------------------------------------

    let json = {
        ProductLine: productLine,
        LookupName: lookupValue,
        ImageName: imageName,
        CreatedBy: createdBy,
        OperationFlag: 1
    };

    // ⭐ IF AddNewType entered → send only that
    if (addNewType !== "") {
        json.AddNewType = addNewType;
        json.LookupType = null;
    }
    else {
        json.LookupType = lookupTypeId;
        json.AddNewType = null;
    }

    var JsonData = JSON.stringify(json);

    // ---------- API Call ----------
    $.ajax({
        type: "POST",
        url: '@Url.Action("AddLookupData", "Master")',
        data: { JsonData: JsonData },
        datatype: "json",
        beforeSend: function () { $('#loader').show(); },
        complete: function () { $('#loader').hide(); },

        success: async function (response) {
            alert(response.response);

              if (response && response.response === "Inserted Successfully") {
                  if(fileInput && fileInput.files.length > 0) {
                 
                   var selectedImageNameSample = cleanFileName(filenameIMG);
                        var targetPathSample = 'others\\lookup\\';
                        var uploadedFileSample = document.getElementById('exampleInputFile').files[0];

                        //copyFile(selectedImageNameSample, targetPathSample, uploadedFileSample);
                           await copyFile(uploadedFileSample, targetPathSample, selectedImageNameSample);
                            alert(response.response);
                                     var pageID = encodeURIComponent('@Context.Request.Query["PageID"]');
                            var parentID = encodeURIComponent('@Context.Request.Query["ParentID"]');
                            var moduleID = encodeURIComponent('@Context.Request.Query["ModuleID"]');
                            var modulePageID = encodeURIComponent('@Context.Request.Query["ModulePageID"]');

                            // Construct the full URL
                            var url = '@Url.Action("Lookup", "Master")' +
                                '?PageID=' + pageID +
                                '&ParentID=' + parentID +
                                '&ModuleID=' + moduleID +
                                '&ModulePageID=' + modulePageID;

                            // Redirect to the URL
                            window.location.href = url;
                            }
                  else{
 var pageID = encodeURIComponent('@Context.Request.Query["PageID"]');
                            var parentID = encodeURIComponent('@Context.Request.Query["ParentID"]');
                            var moduleID = encodeURIComponent('@Context.Request.Query["ModuleID"]');
                            var modulePageID = encodeURIComponent('@Context.Request.Query["ModulePageID"]');

                            // Construct the full URL
                            var url = '@Url.Action("Lookup", "Master")' +
                                '?PageID=' + pageID +
                                '&ParentID=' + parentID +
                                '&ModuleID=' + moduleID +
                                '&ModulePageID=' + modulePageID;

                            // Redirect to the URL
                            window.location.href = url;
                         
                  }
                  }
},
                                error: function () {
                                    alert("Error while saving lookup data");
                                }
                            });
                        }
   async function copyFile(fileInput, path, imageName) {
        var JwToken = '@ViewBag.JWTToken';
      var blobStorageUrl = '@ViewBag.ApiUrl';
      let blobPathPrefix = '@ViewBag.BaseBlobPath';
        var formdata = new FormData();
        // ✅ Append file correctly
        formdata.append("files", fileInput, imageName); // << change 'files' → 'file'

       // let blobPathPrefix = '@ViewBag.BaseBlobPath';
        blobPathPrefix = (blobPathPrefix || "").replace(/\\/g, "/").trim();
        if (blobPathPrefix.length > 0 && !blobPathPrefix.endsWith("/")) {
            blobPathPrefix += "/";
        }
        //    normalizePathPrefix(path)
        var Patths = blobPathPrefix + normalizePathPrefix(path.toLowerCase());
        formdata.append("blobPathPrefix", Patths);
        formdata.append("Policy", 0);


        $.ajax({
            url: blobStorageUrl + 'Files/upload',
            headers: {
                Authorization: 'Bearer ' + JwToken
            },
            method: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            mimeType: "multipart/form-data",
            data: formdata,
            //async: false,
            success: function (result) {
                let jsonResult = JSON.parse(result); // serialize into JSON string
                if (jsonResult && jsonResult.length > 0) {
                    let json = {
                      //  UserId: parseInt(CreatedBy),
                        ImageName: imageName,
                        BlobJson: result,
                    };

                    var Jsons = JSON.stringify(json);
                    console.log(`uploading: ${Jsons}`);



                }

            },
            error: function (err) {
                alert(err.message);
            }
        });


    }
</script>