@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model wa_1235_jk_ecm_v4.Models.Master
@{
    ViewData["Title"] = "AddStampMaster";
    Layout = "~/Views/Shared/_ECMMaster.cshtml";
}
<div class="content-wrapper">
    <!-- InstanceBeginEditable name="EditRegion1" -->


    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <h5> Stamp</h5>
                </div>
                <div class="col-lg-9">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" onclick="UserDetailChange('Index')">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">ECM</a></li>
                        <li class="breadcrumb-item active">Master</li>
                        <li class="breadcrumb-item"><a href="@Url.Action("StampMaster", "Master", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })">Stamp</a></li>

                     
                        <li class="breadcrumb-item active">Add</li>

                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="btnwidth50 float-right ">
                        @{
                            var url = Url.Action("StampMaster", "Master", new
                            {
                                PageID = Context.Request.Query["PageID"].ToString(),
                                ParentID = Context.Request.Query["ParentID"].ToString(),
                                ModuleID = Context.Request.Query["ModuleID"].ToString(),
                                ModulePageID = Context.Request.Query["ModulePageID"].ToString()
                            });
                        }
                        <button type="button"
                                class="btn btn-block bg-gradient-danger btn-xs float-left"
                                onclick="location.href='@url'"
                                title="Go back to the previous page">
                            Back
                        </button>
                    </div>

                </div>

            </div><!-- /.container-fluid -->
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary card-outline p-a-2" style="height: 100%;">

                        <!-- /.card-header -->
                        <div class="card-body">

                            <div class="col-md-12 mr-1">

                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label>Brand</label>
                                        @Html.DropDownListFor(m => m.BrandCode, new SelectList(Model.Brand_List, "BrandCode", "BrandName"), "Select", new { @class = "form-control select2", @id = "ddlBrand" })
                                        <span id="spBrandName" class="text-danger"></span>


                                    </div>

                                    <div class="form-group col-md-2">
                                        <label>Stamp Chart No.</label>
                                       @*  <input id="txtCustomer" maxlength="50" name="" type="text" class="form-control" />
                                        <span id="sptxtCustomer" class="text-danger"></span> *@
                                        <input type="text" class="form-control" id="txtStampChartNo">
                                        <span id="spStampChartNo" class="text-danger"></span>
                                    </div>


                                    <div class="form-group col-md-4">
                                        <label class="control-label padd0">Insert Stamp Chart </label> &nbsp; <span style="color:red">(JPG / PNG only) </span>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input name="" type="file" id="FileUploadIMG" class="custom-file-input">
                                                <label class="custom-file-label" for="FileUploadIMG">Choose file</label>
                                            
                                                @* <input type="file" class="custom-file-input" id="exampleInputFile">
                                                 *@
                                            </div>
                                            
                                        </div>
                                        <span id="spfilename" style="color:red" class="text-danger"></span>
                                    </div>

                                    <div class="btnwidth50 float-right mr-1 " style="margin-top:35px;">
                                        <button type="button"  id="btn_StampAddSubmit" class="btn btn-block bg-gradient-primary   btn-xs float-left"
                                                onClick="SaveData()" title="Go to the next page">
                                            Submit
                                        </button>
                                    </div>

                                </div>








                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </section>




    <!-- InstanceEndEditable -->
</div>

<script>
    $(document).ready(function () {
        $('#txtStampChartNo').on('keydown', function (e) {
            if (e.keyCode === 32) { // keyCode for space
                e.preventDefault(); // Prevent default action (typing space)
            }
        });
    });


    async function SaveData() {
        var BrandCode = $('#ddlBrand').val();
        var StampChartNo = $('#txtStampChartNo').val();


        var fileInput = document.getElementById('FileUploadIMG');
        if (fileInput.files.length > 0) {
            var filename = fileInput.files[0].name.trim();

            console.log('File Name:', filename);
        }
        else {
            console.log('No file selected.');
        }

        if (BrandCode == "" || StampChartNo == "" || filename == undefined) {

            if (BrandCode == "") {
                $("#spBrandName").html("Please Select Brand");
                $("#spBrandName").css("display", "block");
            }
            if (StampChartNo == "") {
                $("#spStampChartNo").html("Please Select stamp Chart No");
                $("#spStampChartNo").css("display", "block");
            }
            if (filename == undefined) {
                $("#spfilename").html("Please select file");
                $("#spfilename").css("display", "block");
            }
        }
      
  else {


            var iLoggedInUserID = parseInt('@Context.Session.GetInt32("CreatedBy")');
            let StampDetailsObj = {
                StampChartNo: StampChartNo,
                StampChartImage: cleanFileName(filename),
                CreatedDate: moment.utc(new Date()).format(),
                CreatedBy: iLoggedInUserID,

            };

            var json = {

                BrandCode: BrandCode,
                StampDetailsObj: StampDetailsObj
            };
            var JsonData = JSON.stringify(json);

            $.ajax({
                type: "POST",
                url: '@Url.Action("CheckStampExist", "Master")',
                data: { JsonData: JsonData },
                datatype: 'json',
                beforeSend: function () { $('#loader').show(); }, complete: function () { $('#loader').hide(); },
                success: async function (data) {
                    var StampId = data.response;
                    if (StampId != '0') {
                        var confirmation = confirm('Do you want to overwrite this stamp?');
                        if (confirmation) {

                            var json1 = {
                                Id: StampId,
                                BrandCode: BrandCode,
                                StampDetailsObj: StampDetailsObj
                            };
                            var JsonData1 = JSON.stringify(json1);

                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("SaveStamp", "Master")',
                                data: { JsonData: JsonData1 },
                                datatype: 'json',
                                beforeSend: function () { $('#loader').show(); }, complete: function () { $('#loader').hide(); },
                                success: async function (data) {
                                    var StampId = data.response;
                                    if (StampId != '') {
                                        if (filename.length != 0) {
                                            var selectedImageNameSample = cleanFileName(filename);
                                            var targetPathSample = 'others\\stamps\\' + BrandCode.toLowerCase() + '\\';
                                            var uploadedFileSample = document.getElementById('FileUploadIMG').files[0];
                                              await copyFile(uploadedFileSample, targetPathSample, selectedImageNameSample);
                                            //copyFile(selectedImageNameSample, targetPathSample, uploadedFileSample);
                                        }
                                        alert('Stamp Updated Successfully');
                                          var pageID = encodeURIComponent('@Context.Request.Query["PageID"]');
    var parentID = encodeURIComponent('@Context.Request.Query["ParentID"]');
    var moduleID = encodeURIComponent('@Context.Request.Query["ModuleID"]');
    var modulePageID = encodeURIComponent('@Context.Request.Query["ModulePageID"]');

    // Construct the full URL
    url = "@Url.Action("StampMaster", "Master")" +
        "?PageID=" + pageID +
        "&ParentID=" + parentID +
        "&ModuleID=" + moduleID +
        "&ModulePageID=" + modulePageID;

    // Redirect
    window.location.href = url;
                                    }

                                }
                            });

                        }
                        else {


                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("SaveStamp", "Master")',
                                data: { JsonData: JsonData },
                                datatype: 'json',
                                beforeSend: function () { $('#loader').show(); }, complete: function () { $('#loader').hide(); },
                                success: async function (data) {
                                    var StampId = data.response;
                                    if (StampId != '') {
                                        if (filename.length != 0) {
                                            var selectedImageNameSample = cleanFileName(filename);
                                            var targetPathSample = 'others\\stamps\\' + BrandCode.toLowerCase() + '\\';
                                            var uploadedFileSample = document.getElementById('FileUploadIMG').files[0];
                                              await copyFile(uploadedFileSample, targetPathSample, selectedImageNameSample);
                                           // copyFile(selectedImageNameSample, targetPathSample, uploadedFileSample);
                                        }
                                        alert('Stamp Added Successfully')
                                        url = "@Url.Action("StampMaster", "Master")";
                                        window.location.href = url;
                                    }
                                }
                            });
                        }
                    }
                    else {


                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("SaveStamp", "Master")',
                            data: { JsonData: JsonData },
                            datatype: 'json',
                            beforeSend: function () { $('#loader').show(); }, complete: function () { $('#loader').hide(); },
                            success: async function (data) {
                                var StampId = data.response;
                                if (StampId != '') {
                                    if (filename.length != 0) {
                                        var selectedImageNameSample = cleanFileName(filename);
                                        var targetPathSample = 'others\\stamps\\' + BrandCode.toLowerCase() + '\\';
                                        var uploadedFileSample = document.getElementById('FileUploadIMG').files[0];

                                        //copyFile(selectedImageNameSample, targetPathSample, uploadedFileSample);
                                          await copyFile(uploadedFileSample, targetPathSample, selectedImageNameSample);
                                    }
                                    alert('Stamp Added Successfully')
                                                          // Read values from server-side query string using Razor
    var pageID = encodeURIComponent('@Context.Request.Query["PageID"]');
    var parentID = encodeURIComponent('@Context.Request.Query["ParentID"]');
    var moduleID = encodeURIComponent('@Context.Request.Query["ModuleID"]');
    var modulePageID = encodeURIComponent('@Context.Request.Query["ModulePageID"]');

    // Build the full URL
    var url = "@Url.Action("StampMaster", "Master")" +
        "?PageID=" + pageID +
        "&ParentID=" + parentID +
        "&ModuleID=" + moduleID +
        "&ModulePageID=" + modulePageID;

    // Redirect to the URL
    window.location.href = url;
                                   
                                }
                            }
                        });
                    }
                }
            });
        }
    }

      async function copyFile(fileInput, path, imageName) {
        var JwToken = '@ViewBag.JWTToken';
      var blobStorageUrl = '@ViewBag.ApiUrl';
      let blobPathPrefix = '@ViewBag.BaseBlobPath';
        var formdata = new FormData();
        // ✅ Append file correctly
        formdata.append("files", fileInput, imageName); // << change 'files' → 'file'

       // let blobPathPrefix = '@ViewBag.BaseBlobPath';
        blobPathPrefix = (blobPathPrefix || "").replace(/\\/g, "/").trim();
        if (blobPathPrefix.length > 0 && !blobPathPrefix.endsWith("/")) {
            blobPathPrefix += "/";
        }
        //    normalizePathPrefix(path)
        var Patths = blobPathPrefix + normalizePathPrefix(path.toLowerCase());
        formdata.append("blobPathPrefix", Patths);
        formdata.append("Policy", 0);


        $.ajax({
            url: blobStorageUrl + 'Files/upload',
            headers: {
                Authorization: 'Bearer ' + JwToken
            },
            method: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            mimeType: "multipart/form-data",
            data: formdata,
            //async: false,
            success: function (result) {
                let jsonResult = JSON.parse(result); // serialize into JSON string
                if (jsonResult && jsonResult.length > 0) {
                    let json = {
                      //  UserId: parseInt(CreatedBy),
                        ImageName: imageName,
                        BlobJson: result,
                    };

                    var Jsons = JSON.stringify(json);
                    console.log(`uploading: ${Jsons}`);



                }

            },
            error: function (err) {
                alert(err.message);
            }
        });


    }
    // function copyFile(selectedImageNameSample, targetPath, uploadedFile) {
    //     var formData = new FormData();

    //     if (uploadedFile) {
    //         formData.append('UploadedFile', uploadedFile);
    //     } else {
    //         formData.append('SourceFilePath', '');
    //     }

    //     formData.append('TargetFilePath', targetPath + selectedImageNameSample);
    //     var JwToken = '@ViewBag.JWTToken';
    //     var url1 = '@ViewBag.ApiUrl';
    //     $.ajax({
    //         url: url1 + 'UploadAndDownLoadFile/copy',
    //         headers: {
    //             Authorization: 'Bearer ' + JwToken
    //         },
    //         type: 'POST',
    //         data: formData,
    //         contentType: false,
    //         processData: false,
    //         success: function (response) {
    //             if (response.success) {
    //                 console.log('File copied successfully.');
    //             } else {
    //                 console.error('Failed to copy file:', response.error);
    //             }
    //         },
    //         error: function (xhr, status, error) {
    //             console.error('AJAX error:', error);
    //         }
    //     });
    // }

</script>