@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model wa_1235_jk_ecm_v4.Models.Master

@{
    ViewData["Title"] = "AddValueStream";
    Layout = "~/Views/Shared/_ECMMaster.cshtml";
}
<div class="content-wrapper">
    <!-- InstanceBeginEditable name="EditRegion1" -->


    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <h5>Add</h5>
                </div>
                <div class="col-lg-9">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#" onclick="UserDetailChange('Index')">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">ECM</a></li>
                         <li class="breadcrumb-item active">Masters</li>
                        <li class="breadcrumb-item"><a  href="@Url.Action("ValueStream", "Master", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })"
                         >Value Stream</a></li>
                        <li class="breadcrumb-item active">Add</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="btnwidth50 float-right ">
                        <button type="button"
                                class="btn btn-block bg-gradient-danger btn-xs"
                                onclick="window.history.back()"
                                title="Go back to the previous page">
                            Back
                        </button>
                    </div>

                </div>
            </div>
        </div><!-- /.container-fluid -->

    </section>

    <section class="content">

        <div class="container-fluid">

            <div class="row equal">
                <div class="col-md-12">
                    <div class="card card-outline card-primary p-a-2" style="height: 100%;">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label>Product Line</label>
                                  @Html.DropDownListFor(
    m => m.valcode,
    new SelectList(
        Model.ProductLineDatas.Select(x => new {
            ProductLineCode = x.ProductLineCode,
            ProductLine = x.ProductLine + " (" + x.ProductLineCode + ")"
        }),
        "ProductLineCode",
        "ProductLine"
    ),
    "Select",
    new { @class = "form-control select2", @id = "ddlProductLine",onchange="clearError('spddlProductLine');" }
)        <span id="spProductLine" class="text-danger"></span>
                                 
                                </div>



                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Value Stream Code </label>
                                        <input name="" type="text" class="form-control" id="txtValueCode" oninput="clearError('spValueCode');">
                                         <span id="spValueCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Value Stream Name </label>
                                        <input name="" type="text" class="form-control" id="txtValueName" oninput="clearError('spValueName');">
                                         <span id="spValueName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Add Operations</label>
 @Html.DropDownListFor(
    m => m.ProdId,
    new SelectList(Model.OprationLists, "opr_operation_seq", "opr_operation_name"),
    new { @class = "form-control select2", @id = "ddlOperationName", multiple = "multiple", onchange = "GetSequence();clearError('spOperationName');" }
)                                     
                                                                                                                                                                                                                                                 
                                              <span id="spOperationName" class="text-danger"></span>
                                  
                                       </div>
                                </div>



                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label>Sequence </label>
                                        <div class="input-group">
                                            <input type="text" id="txtSequence"class="form-control" disabled>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2" style="margin-top: 34px;">
                                    <a href="#" style="width: 50px;" class="btn btn-block  bg-gradient-primary  btn-xs float-left" id="AddValuesteam">
                                        Add
                                    </a>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-lg-4 mt-2">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered">
                                       <thed>
<tr>
                                            <th style="width: 90%;"><strong>Operations</strong></th>
                                          <th style="width: 90%;"><strong>Sequence</strong></th>
                                          
                                            <th style="width: 10%;">&nbsp;</th>
                                        </tr>
                                       </thed>
                                       <tbody  id="tblOperationBody">

                                       </tbody>
                                        
                                        
                                    </table>
                                </div>
                            </div>
                          
                            <div class="row">
                              @*   <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Type </label>
                                        <div class="input-group">
                                            <select class="form-control select2">
                                                <option>Select</option>
                                                <option value="2">JOBBER DRILL -  JD</option>
                                                <option value="3">LONG DRILL - LD</option>
                                                <option value="4">ANNULAR CUTTER -  AC</option>
                                                <option>TAP SET / MACHINE TAPS - TT</option>
                                                <option>DIES - DI</option>
                                                <option>SQUARE TOOL BITS - TS</option>

                                            </select>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-2">
                                    <label>
                                        Key Parameter
                                    </label>  <span style="margin-top: 4px; display: block;">Pilot Dia</span>

                                </div>


                                <div class="form-group col-md-1">
                                    <label>
                                        UOM
                                    </label>  <span style="margin-top: 4px; display: block;">mm</span>

                                </div>

                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Min (Size) </label>
                                        <input class="form-control" type="number">
                                    </div>
                                </div>

                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Max (Size) </label>
                                        <input class="form-control" type="number">
                                    </div>
                                </div>



                                <div class="col-lg-1" style="margin-top: 34px;">
                                    <a href="#" style="width: 50px;" class="btn btn-block  bg-gradient-primary  btn-xs float-left">
                                        Add
                                    </a>
                                </div>


                                <div class="col-lg-10 mt-2">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered">
                                        <tr>
                                            <td style="width: 50%;"><strong>Type</strong></td>
                                            <td style="width: 17%;">
                                                <strong>
                                                    <label>Key Parameter</label>
                                                    <br />
                                                </strong>
                                            </td>
                                            <td style="width: 10%;"><div align="center"><strong>UOM</strong></div></td>
                                            <td style="width: 10%;"><div align="center"><strong>Min (Size)</strong></div></td>
                                            <td style="width: 13%;"><div align="center"><strong>Max (Size)</strong></div></td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <div><a href="#" title="Edit">JOBBER DRILL -  JD</a></div>
                                                </div>
                                            </td>
                                            <td><div>Pilot Dia</div>     </td>
                                            <td><div align="center">mm</div></td>
                                            <td><div align="center">2</div></td>
                                            <td><div align="center">3</div></td>
                                            <td>
                                                <div align="center">
                                                    <a href="#" style="width: 60px;" class="btn btn-block  bg-gradient-danger  btn-xs">
                                                        Delete
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
 *@
                                <div class="col-lg-12">

                                    @* <div class="btnwidth120 float-right mr-2">
                                        <a href="value-stream.html" class="btn btn-block  bg-gradient-primary  btn-xs float-right">
                                            Submit
                                        </a>
                                    </div> *@
                                    <div class="btnwidth120 float-right mr-2">
                                        <a href="#" class="btn btn-block  bg-gradient-primary  btn-xs float-right" id="btnSave">
                                            Save
                                        </a>
                                    </div>



                                </div>



                            </div>


                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>


                <!-- /.card -->
            </div>

        </div>



    </section>

    <!-- InstanceEndEditable -->
</div>
<script>
    function clearError(id) {
    $("#" + id).text("");
}
function GetSequence() {

    var seq = $('#ddlOperationName').val(); // get selected values

    if (seq != null) {
        $('#txtSequence').val(seq.join(',')); // show sequence
    } else {
        $('#txtSequence').val('');
    }
}
$(document).on("click", "#AddValuesteam", function (e) {


    var productLine = $('#ddlProductLine').val();
    var valueCode = $('#txtValueCode').val();
    var valueName = $('#txtValueName').val();


     var isValid = true;

    if (productLine == "") {
        $("#spProductLine").text("Please select product line");
        isValid = false;
    }

    if (valueCode == "") {
        $("#spValueCode").text("Please enter value stream code");
        isValid = false;
    }

    if (valueName == "") {
        $("#spValueName").text("Please enter value stream name");
        isValid = false;
    }

   
    if (!isValid) return;

    e.preventDefault();

    var operations = $('#ddlOperationName').select2('data');

    if (operations.length == 0) {
        //alert("Please select operation");
        return;
    }

    $.each(operations, function (i, item) {

        var operationName = item.text;
        var sequence = item.id;

        var isExist = false;

        // Check duplicate sequence in table
        $('#tblOperationBody tr').each(function () {

            var existingSeq = $(this).find('td:eq(1)').text().trim();

            if (existingSeq == sequence) {
                isExist = true;
                return false; // break loop
            }

        });

        if (isExist) {
            alert(operationName + " already added.");
            return;
        }

        var row = "<tr>" +
            "<td>" + operationName + "</td>" +
            "<td>" + sequence + "</td>" +
            "<td>" +
            "<div align='center'>" +
            "<a href='#' style='width:60px;' class='btn btn-block bg-gradient-danger btn-xs deleteRow'>Delete</a>" +
            "</div>" +
            "</td>" +
            "</tr>";

        $("#tblOperationBody").append(row);

    });

    // Clear dropdown
    $('#ddlOperationName').val(null).trigger('change');

    // Clear sequence textbox
    $('#txtSequence').val('');

});
$(document).on("click", ".deleteRow", function () {
    $(this).closest("tr").remove();
});


$('#btnSave').click(function () {

    var productLine = $('#ddlProductLine').val();
    var valueCode = $('#txtValueCode').val();
    var valueName = $('#txtValueName').val();

     var isValid = true;

    if (productLine == "") {
        $("#spProductLine").text("Please select product line");
        isValid = false;
    }

    if (valueCode == "") {
        $("#spValueCode").text("Please enter value stream code");
        isValid = false;
    }

    if (valueName == "") {
        $("#spValueName").text("Please enter value stream name");
        isValid = false;
    }

    if ($('#tblOperationBody tr').length == 0) {
       alert("Please add at least one operation");
        isValid = false;
    }

    if (!isValid) return;

    var operations = [];

    $('#tblOperationBody tr').each(function () {

        var operationName = $(this).find('td:eq(0)').text();
        var sequence = $(this).find('td:eq(1)').text();

        operations.push({
            OperationName: operationName,
            Sequence: sequence
        });

    });

    var data = {
        ProductLine: productLine,
        ValueStreamCode: valueCode,
        ValueStreamName: valueName,
        Createdby:parseInt('@Context.Session.GetInt32("CreatedBy")'),
        Operations: operations
    };
     var JsonData = JSON.stringify(data);

    $.ajax({
        url: '@Url.Action("InsertValueStream", "Master")',
        type: 'POST',
       data: { JsonData: JsonData }, // ✅ correct
        success: function (response) {

            alert(response.response);
            var pageID = encodeURIComponent('@Context.Request.Query["PageID"]');
                       var parentID = encodeURIComponent('@Context.Request.Query["ParentID"]');
                       var moduleID = encodeURIComponent('@Context.Request.Query["ModuleID"]');
                       var modulePageID = encodeURIComponent('@Context.Request.Query["ModulePageID"]');

                    
            var url = '@Url.Action("ValueStream", "Master")' +
                '?PageID=' + pageID +
                '&ParentID=' + parentID +
                '&ModuleID=' + moduleID +
                '&ModulePageID=' + modulePageID;

            window.location.href = url;
        },
        error: function () {
            alert("Error saving data");
        }
    });

});
</script>