@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model wa_1235_jk_ecm_v4.Models.Master
@{
    ViewData["Title"] = "ValueStream";
    Layout = "~/Views/Shared/_ECMMaster.cshtml";
}


    <section class="content-header">
  <div class="container-fluid">
     <div class="row">
          <div class="col-lg-3">
           <h5>Add</h5>
          </div>
          <div class="col-lg-9">
             <ol class="breadcrumb float-sm-right">
                 <li class="breadcrumb-item"><a href="#" onclick="UserDetailChange('Index')">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">ECM</a></li>
                    <li class="breadcrumb-item">Masters</li>
                 <li class="breadcrumb-item">Cutting Tools</li>
                 <li class="breadcrumb-item"><a href="@Url.Action("CTProcessNames", "Master", new { PageID = @Context.Request.Query["PageID"].ToString(), ParentID = @Context.Request.Query["ParentID"].ToString(), ModuleID = @Context.Request.Query["ModuleID"].ToString(), ModulePageID = @Context.Request.Query["ModulePageID"].ToString() })">Process Names</a></li>
                 <li class="breadcrumb-item">Add</li>
            </ol>
		     </div>
    </div>
        
<div class="row">
      <div class="col-lg-12">
            <div class="btnwidth50 float-right ">
              <button type="button" class="btn btn-block bg-gradient-danger btn-xs float-left"
               onclick="location.href='Process-Names.html'" title="Go back to the previous page">Back
              </button>
           </div>
          
    </div>
  
</div><!-- /.container-fluid -->
    
</section>
    
   <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary card-outline p-a-2">
             
              <!-- /.card-header -->
              <div class="card-body">
                        <div class="col-md-12">

                            <div class="row">


                              <div class="form-group col-md-4">
  <label for="">Product Line</label>
  @Html.DropDownListFor(m => m.ProdId, new SelectList(Model.ProdLine_List, "Id", "ProductLine"), "Select", new { @class = "form-control select2", @id = "ddlproductline", onchange = "clearError('spddlproductline')" })
  <span id="spddlproductline" class="text-danger"></span>
                            
</div>  
                                <div class="form-group col-md-2">
                                    <label>Sequence  </label>
                                    <input id="txtSequence" type="number" class="form-control" min=0 oninput="clearError('spSequence')"  />
                                    <span id="spSequence" class="text-danger"></span>
                                </div>



                                 <div class="form-group col-md-6">
  <label for="">Process Name</label>
 <input type="text" class="form-control" id="txtProcessName" oninput="clearError('spProcessName')"  /> 
     <span id="spProcessName" class="text-danger"></span>
                               
</div>  
                              
                                <div class="form-group col-md-12">
                                      <div class="btnwidth50 float-right mr-1">      
                                                  <button type="button" class="btn btn-block bg-gradient-primary   btn-xs float-left" 
                                                  onclick="AddProcessName();" title="Go to the next page">Submit
                                                  </button>
                                              </div>
                                              </div>
                                
                            </div>

                        </div>
                    </div>
                </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </section>
  
  <script>
    function clearError(id) {
    $("#" + id).text("");
}


function AddProcessName() {

    var isValid = true;

    var productline = $('#ddlproductline').val();
    var sequence = $('#txtSequence').val();
    var processName = $('#txtProcessName').val();

    // Product Line validation
    if (productline == "" || productline == null) {
        $('#spddlproductline').text("Please select product line");
        isValid = false;
    }

    // Sequence validation
    if (sequence == "" || sequence == null) {
        $('#spSequence').text("Please enter sequence");
        isValid = false;
    }

    // Process Name validation
    if (processName.trim() == "") {
        $('#spProcessName').text("Please enter process name");
        isValid = false;
    }

    if (!isValid) {
        return false;
    }

    var json = {
        ProductLine: productline,
        Sequence: sequence,
        ProcessName: processName
    };

    var JsonData = JSON.stringify(json);

    $.ajax({
        type: "POST",
        url: '@Url.Action("CTProcessAdd", "Master")',
        data: { JsonData: JsonData },
        datatype: 'json',
        beforeSend: function () { $('#loader').show(); },
        complete: function () { $('#loader').hide(); },
        success: function (data) {
           alert(data.response);
             var url = "@Url.Action("CTProcessNames", "Master")" +
        "?PageID=" + pageID +
        "&ParentID=" + parentID +
        "&ModuleID=" + moduleID +
        "&ModulePageID=" + modulePageID;

    // Redirect to the URL
    window.location.href = url;
        }
    });

}

  </script>   

