@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model wa_1235_jk_ecm_v4.Models.Master
@{
    ViewData["Title"] = "EditFileType";
    Layout = "~/Views/Shared/_ECMMaster.cshtml";
}
<div class="content-wrapper">
    <!-- InstanceBeginEditable name="EditRegion1" -->


    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <h5> File Type</h5>
                </div>
                <div class="col-lg-9">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" onclick="UserDetailChange('Index')">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">ECM</a></li>
                        <li class="breadcrumb-item active">Master</li>
                        <li class="breadcrumb-item"><a href="@Url.Action("FileType", "Master", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })">File Type</a></li>
                        <li class="breadcrumb-item active">Add</li>

                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="btnwidth50 float-right ">
                        @{
                            var url = Url.Action("FileType", "Master", new
                            {
                                PageID = Context.Request.Query["PageID"].ToString(),
                                ParentID = Context.Request.Query["ParentID"].ToString(),
                                ModuleID = Context.Request.Query["ModuleID"].ToString(),
                                ModulePageID = Context.Request.Query["ModulePageID"].ToString()
                            });
                        }
                        <button type="button"
                                class="btn btn-block bg-gradient-danger btn-xs float-left"
                                onclick="location.href='@url'"
                                title="Go back to the previous page">
                            Back
                        </button>
                    </div>

                </div>

            </div><!-- /.container-fluid -->
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary card-outline p-a-2" style="height: 100%;">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="col-md-12 mr-1">

                                <div class="row">
                                    <div class="form-group col-md-2 mt-2">
                                        <label>File Type</label>
                                      @*   <input id="txtCustomerCode" type="text" maxlength="2" value="Flat File" class="form-control" />
                                        <span id="sptxtCustomerCode" class="text-danger"></span> *@
                                        <input type="text" class="form-control" id="TxtFileType" value="@ViewBag.FileTypeName" text="@ViewBag.FileTypeName">
                                        <span id="spTxtFileType" class="text-danger"></span>
                                    </div>

                                    <div class="form-group col-md-2 mt-2">
                                        <label>File Type Code</label>
                                       @*  <input id="txtCustomer" maxlength="50" name="" type="text" value="FL" class="form-control" />
                                        <span id="sptxtCustomer" class="text-danger"></span> *@
                                        <input type="text" class="form-control" id="TxtFileTypeCode" value="@ViewBag.FileTypeCode" text="@ViewBag.FileTypeCode">
                                        <span id="spTxtFileTypeCode" class="text-danger"></span>
                                    </div>

                                    <div class="form-group col-md-3 mt-2">
                                        <label class="control-label padd0">Upload Images</label> &nbsp;
                                        <div class="input-group">
                                            @* <div class="custom-file">
                                                <input type="file" class="custom-file-input">
                                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>

                                            </div> *@
                                            @{
                                                var fileTypeProfileImage = ViewBag.fileTypeProfileImage as string;
                                            }

                                            @if (!string.IsNullOrEmpty(fileTypeProfileImage))
                                            {
                                                <input name="file" class="custom-file-input" type="file" id="FileUploadIMG">
                                                <label class="custom-file-label" for="FileUploadIMG">Choose file</label>
                                                <span><a href="#" onclick="OpenDocument('@fileTypeProfileImage')"> @fileTypeProfileImage</a></span>
                                            }
                                            else
                                            {
                                                <input name="file" class="custom-file-input" type="file" id="FileUploadIMG">
                                                <label class="custom-file-label" for="FileUploadIMG">Choose file</label>
                                            }
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3 mt-2">
                                        <label class="control-label padd0">Upload CSV</label> &nbsp;
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input name="" type="file" id="FileUploadCSV" value="@ViewBag.fileName" text="@ViewBag.fileName">
                                                <label class="custom-file-label" for="FileUploadCSV">Choose file</label>
                                               @*   <input type="file" class="custom-file-input" id="exampleInputFile">
                                                <label class="custom-file-label" for="exampleInputFile">Choose file</label> *@
                                            </div>
                                        </div>
                                        <span id="spTxtFileUploadCSV" class="text-danger"></span>

                                    </div>

                                    <div class="btnwidth50 float-right mr-1 " style="margin-top:45px;">
                                        <button type="button" id="btn_EditFileTypeSubmit" class="btn btn-block bg-gradient-primary   btn-xs float-left"
                                                onClick="SaveData()" title="Go to the next page">
                                            Submit
                                        </button>
                                    </div>

                                </div>

                                <div class="form-group row mt-2 d-flex align-items-end">

                                    <div class="col-md-3">
                                        <label>Download Reference CSV File Type Code</label>
                                        @Html.DropDownListFor(m => m.Id, new SelectList(Model.FileType_List, "Id", "FileTypeName"), "Select", new { @class = "form-control select2", @id = "ddlFileTypeCVS" })
                                    </div>

                                    <div class="col-md-2">
                                        <button type="button"
                                                class="btn btn-primary btn-xs " style="margin-top:5px;"
                                                id="downloadButton" onclick="convertJSONToCSV()"
                                                title="Download the file">
                                            Download
                                        </button>
                                    </div>

                                </div>






                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </section>




    <!-- InstanceEndEditable -->
</div>

<script>

    $(document).ready(function () {
        $("#textRemark").val("@ViewBag.Remark");

        var selectedFileSizeMin = '@ViewBag.fileSizeMin'; // Get the selected value from ViewBag
        if (selectedFileSizeMin !== '') {
            $("#ddlFileMin").val(selectedFileSizeMin); // Set the selected value in the dropdown
        }
        var selectedFileSizeMax = '@ViewBag.fileSizeMax'; // Get the selected value from ViewBag
        if (selectedFileSizeMax !== '') {
            $("#ddlFileMax").val(selectedFileSizeMax); // Set the selected value in the dropdown
        }

    });




</script>
<script>




    function SaveData() {
        var FileType = $('#TxtFileType').val();
        var FileTypeCode = $('#TxtFileTypeCode').val();

        var filenameCSV = ($('#FileUploadCSV')[0].files[0]) ? $('#FileUploadCSV')[0].files[0].name : '';
        var filenameIMG = ($('#FileUploadIMG')[0].files[0]) ? $('#FileUploadIMG')[0].files[0].name : '';
        if(filenameIMG=='')
        {
          filenameIMG = '@ViewBag.fileTypeProfileImage' || '';
        }
        var ValidationFlag = false;

        // Validate FileType
        if (FileType === "") {
            $("#spTxtFileType").html("Enter FileType");
            $("#spTxtFileType").css("display", "block");
            ValidationFlag = true;
        } else {
            $("#spTxtFileType").html("");
        }

        // Validate FileTypeCode
        if (FileTypeCode === "") {
            $("#spTxtFileTypeCode").html("Enter FileTypeCode");
            $("#spTxtFileTypeCode").css("display", "block");
            ValidationFlag = true;
        } else {
            $("#spTxtFileTypeCode").html("");
        }

        // Validate image file
        if (!filenameIMG) {
            $("#spTxtFileUploadIMG").html("Select Image");
            $("#spTxtFileUploadIMG").css("display", "block");
            ValidationFlag = true;
        } else {
            $("#spTxtFileUploadIMG").html("");
        }

        // Validate CSV file
        if (!filenameCSV) {
            $("#spTxtFileUploadCSV").html("Select CSV File");
            $("#spTxtFileUploadCSV").css("display", "block");
            ValidationFlag = true;
        } else {
            $("#spTxtFileUploadCSV").html("");
        }



        if (ValidationFlag) {
            return; // Don't proceed further if any validation fails
        }

        var iLoggedInUserID = parseInt('@Context.Session.GetInt32("CreatedBy")');
        var CreatedDate = moment.utc(new Date()).format();


        var fileInput = document.getElementById('FileUploadCSV');
        if (fileInput.files.length === 0) {
            alert('Please select a file!');
            return;
        }

        var formData = new FormData();
        formData.append('file', fileInput.files[0]);


        // Ensure a file has been selected
        if (fileInput.files.length === 0) {
            alert('Please select a CSV file.');
            return;
        }

        var file = fileInput.files[0];
        var reader = new FileReader();
        var jsonArrayObj = [];

        // When file is loaded, process its content
        reader.onload = function (event) {
            var csvContent = event.target.result;
            var jsonArray = csvToJson(csvContent);
            jsonArrayObj = jsonArray;
            console.log("CSV to JSON Array:", jsonArray);

            // Now you can do something with the jsonArray, such as displaying it in a table

            var iLoggedInUserID = parseInt('@Context.Session.GetInt32("CreatedBy")');
            var FileTypeJobj = {
                FileTypeProfileImage: filenameIMG,
                FileTypeName: FileType,
                FileTypeCode: FileTypeCode,
                CreatedBy: iLoggedInUserID,
                CreatedDate: moment.utc(new Date()).format(),
                ParameterJarr: jsonArrayObj
            };

            var jsonData = JSON.stringify({
                ReqId: encodeURIComponent(@Context.Request.Query["ReqId"]),
                FileTypeJobj: FileTypeJobj
            });

            $.ajax({
                type: "POST",
                url: '@Url.Action("EditSaveFileType", "Master")',
                data: { JsonData: jsonData },
                dataType: 'json',
                beforeSend: function () { $('#loader').show(); },
                complete: function () { $('#loader').hide(); },
                success: function (data) {
                    if (data && data.response === "Updated Successfully") {


                        var selectedImageNameSample = cleanFileName(filenameIMG);
                        var targetPathSample = 'others\\filetypes\\';
                        var uploadedFileSample = document.getElementById('FileUploadIMG').files[0];

                        copyFile(selectedImageNameSample, targetPathSample, uploadedFileSample);
                        alert(data.response);
                            var pageID = encodeURIComponent('@Context.Request.Query["PageID"]');
    var parentID = encodeURIComponent('@Context.Request.Query["ParentID"]');
    var moduleID = encodeURIComponent('@Context.Request.Query["ModuleID"]');
    var modulePageID = encodeURIComponent('@Context.Request.Query["ModulePageID"]');

    // Construct the full URL
    var url = '@Url.Action("FileType", "Master")' +
        '?PageID=' + pageID +
        '&ParentID=' + parentID +
        '&ModuleID=' + moduleID +
        '&ModulePageID=' + modulePageID;

    // Redirect
    window.location.href = url;
                    } else {
                        alert("Error occurred while saving file type.");

                    }
                },
                error: function (xhr, status, error) {
                    alert("Error occurred while saving file type.");
                    console.error(xhr.responseText);
                }
            });
        };

        // Read the file as text
        reader.readAsText(file);


    }


    // Function to convert CSV to JSON
    function csvToJson(csv) {
        // Split the CSV by newlines to get each row
        var lines = csv.split("\n");

        // Get the headers from the first row
        var headers = lines[0].split(",");

        var jsonArray = [];

        // Loop through the remaining lines to convert each to a JSON object
        for (var i = 1; i < lines.length; i++) {
            var line = lines[i].trim();

            // Skip empty lines
            if (line === "") continue;

            var values = line.split(",");
            var jsonObject = {};

            // Assign the values to the appropriate headers
            for (var j = 0; j < headers.length; j++) {
                jsonObject[headers[j].trim()] = values[j] ? values[j].trim() : null;
            }

            // Push the JSON object to the array
            jsonArray.push(jsonObject);
        }

        return jsonArray;
    }


    function copyFile(selectedImageNameSample, targetPath, uploadedFile) {
        var formData = new FormData();

        if (uploadedFile) {
            formData.append('UploadedFile', uploadedFile);
        } else {
            formData.append('SourceFilePath', '');
        }

        formData.append('TargetFilePath', targetPath + selectedImageNameSample);
        var JwToken = '@ViewBag.JWTToken';
        var url1 = '@ViewBag.ApiUrl';
        $.ajax({
            url: url1 + 'UploadAndDownLoadFile/copy',
            headers: {
                Authorization: 'Bearer ' + JwToken
            },
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.success) {
                    console.log('File copied successfully.');
                } else {
                    console.error('Failed to copy file:', response.error);
                }
            },
            error: function (xhr, status, error) {
                console.error('AJAX error:', error);
            }
        });
    }


    function convertJSONToCSV() {

        var FileTypeId = $('#ddlFileTypeCVS').val();

        var JsonData = JSON.stringify({
            ID: FileTypeId
        });

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetParametersList", "Master")',
            data: { JsonData: JsonData },
            dataType: 'json',
            beforeSend: function () { $('#loader').show(); },
            complete: function () { $('#loader').hide(); },
            success: function (data) {

                var JsonData1 = data.parametersLists;
                var JsonData = JSON.stringify({
                    JsonData: JsonData1
                });

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DownloadExcel", "Master")',
                    data: { JsonData: JsonData },

                    success: function (response) {
                        const url = window.URL.createObjectURL(new Blob([response], { type: 'text/csv' }));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', 'data.csv');
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    },
                    error: function (xhr, status, error) {
                        console.error("Error occurred:", error);
                        console.error("Status:", status);
                        console.error("Response:", xhr.responseText);
                        alert("An error occurred while downloading the file.");
                    },
                    xhrFields: {
                        responseType: 'blob'
                    }
                });
            },
            error: function () {
                alert('Error occurred while fetching data.');
            }
        });


    }

</script>
<script>
    async function OpenDocument(FileName) {
            var JwToken = '@ViewBag.JWTToken';
         var blobStorageUrl = '@ViewBag.ApiUrl';
         let blobPathPrefix = '@ViewBag.BaseBlobPath';
           // G: \static\falco_co_in\1235_jk\ecm_v3\others\stamps\ag\ca\34
           var path = 'others\\filetypes' + '\\';

           const blobpath = (normalizePathPrefix(blobPathPrefix) + normalizePathPrefix(path) ).toLowerCase()+ FileName;

            const JSONData = {
                blobPath: blobpath,
                asSas: false,
                downloadFileName: FileName
            };

            try {
                $('#loader').show();

                const response = await $.ajax({
                    url: blobStorageUrl + 'Files/get',
                    headers: { Authorization: 'Bearer ' + JwToken },
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(JSONData),
                    xhrFields: { responseType: 'blob' }
                });

                if (response && response.size > 0) {
                    const objectURL = URL.createObjectURL(response);
                    // Display the image in the img tag
                    // const imgElement = document.getElementById('displayImage');
                    // imgElement.src = objectURL;
                    // Display the image in the img tag
                        window.open(objectURL, '_blank');
                }
            }
                catch (error) {
                    console.error("Error:", error);
                }
                finally {
             $('#loader').hide();
            }
       }


</script>