@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model wa_1235_jk_ecm_v4.Models.Master
@{
    ViewData["Title"] = "ValueStream";
    Layout = "~/Views/Shared/_ECMMaster.cshtml";
}


<div class="content-wrapper">
    <!-- InstanceBeginEditable name="EditRegion1" -->


    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <h5>Parameter Names</h5>
                </div>
                <div class="col-lg-9">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" onclick="UserDetailChange('Index')">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">ECM</a></li>
                        <li class="breadcrumb-item active">Master</li>
                        <li class="breadcrumb-item">Files</li>
                        <li class="breadcrumb-item">Parameter Names</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="btnwidth50 float-right ">
                        <button type="button"
                                class="btn btn-block bg-gradient-danger btn-xs"
                                onclick="window.history.back()"
                                title="Go back to the previous page">
                            Back
                        </button>
                    </div>
                    <div class="btnwidth50 float-right mr-1">
                        <a class="btn btn-block bg-gradient-primary btn-xs float-left"
                           href="@Url.Action("AddFileParameterNames", "Master", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })"
                           title="Add new record">
                            Add
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->

    </section>
    <section class="content">

        <div class="container-fluid">


            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-primary">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div>
                                <div class="table-responsive">
                                    <table class="table table-bordered example1">
                                        <thead>
                                            <tr>
                                                <th width="25%"><div align="left">Process Name</div></th>
                                                <th width="25%"><div align="left">Parameter Name</div></th>
                                                <th width="15%"><div align="center">Parameter Code</div></th>
                                                <th width="15%"><div align="center">UOM</div></th>
                                                <th width="15%">
                                                    <div align="center">Input Type</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.FileParemeter_List != null)
                                            {
                                                foreach (var item in Model.FileParemeter_List)
                                                {
                                                    
                                                        <tr>
                                                        <td class="text-center"><a href="#" title="Edit" onclick="EditFileType('@item.Id');">@item.ParamCatName</a></td>
                                                            <td>
                                                                <a href="#">
                                                                    @item.ParamName
                                                                </a>
                                                            </td>
                                                            <td class="text-center">@item.ParamCode</td>
                                                        <td class="text-center">@item.ParamUoM</td>
                                                        <td class="text-center">@item.ParamInputType</td>

                                                    </tr>
                                                    
                                                }
                                            }
                                        </tbody>
                                        
                                    </table>
                                </div>

                            </div>
                            <!-- /.tab-pane -->





                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

            </div>


    </section>

 
   
</div>
