@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model wa_1235_jk_ecm_v4.Models.Master
@{
	ViewData["Title"] = "Labellayout";
	Layout = "~/Views/Shared/_ECMMaster.cshtml";
}


<div class="content-wrapper">
	<!-- InstanceBeginEditable name="EditRegion1" -->

	<section class="content-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3">
					<h5>Label Layout</h5>
				</div>
				<div class="col-lg-9">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#" onclick="UserDetailChange('Index')">Home</a></li>
						<li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">ECM</a></li>
						<li class="breadcrumb-item active">Master</li>
						<li class="breadcrumb-item active">Label Layout</li>
					</ol>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="btnwidth50 float-right ">
						<a id="btnBack" class="btn btn-block bg-gradient-danger btn-xs float-left"
						   onClick="history.back()" title="Go back to the previous page">
							Back
						</a>
					</div>

				</div>
			</div>
		</div><!-- /.container-fluid -->

	</section>

	<section class="content">

		<div class="container-fluid">

			<div class="row">
				<div class="col-md-12">
					<div class="card card-outline card-primary">
						<div class="card-header">
							<h3 class="card-title">New Requests</h3>

							<div class="card-tools">
								<button type="button" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
							</div>
							<!-- /.card-tools -->
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered example1 nowrap" style="width:100%;">
									<thead>

										<tr>

											<th width="10%"><div align="center">Request No.</div></th>
											<th width="15%"><div align="center">SKU-Key</div></th>
											<th width="15%"><div align="center">SAP No.</div></th>
											<th width="45%"><div align="Left">Description</div></th>
											<th width="15%"><div align="center"></div></th>
										</tr>
									</thead>
									<tbody>
										@if (Model.SubmittedRequest_List != null)
										{
											@foreach (var item in Model.SubmittedRequest_List)
											{
												if (item.GridNo == 1)
												{
													<tr>
														<td>
															<div align="center">
															<a href="#" onclick="RedirectToShowLabelLayout(@item.RequestId);" title="View">
																@Html.DisplayFor(modelItem => item.RequestCode)
															</a>
															</div>
														</td>
														<td>
															<div align="center">
															@if (item.RequestStatusName == "Created")
															{
																<div style="margin-left:auto; margin-right:auto; float:none; display:table;">
																	<a href="#" onclick="RedirectToEditRequest(@item.RequestId,'@item.ReqType');" class="fa-i-small orangebt" title="Edit">
																		@item.SKUKey
																	</a>
																</div>

															}
															else
															{
																<div style="margin-left:auto; margin-right:auto; float:none; display:table;">
																	<a href="#" onclick="RedirectToViewRequest(@item.RequestId,'@item.ReqType');" class="fa-i-small orangebt" title="View">
																		@item.SKUKey
																	</a>
																</div>
															}
															</div>
														</td>
														<td><div align="center">@item.SAPNo</div></td>
														<td><div align="left">@item.Description</div></td>
														<td>															
															<div align="center">
																<button type="button"
																		class="btn btn-primary btn-xs btnwidth95"
																		onclick="SubmitSKU(@item.RequestId,1)"
																		title="Go to the next page">
																	Submit for Approval
																</button>
															</div>
														</td>
													</tr>
												}
											}
										}
									</tbody>
								</table>
							</div>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="card card-outline card-warning collapsed-card">
						<div class="card-header">
							<h3 class="card-title">Requests for Approval</h3>

							<div class="card-tools">
								<button type="button" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-plus"></i>
								</button>
							</div>
							<!-- /.card-tools -->
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<table class="table table-bordered example1 nowrap" style="width:100%;">
								<thead>

									<tr>
										<th width="10%"><div align="center">Request No.</div></th>
										<th width="15%"><div align="center">SKU-Key</div></th>
										<th width="15%"><div align="center">SAP No.</div></th>
										<th width="60%"><div align="Left">Description</div></th>



									</tr>
								</thead>
								<tbody>
									
									@if (Model.SubmittedRequest_List != null)
                                                            {
                                       @foreach (var item in Model.SubmittedRequest_List)
                                       {
                                           if (item.GridNo == 2)
                                           {
                                               <tr>

                                                   <td>
													   <div align="center">
															<a href="@Url.Action("ViewLabelLayout", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = @item.RequestId, Display = "Approval" })" title="View">
                                                           @Html.DisplayFor(modelItem => item.RequestCode)
                                                       </a>
													    </div>
                                                   </td>
                                                   <td><div align="center">@item.SKUKey </div></td>

                                                   <td><div align="center">@item.SAPNo </div></td>
                                                   <td><div align="left">@item.Description </div></td>                                                  
                                               </tr>
                                           }
                                       }
                                   }
								</tbody>
							</table>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
			</div>


		</div>


	</section>

	<!-- InstanceEndEditable -->
</div>


<script>

	function SubmitSKU(requestId, flag) {

		var iLoggedInUserID = parseInt('@Context.Session.GetInt32("CreatedBy")');

		var json = {
			Reqno: requestId,
			iLoggedInUserID: iLoggedInUserID,
			Flag: flag
		};

		var JSONInsert = JSON.stringify(json);

		$.ajax({
			type: 'POST',
			url: '@Url.Action("SubmitSKU", "Master")',
			data: { JsonData: JSONInsert },
			datatype: 'json',
			success: function (data) {
				alert(data.response);
				window.location.reload();
			},
			error: function () {
				alert('Error occurred while processing your request.');
			}
		});


	}


	var pageID = encodeURIComponent('@Context.Request.Query["PageID"]');
	var parentID = encodeURIComponent('@Context.Request.Query["ParentID"]');
	var moduleID = encodeURIComponent('@Context.Request.Query["ModuleID"]');
	var modulePageID = encodeURIComponent('@Context.Request.Query["ModulePageID"]');

	function RedirectToEditRequest(RequestId, ReqType) {
		var url;
		if (ReqType == "N") {
		   // url = '@Url.Action("Productiondetails", "ItemMaster")' + '?ReqValue=' + RequestId + '&Mode=Edit';
			url = '@Url.Action("Productiondetails", "ItemMaster")' +
				'?PageID=' + pageID +
				'&ParentID=' + parentID +
				'&ModuleID=' + moduleID +
				'&ModulePageID=' + modulePageID +
				'&ReqValue=' + RequestId +
				'&ReqType=' + ReqType +
				'&Mode=Edit' +
				'&Display=Approval';
		}
		if (ReqType == "S") {

			url = '@Url.Action("Newsetproductiondetails", "ItemMaster")' +
				'?PageID=' + pageID +
				'&ParentID=' + parentID +
				'&ModuleID=' + moduleID +
				'&ModulePageID=' + modulePageID +
				'&ReqValue=' + RequestId +
				'&ReqType=' + ReqType +
				'&Mode=Edit';
		}
		if (ReqType == "A") {
			url = '@Url.Action("Productiondetails", "ItemMaster")' +
				'?PageID=' + pageID +
				'&ParentID=' + parentID +
				'&ModuleID=' + moduleID +
				'&ModulePageID=' + modulePageID +
				'&ReqValue=' + RequestId +
				'&ReqType=' + ReqType +
				'&Mode=Edit' +
				'&Display=Approval';
		}
		window.location.href = url;
	}

	function RedirectToViewRequest(RequestId, ReqType) {
		var url;
		if (ReqType == "N") {

			url = '@Url.Action("Changenoteproductiondetails", "ChangeNotes")' +
				'?PageID=' + pageID +
				'&ParentID=' + parentID +
				'&ModuleID=' + moduleID +
				'&ModulePageID=' + modulePageID +
				'&ReqValue=' + RequestId +
				'&ReqType=' + ReqType +				
				'&Mode=Edit&Display=LabelLayout';
		}
		else if (ReqType == "S") {

			url = '@Url.Action("Changenoteproductiondetails", "ChangeNotes")' +
				'?PageID=' + pageID +
				'&ParentID=' + parentID +
				'&ModuleID=' + moduleID +
				'&ModulePageID=' + modulePageID +
				'&ReqType=' + ReqType +
				'&Mode=Edit&Display=LabelLayout&ReqValue=' + RequestId;
		}
		else
		{

			url = '@Url.Action("Changenoteproductiondetails", "ChangeNotes")' +
				'?PageID=' + pageID +
				'&ParentID=' + parentID +
				'&ModuleID=' + moduleID +
				'&ModulePageID=' + modulePageID +
				'&ReqType=' + ReqType +
				'&Mode=Edit&Display=LabelLayout&ReqValue=' + RequestId;
		}
		window.location.href = url;
	}

	 function RedirectToShowLabelLayout(RequestId) {

		var url = '@Url.Action("ViewLabelLayout", "ItemMaster")' +
			'?PageID=' + pageID +
			'&ParentID=' + parentID +
			'&ModuleID=' + moduleID +
			'&ModulePageID=' + modulePageID +
			'&ReqValue=' + RequestId;
		window.location.href = url;

	 }


</script>