@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model wa_1235_jk_ecm_v4.Models.Master

@{
    ViewData["Title"] = "Operations";
    Layout = "~/Views/Shared/_ECMMaster.cshtml";
}
<div class="content-wrapper">
    <!-- InstanceBeginEditable name="EditRegion1" -->


    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <h5>Operations</h5>
                </div>
                <div class="col-lg-9">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" onclick="UserDetailChange('Index')">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">ECM</a></li>
                        <li class="breadcrumb-item active">Master</li>

                        <li class="breadcrumb-item active">
                            Operations
                        </li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="btnwidth50 float-right ">
                        <button type="button"
                                class="btn btn-block bg-gradient-danger btn-xs"
                                onclick="window.history.back()"
                                title="Go back to the previous page">
                            Back
                        </button>
                    </div>
                    <div class="btnwidth50 float-right mr-1">
                     @*    <button type="button" class="btn btn-block bg-gradient-primary   btn-xs float-left"
                                onclick="location.href='Add-operations.html'" title="Add new record">
                            Add
                        </button> *@
                        <a href="@Url.Action("AddOperations", "Master", new { PageID = @Context.Request.Query["PageID"].ToString(), ParentID = @Context.Request.Query["ParentID"].ToString(), ModuleID = @Context.Request.Query["ModuleID"].ToString(), ModulePageID = @Context.Request.Query["ModulePageID"].ToString() })" class="btn btn-block bg-gradient-primary   btn-xs float-left">
                            Add
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->

    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="card card-outline card-primary">
                        <!-- /.card-header -->
                        <div class="card-body">


                            <div class="row">

                                <div class="table-responsive">
                                    <table class="table table-bordered example1 nowrap" style="width:100%;">
                                        <thead>

                                            <tr>
                                                <th width="2%" style="text-align:center;">Sr.No.</th>
                                                <th width="2%" style="text-align:center;">Product Line</th>

                                                <th width="30%"><div align="left">Operation Name</div></th>
                                                
                                                <th width="5%"><div align="left">Restriction&nbsp;</div></th>
                                                <th width="5%"><div align="left">Norms Required</div></th>
                                                <th width="4%"><div align="left">Customer Defined Operation</div></th>
                                                <th width="4%"><div align="center">Delete</div></th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.mstoperations != null && Model.mstoperations.Any())
                                            {
                                                int srNo = 1;
                                                foreach (var item in Model.mstoperations)
                                                {
                                                    <tr>
                                                        <td>
                                                            <div align="center">@srNo</div>
                                                        </td>
                                                        <td>
                                                            <div align="left">@item.opr_ProductLine</div>
                                                        </td>
                                                        <td>
                                                            <div align="left">
                                                                <a href="javascript:void(0);" onclick="EditOperation('@item.opr_operation_seq');" title="Edit">
                                                                    @item.opr_operation_name
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div align="left">@item.opr_operation_restricted</div>
                                                        </td>
                                                        <td>
                                                            <div align="left">@item.opr_norms_reqd_flg</div>
                                                        </td>
                                                        <td>
                                                            <div align="left">@item.opr_disp_flg</div>
                                                        </td>
                                                        <td>
                                                            <div style="margin-left:auto; margin-right:auto; float:none; display:table;">
                                                                <div align="center">
                                                                    <a href="#" onclick="DeleteOperation('@item.opr_operation_seq');" class="btn btn-block  bg-gradient-danger mt-1  btn-xs float-none">
                                                                        Delete
                                                                    </a>
                                                                </div>

                                                            </div>
                                                        </td>
                                                    </tr>
                                                    srNo++;
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="3">
                                                        <div align="center">No data found</div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                        @*  <tr>
                                                <td><div align="center">1</div></td>

                                                <td>
                                                    <div align="left">
                                                        <a href="@Url.Action("AddOperations", "Master", new { PageID = @Context.Request.Query["PageID"].ToString(), ParentID = @Context.Request.Query["ParentID"].ToString(), ModuleID = @Context.Request.Query["ModuleID"].ToString(), ModulePageID = @Context.Request.Query["ModulePageID"].ToString() })" >
                                                            
                                                        TestOpration12 </a>
                                                    </div>
                                                </td>
                                                <td>Yes</td>
                                                <td>No</td>
                                                <td>Yes</td>
                                                <td>
                                                    <div style="margin-left:auto; margin-right:auto; float:none; display:table;">
                                                        <div align="center">
                                                            <a href="#" class="btn btn-block  bg-gradient-danger mt-1  btn-xs float-none">
                                                                Delete
                                                            </a>
                                                        </div>

                                                    </div>
                                                </td>
                                            </tr> *@
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

            <div class="modal fade" id="ApprovalList">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"> View Approval List </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">


                            <div class="table-responsive">
                                <table class="table table-bordered example1 nowrap" style="width:100%;">
                                    <thead>

                                        <tr>
                                            <th width="2%" style="text-align:center;">Sr.No.</th>

                                            <th width="103"><div align="center">Stage ID</div></th>
                                            <th width="314"><div align="left">Stage Name</div></th>
                                            <th width="335"><div align="left">Approval Name</div></th>
                                            <th width="184"><div align="left">Role</div></th>
                                            <th width="184"><div align="center">Approval Type</div></th>
                                            <th width="66"><div align="center">Sequence</div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><div align="center">1</div></td>
                                            <td><div align="center">0</div></td>

                                            <td><div align="left">stage 1</div></td>
                                            <td><div align="left">	Akhil Kulkarni(Admin2)</div></td>
                                            <td><div align="left">Admin2</div></td>

                                            <td><div align="center">3</div></td>
                                            <td><div align="center">1</div></td>

                                        </tr>


                                    </tbody>
                                </table>
                            </div>


                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>


        <!-- /.content -->

    </section>

    <!-- InstanceEndEditable -->
</div>
<script>
       function DeleteOperation(opr_operation_seq) {

        if (!confirm("Are you sure you want to delete this record?")) {
            return; // ❌ user clicked Cancel
        }

        let json = {
            SrNo: opr_operation_seq
        };

        var JsonData = JSON.stringify(json);

        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteOperation", "Master")',
            data: { JsonData: JsonData },
            datatype: 'json',
            beforeSend: function () { $('#loader').show(); },
            complete: function () { $('#loader').hide(); },

            success: function (data) {
                alert(data.response);

                // ✅ Reload page after delete
                location.reload();
            }
        });
    }

</script>