@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model wa_1235_jk_ecm_v4.Models.Master
@{
    ViewData["Title"] = "BrandList";
    Layout = "~/Views/Shared/_ECMMaster.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <h5>Product Line</h5>
            </div>
            <div class="col-lg-9">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#" onclick="UserDetailChange('Index')">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">ECM</a></li>
                    <li class="breadcrumb-item active">Master</li>
                    <li class="breadcrumb-item active">Product Line</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="btnwidth50 float-right ">
                    <button type="button"
                            class="btn btn-block bg-gradient-danger btn-xs"
                            title="Go to Home"
                            onclick="location.href='@Url.Action("Index", "Home")';">
                        Back
                    </button>
                </div>
                <div class="btnwidth50 float-right mr-1">
                    <a id="btn_AddBrand" href="@Url.Action("AddProductLine", "Master", new { PageID = @Context.Request.Query["PageID"].ToString(), ParentID = @Context.Request.Query["ParentID"].ToString(), ModuleID = @Context.Request.Query["ModuleID"].ToString(), ModulePageID = @Context.Request.Query["ModulePageID"].ToString() })" class="btn btn-block bg-gradient-primary   btn-xs float-left">
                        Add
                    </a>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->

</section>

<section class="content">

    <div class="container-fluid">


        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline card-primary">

                    <!-- /.card-header -->
                    <div class="card-body">
                        <div>
                            <div class="table-responsive">
                                <table class="table table-bordered example1">
                                    <thead>
                                        <tr>
                                            <th width="2%">
                                                <div align="center">Sr No.​</div>
                                            </th>
                                            <th width="2%">
                                                <div align="center">Product Line Code​</div>
                                            </th>
                                            <th width="15%">
                                                <div align="left">Product Line Name</div>
                                            </th>
                                             <th width="2%">
                                                <div align="center">Delete</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.ProductLineDatas != null && Model.ProductLineDatas.Any())
                                        {
                                            int srno=1;
                                            foreach (var item in Model.ProductLineDatas)
                                            {
                                                <tr>
                                                    <td>
                                                        <div align="center">@srno</div>
                                                    </td>
                                                    <td>
                                                        <div align="center">
                                               
                                                                @item.ProductLineCode
                                                          
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div align="left">@item.ProductLine</div>
                                                    </td>
                                                    <td class="text-center">
                                                        <button type="button" class="btn btn-danger btn-xs" title="Delete" onclick="DeleteProduct(@item.Id)">
                                                            Delete
                                                        </button>
                                                    </td>
                                                </tr>
                                                srno++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="3">
                                                    <div align="center">No data found</div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <!-- /.tab-pane -->





                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

        </div>

    </div>
</section>
<script>
    function EditBrand(Id) {

        // Constructing the URL using JavaScript
      var pageID = encodeURIComponent('@Context.Request.Query["PageID"]');
    var parentID = encodeURIComponent('@Context.Request.Query["ParentID"]');
    var moduleID = encodeURIComponent('@Context.Request.Query["ModuleID"]');
    var modulePageID = encodeURIComponent('@Context.Request.Query["ModulePageID"]');

    // Construct the full URL
    var url = '@Url.Action("EditProductLine", "Master")' +
        '?Id=' + encodeURIComponent(Id) +
        '&PageID=' + pageID +
        '&ParentID=' + parentID +
        '&ModuleID=' + moduleID +
        '&ModulePageID=' + modulePageID;

    // Redirect to the URL
    window.location.href = url;
    }

       function DeleteProduct(Id) {

        if (confirm("Are you sure you want to delete this record?")) {

            let json = {
                ProductID: Id
            };

            var JsonData = JSON.stringify(json);

            $.ajax({
                url: '@Url.Action("DeleteProductLine", "Master")',
                type: 'POST',
                data: { JsonData: JsonData },

                success: function (response) {

                         alert(response.response);
                        location.reload();
                    

                },
                error: function () {
                    alert("Error occurred while deleting");
                }
            });

        }
    }
    </script>

<!-- InstanceEndEditable --> 