@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "ValueStream";
    Layout = "~/Views/Shared/_ECMMaster.cshtml";
}
<div class="content-wrapper">
    <!-- InstanceBeginEditable name="EditRegion1" -->


    <div class="modal fade" id="approve">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Operations</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="row">

                        <div class="col-lg-4">
                            <label>Product Line</label>

                            <span id="txtProductlines"></span>
                            <input type="hidden" id="txtvid">
                        </div>
                        <div class="col-lg-3">
                            <label>Value Stream Code</label>

                            <span id="txtValueStreamCodes"></span>

                        </div>
                        <div class="col-lg-5">
                            <label> Value Stream Name</label>

                            <span id="txtValueStreamNames"></span>

                        </div>

                        <div class="col-lg-12">

                            <div class="table-responsive">
                                    <table width="100%"  id="tblApprovel"class="table table-bordered example2">

                                        <thead>
                                        <tr>
                                            <th width="10%"><div align="center">Sq No.</div></th>
                                            <th width="90%"><div align="left">Operation Name</div></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblOperationsBodyAA"></tbody>

                                </table>
                            </div>


                        @*     <div class="table-responsive">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered">
                                    <tr>
                                        <td style="width: 40%;"><strong>Type</strong></td>
                                        <td style="width: 17%;">
                                            <strong>
                                                <label>Key Parameter</label>
                                                <br />
                                            </strong>
                                        </td>
                                        <td style="width: 10%;"><div align="center"><strong>UOM</strong></div></td>
                                        <td style="width: 13%;"><div align="center"><strong>Min (Size)</strong></div></td>
                                        <td style="width: 13%;"><div align="center"><strong>Max (Size)</strong></div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                <div>JOBBER DRILL -  JD</div>
                                            </div>
                                        </td>
                                        <td><div>Pilot Dia</div>     </td>
                                        <td><div align="center">mm</div></td>
                                        <td><div align="center">2</div></td>
                                        <td><div align="center">3</div></td>
                                    </tr>
                                </table>
                            </div>
 *@
                            <label>Remark</label>
                            <input type="text" class="form-control">


                        </div>











                    </div>


                    <div>
                    </div>




                </div>


                <div class="modal-footer">
                    <div class="float-right text-right">
                        <a href="#" class="btn btn-danger btn-xs btnwidth50" onclick="StatusUpdate('Rejected');">Reject</a>
                        <a href="#" class="btn btn-success btn-xs btnwidth50" onclick="StatusUpdate('Approved');">Approve</a>
                    </div>
                </div>










            </div>

        </div>
    </div>


    <div class="modal fade" id="Operations">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-lg-4">
                            <label>Product Line</label>

                            <span id="txtProductline"></span>
                            <input type="hidden" id="txtvid">                        </div>
                          <div class="col-lg-3">
                            <label>Value Stream Code</label>

                            <span id="txtValueStreamCode"></span>

                           
                            
                           
                        </div> 
                        <div class="col-lg-5">
                            <label> Value Stream Name</label>

                            <span id="txtValueStreamName"></span>

                          


                        </div>
                        <div class="col-lg-12">

                            <div class="table-responsive">
                                <table class="table table-bordered example2" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Sq No.</th>
                                            <th>Operation Name</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblOperationsBody"></tbody>
                                </table>
                            </div>


                          @*   <div class="table-responsive">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered">
                                    <tr>
                                        <td style="width: 40%;"><strong>Type</strong></td>
                                        <td style="width: 17%;">
                                            <strong>
                                                <label>Key Parameter</label>
                                                <br />
                                            </strong>
                                        </td>
                                        <td style="width: 10%;"><div align="center"><strong>UOM</strong></div></td>
                                        <td style="width: 13%;"><div align="center"><strong>Min (Size)</strong></div></td>
                                        <td style="width: 13%;"><div align="center"><strong>Max (Size)</strong></div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                <div>JOBBER DRILL -  JD</div>
                                            </div>
                                        </td>
                                        <td><div>Pilot Dia</div>     </td>
                                        <td><div align="center">mm</div></td>
                                        <td><div align="center">2</div></td>
                                        <td><div align="center">3</div></td>
                                    </tr>
                                </table>
                            </div>
 *@



                        </div>












                    </div>





                    <div style="clear:both;"></div>






                    <div style="clear:both;"></div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-xs btnwidth95" .href="" title="Submit for Approval" onclick="StatusUpdate('Submit for Approval');">
                        Submit for Approval
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>

    <div class="modal fade" id="master">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Product Line</label>

                            <span id="txtProductlinem"></span>
                            <input type="hidden" id="txtvid">
                        </div>
                        <div class="col-lg-3">
                            <label>Value Stream Code</label>

                            <span id="txtValueStreamCodem"></span>




                        </div>
                        <div class="col-lg-5">
                            <label> Value Stream Name</label>

                            <span id="txtValueStreamNamem"></span>




                        </div>


                        <div class="col-lg-12">

                            <div class="table-responsive">
                                <table width="100%" class="table table-bordered example2">
                                    <thead>
                                        <tr>
                                            <th width="10%"><div align="center">Sq No.</div></th>
                                            <th width="90%"><div align="left">Operation Name</div></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblOperationsBodyA"></tbody>

                                </table>
                            </div>


                         @*    <div class="table-responsive">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered">
                                    <tr>
                                        <td style="width: 40%;"><strong>Type</strong></td>
                                        <td style="width: 17%;">
                                            <strong>
                                                <label>Key Parameter</label>
                                                <br />
                                            </strong>
                                        </td>
                                        <td style="width: 10%;"><div align="center"><strong>UOM</strong></div></td>
                                        <td style="width: 13%;"><div align="center"><strong>Min (Size)</strong></div></td>
                                        <td style="width: 13%;"><div align="center"><strong>Max (Size)</strong></div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                <div>JOBBER DRILL -  JD</div>
                                            </div>
                                        </td>
                                        <td><div>Pilot Dia</div>     </td>
                                        <td><div align="center">mm</div></td>
                                        <td><div align="center">2</div></td>
                                        <td><div align="center">3</div></td>
                                    </tr>
                                </table>
                            </div>
 *@



                        </div>












                    </div>
                    <label for="" class="mt-2">Remark</label>    <br>
                    Note For developer: Please show a remark here after rejecting the request for approval.




                    <div style="clear:both;"></div>






                    <div style="clear:both;"></div>



                </div>

            </div>
            <!-- /.modal-content -->
        </div>
    </div>

    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <h5>Value Stream</h5>
                </div>
                <div class="col-lg-9">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" onclick="UserDetailChange('Index')">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">ECM</a></li>
                         <li class="breadcrumb-item active">Master</li>
                        <li class="breadcrumb-item active">Value Stream</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="btnwidth50 float-right ">
                        <a href="@Url.Action("Index", "Home")"
                           class="btn btn-block bg-gradient-danger btn-xs"
                           title="Go back to the previous page">
                            Back
                        </a>
                    </div>
                    <div class="btnwidth50 float-right mr-1">
                        <a class="btn btn-block bg-gradient-primary btn-xs float-left"
                           href="@Url.Action("AddValueStream", "Master", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })"
                           title="Add new record">
                            Add
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->

    </section>

    <section class="content">

        <div class="container-fluid">





            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-primary">
                        <div class="card-header">
                            <h3 class="card-title">List</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>

                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered example1" style="width:100%;">
                                    <thead>

                                        <tr>
                                            <th width="8%"><div align="center">Sr No. </div></th>
                                            <th width="35px"><div align="left">Product Line</div></th>
                                            <th width="25px"><div align="left">Code</div></th>
                                            <th width="45%"><div align="left">Name</div></th>
                                            <th width="10%"><div align="left">Status</div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int sr = 1;
                                        }

                                        @foreach (var item in Model.valuestreams)
                                        {
                                            if (item.Status == "Saved" || item.Status == "Rejected")
    {
                                            <tr>
                                                <td height="28"><div align="center">@sr</div></td>
                                                <td><div align="left">@item.ProductLine</div></td>
                                                    <td><a href="@Url.Action("AddValueStream", "Master", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), val_ID = @item.val_ID })">@item.val_valuestream_code</a></td>
                                                    <td><div align="left"><a href="#" onclick="LoadOperations(@item.val_ID,'@item.ProductLine','@item.val_valuestream_code',' @item.val_valuestream_name','@item.Operations')">@item.val_valuestream_name</a> </div></td>


                                                    
                                                <td>
                                                    <div align="left">
                                                        <div align="left"><span class="badge badge-info">@item.Status</span></div>
                                                    </div>
                                                </td>
                                            </tr>
                                           
                                            sr++;
                                            }
                                        }


                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-warning collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title">Requests for Approval</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered example1" style="width:100%;">
                                <thead>

                                    <tr>
                                        <th width="8%"><div align="center">Sr No. </div></th>
                                        <th width="25px">Product Line</th>
                                        <th width="25px"><div align="left">Code</div></th>
                                        <th width="60%"><div align="left">Name</div></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int srN = 1;
                                    }

                                    @foreach (var item in Model.valuestreams)
                                    {
                                        if (item.Status == "Submit for Approval")
                                       { <tr>
                                            <td height="28"><div align="center">@srN</div></td>
                                            <td><div align="left">@item.ProductLine</div></td>
                                            <td>@item.val_valuestream_code</td>
                                                <td><div align="left"><a href="#" onclick="LoadApprovalOperations(@item.val_ID,'@item.ProductLine','@item.val_valuestream_code',' @item.val_valuestream_name','@item.Operations')">@item.val_valuestream_name</a> </div></td>
                                            
                                        </tr>

                                        srN++;
                                        }
                                    }



                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-success collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title">Master</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered example1" style="width:100%;">
                                    <thead>

                                        <tr>
                                            <th width="8%"><div align="center">Sr No. </div></th>
                                            <th width="25px">Product Line</th>
                                            <th width="25px"><div align="left">Code</div></th>
                                            <th width="60%"><div align="left">Name</div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int srNo = 1;
                                        }

                                        @foreach (var item in Model.valuestreams)
                                        {
    if (item.Status == "Approved")
    {
                                            <tr>
                                                <td height="28"><div align="center">@srNo</div></td>
                                                <td><div align="left">@item.ProductLine</div></td>
                                                <td>@item.val_valuestream_code</td>
                                                    <td><div align="left"><a href="#" onclick="LoadApproOperations(@item.val_ID,'@item.ProductLine','@item.val_valuestream_code',' @item.val_valuestream_name','@item.Operations')">@item.val_valuestream_name</a> </div></td>

                                            </tr>

                                            srNo++;
                                            }
                                        }



                                     
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>


    </section>


    <!-- InstanceEndEditable -->
</div>
<script>
         function LoadOperations(val_ID, ProductLine, val_valuestream_code, val_valuestream_name, operations) {

        $("#txtvid").val(val_ID);
        $("#txtProductline").text(ProductLine);
        $("#txtValueStreamCode").text(val_valuestream_code);
        $("#txtValueStreamName").text(val_valuestream_name);

        var table = $('.example2');

        // ✅ Destroy DataTable first
        if ($.fn.DataTable.isDataTable(table)) {
            table.DataTable().clear().destroy();
        }

        var tbody = $("#tblOperationsBody");
        tbody.empty();

        // ✅ Check data
        if (!operations || operations.trim() === "") {
            return;
        }

        var ops = operations.split(",");

        for (var i = 0; i < ops.length; i++) {

            var item = ops[i].trim();
            var parts = item.split(" - ");

            var sqNo = parts[0];
            var opName = parts.length > 1 ? parts[1] : "";

            var row = "<tr>" +
                "<td align='center'>" + sqNo + "</td>" +
                "<td>" + opName + "</td>" +
                "</tr>";

            tbody.append(row);
        }

        // ✅ Initialize AFTER data added
        table.DataTable({
            responsive: true,
            paging: true,
            pageLength: 10,
            searching: true,
            ordering: true,
            info: true,
            destroy: true
        });

        $("#Operations").modal("show");
    }
    function LoadApprovalOperations(val_ID, ProductLine, val_valuestream_code, val_valuestream_name, operations) {

        $("#txtvid").val(val_ID);
        $("#txtProductlines").text(ProductLine);
        $("#txtValueStreamCodes").text(val_valuestream_code);
        $("#txtValueStreamNames").text(val_valuestream_name);

        var tbody = $("#tblOperationsBodyAA");
        tbody.empty();
        // Destroy old DataTable
        if ($.fn.DataTable.isDataTable('#tblApprovel')) {
            $('#tblApprovel').DataTable().destroy();
        }


        if (!operations || operations.trim() === "") {
            return;
        }

        var ops = operations.split(",");

        for (var i = 0; i < ops.length; i++) {

            var item = ops[i].trim();
            var parts = item.split(" - ");

            var sqNo = parts[0];
            var opName = parts.length > 1 ? parts[1] : "";

            var row = "<tr>" +
                "<td align='center'>" + sqNo + "</td>" +
                "<td>" + opName + "</td>" +
                "</tr>";

            tbody.append(row);
        }

        

        // Reinitialize
        $('#tblApprovel').DataTable({
            responsive: true,
            paging: true,
            pageLength: 10,
            searching: true,
            ordering: true,
            info: true
        });

        $("#approve").modal("show");
    }

    function LoadApproOperations(val_ID,ProductLine, val_valuestream_code, val_valuestream_name, operations) {

        // Set header values
        $("#txtvid").val(val_ID);
        $("#txtProductlinem").text(ProductLine);
        $("#txtValueStreamCodem").text(val_valuestream_code);
        $("#txtValueStreamNamem").text(val_valuestream_name);

        var tbody = $("#tblOperationsBodyA");
        tbody.empty();

         // Destroy previous DataTable
        if ($.fn.DataTable.isDataTable('.example2')) {
            $('.example2').DataTable().destroy();
        }
        if (!operations || operations.trim() === "") {
            return;
        }

        var ops = operations.split(",");

        for (var i = 0; i < ops.length; i++) {

            var item = ops[i].trim();
            var parts = item.split(" - ");

            var sqNo = parts[0];
            var opName = parts.length > 1 ? parts[1] : "";

            var row = "<tr>" +
                "<td align='center'>" + sqNo + "</td>" +
                "<td>" + opName + "</td>" +
                "</tr>";

            tbody.append(row);
        }

       

        // Initialize again
        $('.example2').DataTable({
            responsive: true,
            paging: true,
            pageLength: 10,
            searching: true,
            ordering: true,
            info: true
        });


        $("#master").modal("show");
    }


    function  StatusUpdate (Status){
         var FileTypeJobj = {    
               valID:$("#txtvid").val(),
               CreatedBy: parseInt('@Context.Session.GetInt32("CreatedBy")'),
               Status:Status
            };
            var JsonData = JSON.stringify(FileTypeJobj);

    $.ajax({
        url: '@Url.Action("UpdateValueStreamStatus", "Master")',
        type: 'POST',
       data: { JsonData: JsonData }, // ✅ correct
        success: function (response) {

            alert(response.response);

            window.location.reload();
        },
        error: function () {
            alert("Error saving data");
        }
    });
    }
</script>