@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model wa_1235_jk_ecm_v4.Models.ItemMaster
@{
    ViewData["Title"] = "ItemMasterIndex";
    Layout = "~/Views/Shared/_ECMMaster.cshtml";
}
<div class="content-wrapper">
    <!-- InstanceBeginEditable name="EditRegion1" -->


    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <h5>Item Master</h5>
                </div>
                <div class="col-lg-8">
                    <ol class="breadcrumb float-sm-right">                      
                        <li class="breadcrumb-item"><a href="#" onclick="UserDetailChange('Index')">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">ECM</a></li>
                        <li class="breadcrumb-item active">Item Master</li>
                    </ol>
                </div>
                <div class="col-lg-12">


                    <div class="btnwidth50 float-right mr-1">

                        <a id="btnBack" onClick="history.back()"
                                class="btn btn-block bg-gradient-danger btn-xs"                              
                                title="Go back to the previous page">
                            Back
                        </a>

                    </div>
                    <div class="btnwidth60 float-right mr-1">
                        <a  id="btnNewSet"
                                class="btn btn-primary btn-xs"
                           href="@Url.Action("Newsetproductiondetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), Status = "SET" })"
                                title="Go to the next page">
                            New SET
                        </a>


                    </div>
                    <div class="btnwidth60 float-right mr-1">
                        <a  id="btnNewSKU"
                           href="@Url.Action("Productiondetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), Status = "SKU" })"
                                class="btn btn-primary btn-xs"
                               
                                title="Go to the next page">
                            New SKU
                        </a>


                    </div>

                </div>

            </div>

        </div><!-- /.container-fluid -->
    </section>

    <section class="content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-primary card-tabs p-a-2" style="height: 100%;">
                        <div class="card-header p-0 pt-1">
                            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                <li class="nav-item">
                                    <a id="tabItemMaster" href="@Url.Action("ItemMasterIndex", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })" class="nav-link active">
                                        Item Master

                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a id="tabSKUMasterSearch" href="@Url.Action("SKUMastersearch", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })" class="nav-link">
                                        SKU Master Search
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a id="tabComingSoon" href="@Url.Action("comingsoon", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })" class="nav-link">
                                        Coming Soon
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a id="tabRawMaterial" href="@Url.Action("Rawmaterial", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })" class="nav-link">
                                        Raw Material
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a id="tabRecycle" href="@Url.Action("Requests", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })" class="nav-link">
                                        Recycle
                                    </a>
                                </li>

                            </ul>

                        </div>

                        <div class="card-body">



                            <div class="table-responsive">
                                <table class="table table-bordered example1">
                                    <thead>
                                        <tr>
                                            <th style="width:80px; text-align:center;">Request No.</th>
                                            <th style="width:80px;"><div align="left">SKU</div></th>
                                            <th style="width:100px;"> <div align="left">SKU History</div></th>
                                            <th style="width:120px;"><div align="center">Drawing Revision No.</div></th>
                                            <th style="width:250px;"><div align="left">Description</div></th>
                                            <th style="width:120px;"><div align="left">Customer SKU</div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.ApprovedSKUDetails_List != null)
                                        {
                                            @foreach (var item in Model.ApprovedSKUDetails_List)
                                            {
                                                <tr>
                                                    <td class="text-center">
                                                        <a href="#" onclick="RedirectToViewRequest(@item.ReqId, '@item.FalcoSKU','@item.Description');" style="color: blue; cursor: pointer;">
                                                            @Html.DisplayFor(modelItem => item.RequestNo)
                                                        </a>

                                                    </td>
                                                    <td>@item.FalcoSKU</td>
                                                    <td class="text-center">@item.SKUHistory</td>
                                                    <td class="text-center">@item.DrwRevision</td>
                                                    <td>@item.Description</td>
                                                    <td>@item.CustomerSKU</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            </div>
    </section>
</div>



<script>
    var pageID = encodeURIComponent('@Context.Request.Query["PageID"]');
    var parentID = encodeURIComponent('@Context.Request.Query["ParentID"]');
    var moduleID = encodeURIComponent('@Context.Request.Query["ModuleID"]');
    var modulePageID = encodeURIComponent('@Context.Request.Query["ModulePageID"]');

    function RedirectToEditRequest(RequestId) {
      //  var url = '@Url.Action("Productiondetails", "ItemMaster")' + '?ReqValue=' + RequestId + '&Mode=Edit';
        url = '@Url.Action("Changenoteproductiondetails", "ChangeNotes")' +
                '?PageID=' + pageID +
                '&ParentID=' + parentID +
                '&ModuleID=' + moduleID +
                '&ModulePageID=' + modulePageID +
                '&ReqValue=' + RequestId+
                '&Mode=Edit';
        window.location.href = url;
    }

    function RedirectToViewRequest(RequestId,FalcoSKU,Description) {
       // var url = '@Url.Action("Changenoteproductiondetails", "ChangeNotes")' + '?ReqValue=' + RequestId;
          url = '@Url.Action("Changenoteproductiondetails", "ChangeNotes")' +
                '?PageID=' + pageID +
                '&ParentID=' + parentID +
                '&ModuleID=' + moduleID +
                '&ModulePageID=' + modulePageID +
                '&ReqValue=' + RequestId +
                '&SKU='+ FalcoSKU +
                '&Desc='+ Description;
        window.location.href = url;
    }
  

</script>


