@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model wa_1235_jk_ecm_v4.Models.ItemMaster
@{
	ViewData["Title"] = "Otherpackingdetails";
	Layout = "~/Views/Shared/_ECMMaster.cshtml";
}
<style>
	.disabledApprovebutton {
		pointer-events: none; /* Disables all click, focus, and hover */
		opacity: 1; /* Makes it look grayed out */
		    background-color: #e9ecef;

	}

</style>
<div class="content-wrapper">
	<!-- InstanceBeginEditable name="EditRegion1" -->
	<div class="modal fade" id="nonstandard">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Chart</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table width="100%" class="table table-bordered example1">
						<thead>
							<tr>
								<th style="width:10%; text-align: center;">Select Chart</th>
								<th style="width:30%; text-align: Left;">Chart</th>
								<th style="width:10%;  text-align: center;">View Chart</th>

							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="custom-control custom-radio" align="center">
										<input class="custom-control-input" type="radio" id="customRadio1" name="1">
										<label for="customRadio1" class="custom-control-label"></label>
									</div>
								</td>


								<td><div align="left">AFILE</div></td>
								<td>
									<div align="center">
										<button type="button"
												class="btn btn-primary btn-xs btnwidth50"
												data-toggle="modal" data-target="#nonstandard2"
												title="View details">
											View
										</button>
									</div>
								</td>

							</tr>
						</tbody>

						<tbody>
							<tr>
								<td>
									<div class="custom-control custom-radio" align="center">
										<input class="custom-control-input" type="radio" id="customRadio2" name="1">
										<label for="customRadio2" class="custom-control-label"></label>
									</div>
								</td>
								<td><div align="left">VONDER</div></td>
								<td>
									<div align="center">
										<button type="button"
												class="btn btn-primary btn-xs btnwidth50"
												data-toggle="modal" data-target="#nonstandard2"
												title="View details">
											View
										</button>
									</div>
								</td>

							</tr>
						</tbody>


					</table>

				</div>












			</div>

		</div>
	</div>


	<div class="modal fade" id="nonstandard1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Pantone Shade Color's</h5>


					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>

				</div>
				<div class="modal-body">Color Card here </div>
				<div class="modal-body">
					<iframe id="pdfViewer" src="C:\All_Modules\UI_Repository\dist\img\PantoneColors.pdf" style="width: 100%; height: 500px;"></iframe>
				</div>












			</div>

		</div>
	</div>

	<div class="modal fade" id="nonstandard2">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">View</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<input type="hidden" id="txtID" value="68">
					<b>Request No.:</b><span>10</span> ,&nbsp;&nbsp;
					<b>Brand:</b><span>Dual</span>,&nbsp;&nbsp;
					<b>Chart No.:</b><span>grainger_global_sourcing_(westward)</span>

					<div>
						<div align="center" class="mt-2"><img id="displayImage" style="height:550px;" class="img-fluid" src="C:\All_Modules\UI_Repository\dist\img\Handle.jpg"></div>
					</div>
				</div>













			</div>

		</div>
	</div>


	<div class="modal fade" id="cellotapepopup">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Cellotape</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
				</div>
				<div class="modal-body">

					<div id="imageContainer" style="text-align:center;">
						@* <a href="#" class="fa-i-big royalbluebt" data-dismiss="modal">
							<img src="https://decintellai.com/ui/all-Modules/UI_Repository/dist/img/cellotape.jpg">
						</a> *@
					</div>


					@* <div class="modal-footer">
						<td>
							<div align="Right">
								<button type="button"
										class="btn btn-primary btn-xs btnwidth95"
										onclick="showAlert().href=''"
										title="Go to the next">
									Submit
								</button>
							</div>
						</td>
					</div>

					<script>
						function showAlert() {
						  alert("Other Packing Details Submitted Successfully!");
						  window.location.href = "page.html"; // Replace with your desired URL or page
						}
					</script>
 *@


				</div>
			</div>

		</div>
	</div>

	<section class="content-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8">
					@* @if (Context.Request.Query["Status"].ToString() == "SKU")
					{
						<h6>SKU:@Html.Raw(Context.Request.Query["SKU"])</h6>
						<h6>Description:@Html.Raw(Context.Request.Query["Desc"])</h6>
					}
					else
					{
						<h5>SET</h5>
					} *@
				</div>
				<div class="col-lg-4">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#" onclick="UserDetailChange('Index')">Home</a></li>
						<li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">ECM</a></li>
						<li class="breadcrumb-item active"><a href="@Url.Action("ItemMasterIndex", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })">Item Master</a></li>
						<li class="breadcrumb-item active">View</li>
					</ol>
				</div>

			</div>
			<div class="row">
				<div class="col-lg-8">
					@if (Context.Request.Query["Status"].ToString() == "SKU")
					{
						<b>SKU:</b> 
						@Html.Raw(Context.Request.Query["SKU"])
						<b>Description:</b> 
						@Html.Raw(Context.Request.Query["Desc"])
					}
					else
					{
						<b>SKU:</b>
						@Html.Raw(Context.Request.Query["SKU"])
						<b>Description:</b>
						@Html.Raw(Context.Request.Query["Desc"])
					}
				</div>
				<div class="col-lg-4">
					<div class="btnwidth50 float-right ">
						<a id="btnBack" class="btn btn-block bg-gradient-danger btn-xs float-left"
						   onClick="history.back()" title="Go back to the previous page">
							Back
						</a>
					</div>

				</div>
			</div>

		</div><!-- /.container-fluid -->
	</section>

	<section class="content">
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-primary card-tabs p-a-2" style="height: 100%;">
							<div class="card-header p-0 pt-1">
								
									@{
                                    string cssClass = ""; // Define the default CSS class variable
									bool isView=false ;
                                    if (Context.Request.Query["Display"].ToString() == "View")
                                    {
										cssClass = "disabledApprovebutton"; // Reset cssClass if the condition is met
										 isView = Context.Request.Query["Display"].ToString() == "View";
                                    }
                                }
                                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                    @if (Context.Request.Query["Display"].ToString() == "View" && Context.Request.Query["Status"].ToString() == "SKU")
                                    {
                                        <li class="nav-item"> <a class="nav-link" href="@Url.Action("Changenoteproductiondetails", "ChangeNotes", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Display = "View" , Status = "SKU"})">Production Details</a> </li>
                                        <li class="nav-item"> <a class="nav-link active" href="@Url.Action("Changenotedispatchdetails", "ChangeNotes", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Display = "View" , Status = "SKU"})">Dispatch Details</a> </li>
                                    }
                                    else if (Context.Request.Query["Display"].ToString() == "View" && Context.Request.Query["Status"].ToString() == "SET")
                                    {
                                        <li class="nav-item"> <a class="nav-link" href="@Url.Action("Changenoteproductiondetails", "ChangeNotes", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Display = "View" , Status = "SET"})">Production Details</a> </li>
										<li class="nav-item"> <a class="nav-link active" href="@Url.Action("Changenotedispatchdetails", "ChangeNotes", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Display = "View", Status = "SET" })">Dispatch Details</a> </li>
                                    }
									else if (Context.Request.Query["Display"].ToString() == "Approval")
                                    {
                                       <li class="nav-item"> <a href="@Url.Action("Productiondetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "Approval" })" class="nav-link "> Production Details </a> </li>
										<li class="nav-item"> <a href="@Url.Action("Dispatchdetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "Approval" })" class="nav-link active"> Dispatch Details </a> </li>
                                    }
									else if (Context.Request.Query["Display"].ToString() == "LabelLayout")
                                    {
                                        <li class="nav-item"> <a class="nav-link" href="@Url.Action("Changenoteproductiondetails", "ChangeNotes", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "LabelLayout", Status = "SET" })">Production Details</a> </li>
                                        <li class="nav-item"> <a class="nav-link active" href="@Url.Action("Dispatchdetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "LabelLayout", Status = "SET" })">Dispatch Details</a> </li>
                                    }
									else if (Context.Request.Query["Mode"].ToString() != null && Context.Request.Query["Mode"].ToString() != "" && Context.Request.Query["Status"].ToString() == "SKU")
									{
										<li class="nav-item"> <a href="@Url.Action("Productiondetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Status = "SKU" })" class="nav-link "> Production Details </a> </li>
										<li class="nav-item"> <a href="@Url.Action("Dispatchdetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Status = "SKU" })" class="nav-link active"> Dispatch Details </a> </li>
									}
									else if (Context.Request.Query["Mode"].ToString() != null && Context.Request.Query["Mode"].ToString() != "" && Context.Request.Query["Status"].ToString() == "SET")
									{
										
										
												<li class="nav-item"> <a href="@Url.Action("Newsetproductiondetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Status = "SET" })" class="nav-link "> Production Details </a> </li>
												<li class="nav-item"> <a href="@Url.Action("PackingMaterialDetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Status = "SET" })" class="nav-link active"> Dispatch Details </a> </li>
											
										
									}
									else if (Context.Request.Query["Status"].ToString() == "SKU")
									{
										<li class="nav-item"> <a class="nav-link" href="@Url.Action("Productiondetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), Status = "SKU"  })">Production Details</a> </li>
										<li class="nav-item"> <a class="nav-link active" href="@Url.Action("Dispatchdetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), Status = "SKU"  })">Dispatch Details</a> </li>
									}
									
									else if (Context.Request.Query["Status"].ToString() == "SET")
									{
										<li class="nav-item"> <a class="nav-link" href="@Url.Action("Newsetproductiondetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), Status = "SET" })">Production Details</a> </li>
										<li class="nav-item"> <a class="nav-link active" href="@Url.Action("Dispatchdetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), Status = "SET" })">Dispatch Details</a> </li>
									}
									
									else
									{
										<li class="nav-item"> <a class="nav-link" href="@Url.Action("Productiondetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })">Production Details</a> </li>
										<li class="nav-item"> <a class="nav-link active" href="@Url.Action("Dispatchdetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString() })">Dispatch Details</a> </li>
									}

								</ul>

							</div>
							<div style="clear:both;"></div>

							<div class="card-body">
								<div class="row">
									<div class="mb-2 col-lg-9">
										<b>Customer:</b>&nbsp;@(Model.ProductionDetails_List?.CustomerName ?? "") &nbsp;
										<b>Brand:</b>&nbsp;@(Model.ProductionDetails_List?.BrandName ?? "")
									</div>
								</div>


								<div class="card-header p-2">
									<ul class="nav nav-pills" id="custom-tabs-one-tab" role="tablist">
										@{
											if (Context.Request.Query["Mode"].ToString() != null && Context.Request.Query["Mode"].ToString() != "")
											{
												if (Context.Request.Query["Display"].ToString() == "Approval")
												{
													@if (Model.ProductionDetails_List.ReqType != "S" && Model.ProductionDetails_List.ReqType != "R")
													{
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("Dispatchdetails", "ChangeNotes", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "Approval", Status = Context.Request.Query["Status"].ToString() })">Stamp</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("Handle", "ChangeNotes", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString() , Mode = "Edit", Display = "Approval", Status = Context.Request.Query["Status"].ToString()})">Handle</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("PackingMaterialDetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "Approval" , Status = Context.Request.Query["Status"].ToString()})">Packing Material Details</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("Labeldetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "Approval" , Status = Context.Request.Query["Status"].ToString()})">Label Details</a> </li>
														<li class="nav-item"> <a class="nav-link active" href="@Url.Action("Otherpackingdetails", "ChangeNotes", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Display = "Approval" , Status = Context.Request.Query["Status"].ToString()})">Other Packing Details</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("ShowLabelLayout", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "Approval" , Status = Context.Request.Query["Status"].ToString()})">View Label Layout</a> </li>
													}
													else
													{
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("PackingMaterialDetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "Approval" , Status = Context.Request.Query["Status"].ToString()})">Packing Material Details</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("Labeldetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "Approval" , Status = Context.Request.Query["Status"].ToString()})">Label Details</a> </li>
														<li class="nav-item"> <a class="nav-link active" href="@Url.Action("Otherpackingdetails", "ChangeNotes", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "Approval" , Status = Context.Request.Query["Status"].ToString()})">Other Packing Details</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("ShowLabelLayout", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "Approval" , Status = Context.Request.Query["Status"].ToString()})">View Label Layout</a> </li>

													}
												}
												else if (Context.Request.Query["Display"].ToString() == "View")
												{
													@if (Model.ProductionDetails_List.ReqType != "S" && Model.ProductionDetails_List.ReqType != "R")
													{
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("Changenotedispatchdetails", "ChangeNotes", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "View", Status = "SKU", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">Stamp</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("Changenotehandle", "ChangeNotes", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "View", Status = "SKU", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">Handle</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("PackingMaterialDetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "View", Status = "SKU", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">Packing Material Details</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("Labeldetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "View", Status = "SKU", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">Label Details</a> </li>
														<li class="nav-item"> <a class="nav-link active" href="@Url.Action("Otherpackingdetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "View", Status = "SKU", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">Other Packing Details</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("ShowLabelLayout", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "View", Status = "SKU", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">View Label Layout</a> </li>
													}
													else
													{
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("PackingMaterialDetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "View", Status = "SET", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">Packing Material Details</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("Labeldetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "View", Status = "SET", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">Label Details</a> </li>
														<li class="nav-item"> <a class="nav-link active" href="@Url.Action("Otherpackingdetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "View", Status = "SET", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">Other Packing Details</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("ShowLabelLayout", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "View", Status = "SET", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">View Label Layout</a> </li>

													}
												}												
												else if (Context.Request.Query["Display"].ToString() == "LabelLayout")
												{
													@if (Model.ProductionDetails_List.ReqType != "S" && Model.ProductionDetails_List.ReqType != "R")
													{
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("Dispatchdetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit" })">Stamp</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("Handle", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit" })">Handle</a> </li>
														<li class="nav-item"> <a class="nav-link " href="@Url.Action("PackingMaterialDetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit" })">Packing Material Details</a> </li>
														<li class="nav-item"> <a class="nav-link " href="@Url.Action("Labeldetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit" })">Label Details</a> </li>
														<li class="nav-item"> <a class="nav-link active" href="@Url.Action("Otherpackingdetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit" })">Other Packing Details</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("ShowLabelLayout", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit" })">View Label Layout</a> </li>
													}
													else
													{
														<li class="nav-item"> <a class="nav-link " href="@Url.Action("PackingMaterialDetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "LabelLayout", Status = "SET", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">Packing Material Details</a> </li>
														<li class="nav-item"> <a class="nav-link " href="@Url.Action("Labeldetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "LabelLayout", Status = "SET", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">Label Details</a> </li>
														<li class="nav-item"> <a class="nav-link active" href="@Url.Action("Otherpackingdetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "LabelLayout", Status = "SET", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">Other Packing Details</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("ShowLabelLayout", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", Display = "LabelLayout", Status = "SET", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">View Label Layout</a> </li>

													}
												}
												else
												{  @if (Context.Request.Query["ReqType"].ToString() == "A" )
													{
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("PackingMaterialDetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", ReqType = Context.Request.Query["ReqType"].ToString() })">Packing Material Details</a> </li>
														<li class="nav-item"> <a class="nav-link " href="@Url.Action("Labeldetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", ReqType = Context.Request.Query["ReqType"].ToString() })">Label Details</a> </li>
														<li class="nav-item"> <a class="nav-link active" href="@Url.Action("Otherpackingdetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", ReqType = Context.Request.Query["ReqType"].ToString() })">Other Packing Details</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("ShowLabelLayout", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), ReqType = Context.Request.Query["ReqType"].ToString() })">View Label Layout</a> </li>

													}
													else if (Model.ProductionDetails_List.ReqType != "S" && Model.ProductionDetails_List.ReqType != "R")
													{
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("Dispatchdetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit" , Status = Context.Request.Query["Status"].ToString()})">Stamp</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("Handle", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit" , Status = Context.Request.Query["Status"].ToString()})">Handle</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("PackingMaterialDetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit" , Status = Context.Request.Query["Status"].ToString()})">Packing Material Details</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("Labeldetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit" , Status = Context.Request.Query["Status"].ToString()})">Label Details</a> </li>
														<li class="nav-item"> <a class="nav-link active" href="@Url.Action("Otherpackingdetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit" , Status = Context.Request.Query["Status"].ToString()})">Other Packing Details</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("ShowLabelLayout", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit" , Status = Context.Request.Query["Status"].ToString()})">View Label Layout</a> </li>
													}
													else
													{
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("PackingMaterialDetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", IsSet = "1" , Status = Context.Request.Query["Status"].ToString()})">Packing Material Details</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("Labeldetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", IsSet = "1" , Status = Context.Request.Query["Status"].ToString()})">Label Details</a> </li>
														<li class="nav-item"> <a class="nav-link active" href="@Url.Action("Otherpackingdetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", IsSet = "1" , Status = Context.Request.Query["Status"].ToString()})">Other Packing Details</a> </li>
														<li class="nav-item"> <a class="nav-link" href="@Url.Action("ShowLabelLayout", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Mode = "Edit", IsSet = "1", Status = Context.Request.Query["Status"].ToString() })">View Label Layout</a> </li>


													}
												}
											}
											else
											{
												if (Context.Request.Query["IsSet"].ToString() == "1")
												{
													<li class="nav-item"> <a class="nav-link " href="@Url.Action("PackingMaterialDetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), IsSet = "1", Status = "SET", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">Packing Material Details</a> </li>
													<li class="nav-item"> <a class="nav-link" href="@Url.Action("Labeldetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), IsSet = "1", Status = "SET", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">Label Details</a> </li>
													<li class="nav-item"> <a class="nav-link active" href="@Url.Action("Otherpackingdetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), IsSet = "1", Status = "SET", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">Other Packing Details</a> </li>
													<li class="nav-item"> <a class="nav-link" href="@Url.Action("ShowLabelLayout", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), IsSet = "1", Status = "SET", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">View Label Layout</a> </li>

												}
												else
												{
													<li class="nav-item"> <a class="nav-link" href="@Url.Action("Dispatchdetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Status = "SKU", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">Stamp</a> </li>
													<li class="nav-item"> <a class="nav-link" href="@Url.Action("Handle", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Status = "SKU", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">Handle</a> </li>
													<li class="nav-item"> <a class="nav-link" href="@Url.Action("PackingMaterialDetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Status = "SKU", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">Packing Material Details</a> </li>
													<li class="nav-item"> <a class="nav-link" href="@Url.Action("Labeldetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Status = "SKU", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">Label Details</a> </li>
													<li class="nav-item"> <a class="nav-link active" href="@Url.Action("Otherpackingdetails", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Status = "SKU", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">Other Packing Details</a> </li>
													<li class="nav-item"> <a class="nav-link" href="@Url.Action("ShowLabelLayout", "ItemMaster", new { PageID = Context.Request.Query["PageID"].ToString(), ParentID = Context.Request.Query["ParentID"].ToString(), ModuleID = Context.Request.Query["ModuleID"].ToString(), ModulePageID = Context.Request.Query["ModulePageID"].ToString(), ReqValue = Context.Request.Query["ReqValue"].ToString(), Status = "SKU", SKU = Context.Request.Query["SKU"].ToString(), Desc = Context.Request.Query["Desc"].ToString() })">View Label Layout</a> </li>

												}
											}
										}
									</ul>
								</div>

								<br />

								<div class="row top10 ">
									<div class="form-group col-md-2">
										<label>Tang Tempering  </label>
										<select class="form-control select2 select2-hidden-accessible" @(isView ? "disabled" : "") style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllTangTempering">
											<option value="0">Select</option>
											@foreach (var item in Model.TangTempering_List)
											{ 
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.TangTempering)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "No")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>
									<div class="form-group col-md-2">
										<label>Tang Color </label>
										<select class="form-control select2 select2-hidden-accessible" @(isView ? "disabled" : "") style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllTangColor">
											<option value="0">Select</option>
											@foreach (var item in Model.TangColor_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.TangColor)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "No")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>


									<div class="form-group col-md-2">
										<label>Blackodising </label>
										<select class="form-control select2 select2-hidden-accessible" @(isView ? "disabled" : "") style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllBlackodising">
											<option value="0">Select</option>
											@foreach (var item in Model.Blackodising_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.Blackodising)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "No")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>

									<div class="form-group col-md-2">
										<label>Quality Seal </label>
										<select class="form-control select2 select2-hidden-accessible" @(isView ? "disabled" : "") style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllQualitySeal">
											<option value="0">Select</option>
											@foreach (var item in Model.QualitySeal_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.QualitySeal)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "No")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>

									<div class="form-group col-md-2">
										<label>Line No.</label>
										<select class="form-control select2 select2-hidden-accessible"  @(isView ? "disabled" : "")  style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllLineNo">
											<option value="0">Select</option>
											@foreach (var item in Model.LineNo_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.LineNumber)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "No")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>


									<div class="form-group col-md-2">
										<label>Hologram</label>
										<select class="form-control select2 select2-hidden-accessible" @(isView ? "disabled" : "") style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllHologram">
											<option value="0">Select</option>
											@foreach (var item in Model.Hologram_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.Hologram)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "No")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>


									<div class="form-group col-md-2">
										<label>Price Sticker</label>
										<select class="form-control select2 select2-hidden-accessible" @(isView ? "disabled" : "") style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllPriceSticker">
											<option value="0">Select</option>
											@foreach (var item in Model.PriceSticker_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.PriceSticker)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "No")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>

									<div class="form-group col-md-2">
										<label>Made in India</label>
										<select class="form-control select2 select2-hidden-accessible" @(isView ? "disabled" : "") style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllMadeInIndia">
											<option value="0">Select</option>
											@foreach (var item in Model.MadeInIndia_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.MadeInIndia)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "No")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>
									<div class="form-group col-md-2">
										<label>Polythene Bag</label>
										<select class="form-control select2 select2-hidden-accessible" @(isView ? "disabled" : "") style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllPolytheneBag">
											<option value="0">Select</option>
											@foreach (var item in Model.PolytheneBag_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.PolytheneBag)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "No")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>


									<div class="form-group col-md-2">
										<label>Silica Gel</label>
										<select class="form-control select2 select2-hidden-accessible"  @(isView ? "disabled" : "")  style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllSilicaGel">
											<option value="0">Select</option>
											@foreach (var item in Model.SilicaGel_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.SilicaGel)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "No")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>


									<div class="form-group col-md-2">
										<label>Fumigation</label>
										<select class="form-control select2 select2-hidden-accessible"  @(isView ? "disabled" : "")  style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllFumigation">
											<option value="0">Select</option>
											@foreach (var item in Model.Fumigation_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.Fumigation)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "No")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>


									<div class="form-group col-md-2">
										<label>Promotional Item</label>
										<select class="form-control select2 select2-hidden-accessible"  @(isView ? "disabled" : "")  style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllPromotionalItem">
											<option value="0">Select</option>
											@foreach (var item in Model.PromotionalItem_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.PromotionalItem)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "No")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>


									<div class="form-group col-md-2">
										<label>Strap</label>
										<select class="form-control select2 select2-hidden-accessible" @(isView ? "disabled" : "") style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllStrap">
											<option value="0">Select</option>
											@foreach (var item in Model.Strap_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.Strap)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "NO")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>


									<div class="form-group col-md-2">
										<label>Cello Tape</label>
										<select class="form-control select2" id="dllCelloTape" @(isView ? "disabled" : "") onchange="OnchangeCellTape()">
											<option value="0">Select</option>
											@foreach (var item in Model.CelloTape_List)
											{
												var isSelected = false;

												if (Model.OtherPackingForEditDetails != null &&
												item.LookupId == Model.OtherPackingForEditDetails.CelloTape)
												{
													isSelected = true;
												}
												else if (Model.OtherPackingForEditDetails == null &&
												item.LookupValue.Trim().ToLower() == "no")
												{
													isSelected = true;
												}

												<option value="@item.LookupId" selected="@(isSelected ? "selected" : null)">
													@item.LookupValue
												</option>
											}
										</select>
									</div>



									<div class="form-group col-md-2">
										<label>Shrink Wrap</label>
										<select class="form-control select2 select2-hidden-accessible"  @(isView ? "disabled" : "")  style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllShrinkWrap">
											<option value="0">Select</option>
											@foreach (var item in Model.ShrinkWrap_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.ShrinkWrap)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "No")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>


									<div class="form-group col-md-2">
										<label>Paperwool</label>
										<select class="form-control select2 select2-hidden-accessible" @(isView ? "disabled" : "") style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllPaperwool">
											<option value="0">Select</option>
											@foreach (var item in Model.Paperwool_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.Paperwool)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "No")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>


									<div class="form-group col-md-2">
										<label>PO No.</label>
										<select class="form-control select2 select2-hidden-accessible"  @(isView ? "disabled" : "")  style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllPONO">
											<option value="0">Select</option>
											@foreach (var item in Model.PONO_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.PONO)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "No")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>


									<div class="form-group col-md-2">
										<label>Pre Inspection</label>
										<select class="form-control select2 select2-hidden-accessible"  @(isView ? "disabled" : "")  style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllPreInspection">
											<option value="0">Select</option>
											@foreach (var item in Model.PreInspection_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.PreInspection)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "No")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>


									<div class="form-group col-md-2">
										<label>Stencil</label>
										<select class="form-control select2 select2-hidden-accessible" @(isView ? "disabled" : "") style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllStencil">
											<option value="0">Select</option>
											@foreach (var item in Model.Stencil_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.Stencil)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "No")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>


									<div class="form-group col-md-2">
										<label>Insert Quality Card</label>
										<select class="form-control select2 select2-hidden-accessible" @(isView ? "disabled" : "") style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllInsertQualityCard">
											<option value="0">Select</option>
											@foreach (var item in Model.InsertQualityCard_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.InsertQualityCard)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "No")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>


									<div class="form-group col-md-2">
										<label>Bar Code(Wrapper1) </label>
										<select class="form-control select2 select2-hidden-accessible"  @(isView ? "disabled" : "")  style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllBarCodeWrapper1">
											<option value="0">Select</option>
											@foreach (var item in Model.BarCodeWrapper1_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.BarCodeWrapper1)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "NO")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>


									<div class="form-group col-md-2">
										<label>Bar Code(Wrapper2) </label>
										<select class="form-control select2 select2-hidden-accessible" @(isView ? "disabled" : "") style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllBarCodeWrapper2">
											<option value="0">Select</option>
											@foreach (var item in Model.BarCodeWrapper2_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.BarCodeWrapper2)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "NO")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>

									<div class="form-group col-md-2">
										<label>Bar Code(Inner)  </label>
										<select class="form-control select2 select2-hidden-accessible"  @(isView ? "disabled" : "")  style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllBarCodeInner">
											<option value="0">Select</option>
											@foreach (var item in Model.BarCodeInner_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.BarCodeInner)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "NO")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>


									<div class="form-group col-md-2">
										<label>Bar Code(Outer)  </label>
										<select class="form-control select2 select2-hidden-accessible" @(isView ? "disabled" : "") style="width: 100%;" tabindex="-1" aria-hidden="true" id="dllBarCodeOuter">
											<option value="0">Select</option>
											@foreach (var item in Model.BarCodeOuter_List)
											{
												@if (Model.OtherPackingForEditDetails != null && item.LookupId == Model.OtherPackingForEditDetails.BarCodeOuter)
												{
													<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
												}
												else
												{
													if (item.LookupValue == "NO")
													{
														<option selected="selected" value="@item.LookupId">@item.LookupValue</option>
													}
													else
													{
														<option value="@item.LookupId">@item.LookupValue</option>
													}
												}
											}
										</select>
									</div>

									<div class="col-md-12">
										@*
										<div class="row">
										 	<div class="form-group col-md-6">
												<label>SAP Description</label>
												@Html.TextAreaFor(m => m.OtherPackingForEditDetails.SapDescription,
												new { @class = "form-control", id = "txtSapDescription", disabled = isView ? "disabled" : null })

											</div>
											<div class="form-group col-md-6">
												<label>Remark</label>												
												@Html.TextAreaFor(m => m.OtherPackingForEditDetails.Remark,
												new { @class = "form-control", id = "txtRemark", disabled = isView ? "disabled" : null })

											</div>
											

										</div>
										 *@
										<div class="row">
											<div class="form-group col-md-6">
												<label>SAP Description</label>
												@Html.TextAreaFor(m => m.OtherPackingForEditDetails.SapDescription,
												isView
												? new { @class = "form-control", id = "txtSapDescription", disabled = "disabled" }
												: new { @class = "form-control", id = "txtSapDescription" })
											</div>
											<div class="form-group col-md-6">
												<label>Remark</label>
												@Html.TextAreaFor(m => m.OtherPackingForEditDetails.Remark,
																								isView
																								? new { @class = "form-control", id = "txtRemark", disabled = "disabled" }
																								: new { @class = "form-control", id = "txtRemark" })
											</div>
										</div>




									</div>



									<!-- /.col-md-6 -->
									<!-- /.row -->
								</div><!-- /.container-fluid -->
								<div id="disabledclass">
									<div class="btnwidth50 float-right ">
										<button type="button" id="btnSubmit"
												class="btn btn-primary btn-xs btnwidth50 "
												onclick="AddOtherPackingObjData('Submitted');"
												title="Go to the next page">
											Submit
										</button>
									</div>
									<div class="btnwidth50 float-right mr-1">
										<button type="button" id="btnSave"
												class="btn btn-primary btn-xs btnwidth50 "
												onclick="AddOtherPackingObjData('Saved');"
												title="Save the current record">
											Save
										</button>
									</div>
								</div>
								@* <script>
									function showAlert() {
									  alert("Other Packing Details Saved Successfully!");
									  window.location.href = "Show-Label-Layout_View.html"; // Replace with your desired URL or page
									}
								</script>

								<script>
									function showAlert() {
									  alert("Other packing details Submitted successfully!");
									  window.location.href = "Show-Label-Layout_View.html"; // Replace with your desired URL or page
									}
								</script> *@

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>		
	</section>

</div>


<script>
	  var JwToken = '@ViewBag.JWTToken';
	  var blobStorageUrl = '@ViewBag.ApiUrl';
	  let blobPathPrefix = '@ViewBag.BaseBlobPath';
	 var Display = '@Context.Request.Query["Display"]';
	   $(document).ready(function () {
		if (Display.toUpperCase() === "VIEW") {
			$("#disabledclass").hide();
		}
	});
	function OnchangeCellTape() {
		var CelloTapeId = $("#dllCelloTape").val();

		var json = {
			CelloTapeId: CelloTapeId
		};

		var JsonData = JSON.stringify(json);

		$.ajax({
			type: 'POST',
			url: '@Url.Action("GetSelectedCelloTape", "ItemMaster")',
			data: { JsonData: JsonData },
			datatype: 'json',
			success: function (data) {
				$("#cellotapepopup").modal("show");
				OpenDocument(data.celloTapeImage[0].ImageFileName);
			}
		});
	}

		async function OpenDocument(FileName) {	
		const path = 'others\\cellotape\\';

		 const blobpath = (normalizePathPrefix(blobPathPrefix) + normalizePathPrefix(path)).toLowerCase()+ FileName;

		const JSONData = {
			blobPath: blobpath,
			asSas: false,
			downloadFileName: FileName
		};

		try {
			$('#loader').show();

			const response = await $.ajax({
				url: blobStorageUrl + 'Files/get',
				headers: { Authorization: 'Bearer ' + JwToken },
				type: "POST",
				contentType: "application/json",
				data: JSON.stringify(JSONData),
				xhrFields: { responseType: 'blob' }
			});

			if (response && response.size > 0) {
				const objectURL = URL.createObjectURL(response);

				// Clear previous image
				const imageContainer = document.getElementById('imageContainer');
				imageContainer.innerHTML = "";

				// Create new image
				const imgElement = document.createElement("img");
				imgElement.src = objectURL;
				imgElement.alt = FileName;
				imgElement.style.maxWidth = "100%";
				imgElement.style.borderRadius = "8px";
				imgElement.style.boxShadow = "0 0 6px rgba(0,0,0,0.2)";

				imageContainer.appendChild(imgElement);

				// Optional: cleanup URL after 5s
				setTimeout(() => URL.revokeObjectURL(objectURL), 5000);
			} else {
				alert("⚠️ File not found or empty.");
			}
		} catch (error) {
			console.error("❌ Error fetching document:", error);			
		} finally {
			$('#loader').hide();
		}
	}

	// async function OpenDocument(FileName) {
	// 	var JwToken = '@ViewBag.JWTToken';
	// 	var url1 = '@ViewBag.ApiUrl';
	// 	const apiUrl = url1 + 'UploadAndDownLoadFile/DownloadAsync';
	// 	var path = 'others\\cellotape\\';

	// 	const request = {
	// 		FileName: path + FileName
	// 	};

	// 	try {
	// 		const response = await fetch(apiUrl, {
	// 			method: "POST",
	// 			headers: {
	// 				"Content-Type": "application/json",
	// 				Authorization: 'Bearer ' + JwToken
	// 			},
	// 			body: JSON.stringify(request),
	// 		});

	// 		if (!response.ok) {
	// 			console.error("Network response was not ok");
	// 			return;
	// 		}

	// 		// Get the image blob
	// 		const blob = await response.blob();
	// 		const objectURL = URL.createObjectURL(blob);

	// 		// Clear any existing image in the container
	// 		var imageContainer = document.getElementById('imageContainer');
	// 		imageContainer.innerHTML = ""; // This removes all child elements in the container

	// 		// Create a new image element
	// 		var imgElement = document.createElement("img");
	// 		imgElement.src = objectURL;
	// 		imgElement.alt = FileName;
	// 		imgElement.style.maxWidth = "100%"; // Adjust this if needed

	// 		// Append the new image to the container
	// 		imageContainer.appendChild(imgElement);
	// 	} catch (error) {
	// 		console.error("Error:", error);
	// 	}
	// }

	function AddOtherPackingObjData(ActionFlag) {
		var TangTemperingId = $("#dllTangTempering").val();
		var TangColorId = $("#dllTangColor").val();
		var BlackodisingId = $("#dllBlackodising").val();
		var QualitySealId = $("#dllQualitySeal").val();
		var LineNoId = $("#dllLineNo").val();
		var HologramId = $("#dllHologram").val();
		var PriceStickerId = $("#dllPriceSticker").val();
		var MadeInIndiaId = $("#dllMadeInIndia").val();
		var PolytheneBagId = $("#dllPolytheneBag").val();
		var SilicaGelId = $("#dllSilicaGel").val();
		var FumigationId = $("#dllFumigation").val();
		var PromotionalItemId = $("#dllPromotionalItem").val();
		var StrapId = $("#dllStrap").val();
		var CelloTapeId = $("#dllCelloTape").val();
		var ShrinkWrapId = $("#dllShrinkWrap").val();
		var PaperwoolId = $("#dllPaperwool").val();
		var PONOId = $("#dllPONO").val();
		var PreInspection = $("#dllPreInspection").val();
		var StencilId = $("#dllStencil").val();
		var InsertQualityCardId = $("#dllInsertQualityCard").val();
		var BarCodeWrapper1Id = $("#dllBarCodeWrapper1").val();
		var BarCodeWrapper2Id = $("#dllBarCodeWrapper2").val();
		var BarCodeInnerId = $("#dllBarCodeInner").val();
		var BarCodeOuterId = $("#dllBarCodeOuter").val();
		var SapDescription = $("#txtSapDescription").val();
		var Remark = $("#txtRemark").val();

		var OtherPackingobjarr = {};


		OtherPackingobjarr.TangTempering = TangTemperingId;
		OtherPackingobjarr.TangColor = TangColorId;
		OtherPackingobjarr.Blackodising = BlackodisingId;
		OtherPackingobjarr.QualitySeal = QualitySealId;
		OtherPackingobjarr.LineNo = LineNoId;
		OtherPackingobjarr.Hologram = HologramId;
		OtherPackingobjarr.PriceSticker = PriceStickerId;
		OtherPackingobjarr.MadeInIndia = MadeInIndiaId;
		OtherPackingobjarr.PolytheneBag = PolytheneBagId;
		OtherPackingobjarr.SilicaGel = SilicaGelId;
		OtherPackingobjarr.Fumigation = FumigationId;
		OtherPackingobjarr.PromotionalItem = PromotionalItemId;
		OtherPackingobjarr.Strap = StrapId;
		OtherPackingobjarr.CelloTape = CelloTapeId;
		OtherPackingobjarr.ShrinkWrap = ShrinkWrapId;
		OtherPackingobjarr.Paperwool = PaperwoolId;
		OtherPackingobjarr.PONO = PONOId;
		OtherPackingobjarr.PreInspection = PreInspection;
		OtherPackingobjarr.Stencil = StencilId;
		OtherPackingobjarr.InsertQualityCard = InsertQualityCardId;
		OtherPackingobjarr.BarCodeWrapper1 = BarCodeWrapper1Id;
		OtherPackingobjarr.BarCodeWrapper2 = BarCodeWrapper2Id;
		OtherPackingobjarr.BarCodeInner = BarCodeInnerId;
		OtherPackingobjarr.BarCodeOuter = BarCodeOuterId;
		OtherPackingobjarr.SapDescription = SapDescription;
		OtherPackingobjarr.Remark = Remark;


		var Reqno = @ViewBag.NewReqNo; // Corrected variable name

		var mode = '@Context.Request.Query["Mode"]';

		var iOperationalFlag = 1;

		if (mode != '' && mode != 'undefined' && mode == 'Edit')
			iOperationalFlag = 2;
		else
			iOperationalFlag = 1;

		var iLoggedInUserID = parseInt('@Context.Session.GetInt32("CreatedBy")');

		var json = {
			Reqno: Reqno,
			iOperationalFlag: iOperationalFlag,
			ActionFlag: ActionFlag,
			iLoggedInUserID: iLoggedInUserID,
			Details: OtherPackingobjarr
		};

		var JSONInsert = JSON.stringify(json);

		$.ajax({
			type: 'POST',
			url: '@Url.Action("SaveOtherPackingDetails", "ItemMaster")',
			data: { JsonData: JSONInsert },
			datatype: 'json',
			success: function (data) {
				// alert(data.response);
				alert("Other packing details " + ActionFlag + " successfully");

				var pageID = encodeURIComponent('@Context.Request.Query["PageID"]');
				var parentID = encodeURIComponent('@Context.Request.Query["ParentID"]');
				var moduleID = encodeURIComponent('@Context.Request.Query["ModuleID"]');
				var modulePageID = encodeURIComponent('@Context.Request.Query["ModulePageID"]');
				var mode = '@Context.Request.Query["Mode"]';
				var finalMode = mode ? encodeURIComponent(mode) : 'Edit';
				var Display = '@Context.Request.Query["Display"]';
				var Status = encodeURIComponent('@Context.Request.Query["Status"]');
				//var ReqType = encodeURIComponent('@Context.Request.Query["ReqType"]');
				 var redirectUrl;
				if (Display == 'Approval') {
					   redirectUrl = '@Url.Action("ShowLabelLayout", "ItemMaster")' +
						'?PageID=' + pageID +
						'&ParentID=' + parentID +
						'&ModuleID=' + moduleID +
						'&ModulePageID=' + modulePageID +
						'&ReqValue=' + Reqno +
						'&Mode=Edit'+
						'&Display=Approval&Status=' + Status;
				}
				else if (Display == 'LabelLayout') {
					   redirectUrl = '@Url.Action("ShowLabelLayout", "ItemMaster")' +
						'?PageID=' + pageID +
						'&ParentID=' + parentID +
						'&ModuleID=' + moduleID +
						'&ModulePageID=' + modulePageID +
						'&ReqValue=' + Reqno +
						'&Mode=Edit'+
						'&Display=LabelLayout&Status=' + Status;
				}
				else if (finalMode == 'Edit') {
					redirectUrl = '@Url.Action("ShowLabelLayout", "ItemMaster")' +
						'?PageID=' + pageID +
						'&ParentID=' + parentID +
						'&ModuleID=' + moduleID +
						'&ModulePageID=' + modulePageID +
						'&ReqValue=' + Reqno +
						'&Mode=' + finalMode+'&Status=' + Status;
				}			
				else {
					var redirectUrl = '@Url.Action("ShowLabelLayout", "ItemMaster")' +
						'?PageID=' + pageID +
						'&ParentID=' + parentID +
						'&ModuleID=' + moduleID +
						'&ModulePageID=' + modulePageID +
						'&ReqValue=' + Reqno +
						'&Mode=' + finalMode+'&Status=' + Status;
				}

				window.location.href = redirectUrl;

			},
			error: function () {
				alert('Error occurred while processing your request.');
			}
		});
	}


</script>